<ul>
  <li><%= @webhook_endpoint.request_method %>: <%= @webhook_endpoint.target_url %></li>
</ul>
<% if @webhook_events.length > 0 %>
  <table class="table table-bordered table-striped table-responsive" id="webhook-events-table">
    <thead>
      <tr>
        <td rowspan="2"><%= _('Date') %></td>
        <td rowspan="2"><%= _('Status Code') %></td>
        <td class="width100" colspan="3"><%= _('Request') %></td>
        <td class="width100" colspan="2"><%= _('Response') %></td>
      </tr>
      <tr>
        <td class="second-row"><%= _('Url') %></td>
        <td class="second-row"><%= _('Payload') %></td>
        <td class="second-row"><%= _('Headers') %></td>
        <td class="second-row"><%= _('Data') %></td>
        <td class="second-row"><%= _('Headers') %></td>
      </tr>
    </thead>
    <tbody>
      <% @webhook_events.each do |event| %>
        <tr class="smallPrint">
          <td><%= event.created_at.in_time_zone.to_formatted_s(:db) %></td>
          <td><%= event.response_status_code %></td>
          <td><%= event.request_method%>: <%= event.request_url %></td>
          <td><%= event.request_payload %></td>
          <td><%= event.request_headers %></td>
          <td title="<%= h event.response_payload %>"><%= h event.response_payload&.truncate(100) %></td>
          <td title="<%= h event.response_headers %>"><%= h event.response_headers&.truncate(100) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<p><%= _('No webhooks have been triggered yet') %></p>
<% end %>
