<%= mail_styles(:hr) %>

<h3 style="<%= mail_styles(:text, :h3) %>">A team recognition for <%= @team.name %>.</h3>

<table style="<%= mail_styles(:table) %> margin-bottom: 50px;">
  <tr>
    <td>
      <p style="<%= mail_styles(:p) %>">
        <%= @recognition.comments_allowed? ? t("recognition_notifier.view_comment_share_recognition") : t("recognition_notifier.view_share_recognition")%>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-bottom: 15px">
        <a style="<%= mail_styles(:button) %> margin-bottom: 15;" href="<%= recognition_url(@recognition) %>">
          <% if @recognition.comments_allowed? %>
            <%= t("recognition_notifier.comment_on_recogntion") %>
          <% else %>
            <%= t("recognition_notifier.view_recognition") %>
          <% end %>
        </a>
      </div>
      <div style="<%= mail_styles(:hr_styles)%> margin: 15px 0;"></div>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to user_recognition_url(@sender, network: @sender.network), style: mail_styles(:text, :a) do %>
          <%= t("recognition_notifier.send_recognition_to", name: @sender.full_name) %>
      <% end %>
    </td>
  </tr>
</table>
