<div class="top-pane clearfix">
  <div class="title-wrapper">
    <h1><%= t("dict.hall_of_fame") %></h1>
    <p><%= t("hall_of_fame.description") %></p>
    <% if @team %>
      <h2><%= @team.name %></h2>
    <% elsif @badge %>
      <h2>
        <%= image_tag @badge.image.small_thumb.url, class: "badge-graphic" %>      
        <%= @badge.short_name %>
      </h2>
    <% end %>

  </div>

  <%= pagelet current_winners_hall_of_fame_index_path %>

</div>

<div class="main-pane">
  <%= render "toolbar" %>

  <% if params[:group_by] == "team" %>
    <%= render "by_team" %>
  <% else %>
    <%= render "by_badge" %>
  <% end %>
</div>
