<div id="summary" class="article-list">
  <h2>Highlights</h2>
  <ul class="bullet-list">
    <li>Younger demographics may be more excited about receiving additional PTO and fun experiences as an employee recognition reward</li>
    <li>Women, entry-level employees, and those in lower income levels may need to receive more employee recognition and, overall, better employee recognition than they currently are</li>
  </ul>

  <h3>How to read report</h3>
  <p>Questions are measured on a Likert Item from 1: Strongly Disagree to 5: Strongly Agree.</p>
</div>

<div id="age" class="article-list">
  <h2>Employee recognition preferences by age</h2>

  <h3>Younger folks appreciate paid time off</h3>
  <p>Younger employees tended to prefer additional paid time off as an employee recognition reward more than older employees.</p>

  <h4>Q: When receiving recognition at my company, I prefer additional paid time off.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-1.png", alt: "Younger employees prefer paid time off than older folks." %>
  <hr class="hr hr-space">
  <h3>Younger employees prefer experiences as an employee reward</h3>
  <p>Compared to older employees.</p>
  <h4>Q: When receiving recognition at my company, I prefer experiences, such as a massage or sky dive trip.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-2.png", alt: "Younger employees prefer experiences as employee reward than older folks." %>
  <hr class="hr hr-space">

  <h3>Younger employees prefer company trips more than older employees</h3>
  <h4>Q: Do you like to go on a company trip or retreat for a holiday reward?</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-3.png", alt: "Younger employees prefer company trips as employee reward than older folks." %>
  <hr class="hr hr-space">
</div>
<div id="gender" class="article-list">
  <h2>Employee recognition preferences by gender</h2>
  <h3>Men slightly prefer public recognition</h3>
  <p>Whereas women slightly preferred being recognized in private, either from a manager or company.</p>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-4.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">

  <h3>Women are less satisified with the frequency of recognition they receive</h3>
  <p>Female employees were slightly less satisfied with how often they received employee recognition. This might be due to less frequent recognition than men but without further analysis it is hard to tell at this time.</p>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-5.png", alt: "Younger employees prefer company trips as employee reward than older folks." %>
  <hr class="hr hr-space">

  <h3>Overall, women are less satifisied with the employee recognition they receive in general</h3>
  <p>Compared to their male colleagues.</p>

  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-6.png", alt: "Younger employees prefer company trips as employee reward than older folks." %>
  <hr class="hr hr-space">
</div>

<div id="job_level" class="article-list">
  <h2>Employee recognition preferences by job level</h2>
  <h3>Senior employees are more satisfied with how often they receive employee recognition</h3>
  <p>As might be expected, employees with more senior job levels tended to be more satisfied with how often they received employee recognition.</p>
  <h4>Q: I have been satisfied with how often my company gives me recognition.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-7.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">

  <h3>Senior employees are more satisfied with how they receive employee recognition</h3>
  <p>Overall, employees with more senior job levels tended to be more satisfied with the employee recognition they received.</p>
  <h4>Q: I have been satisfied with how often my company gives me recognition.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-8.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">
</div>

<div id="income_level" class="article-list">
  <h2>Employee recognition preferences by income level</h2>
  <h3>Higher income very slightly preferred cash rewards</h3>
  <p>Employees with a higher income level had a greater preference for cash rewards as a way to receive employee recognition. We must note that we were unable to report the statistical variance, and thus the results for this may actually be the same for the general population.</p>
  <h4>Q: When receiving recognition at my company, I prefer cash rewards.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-9.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">

  <h3>Lower income employees prefer merchandise more than higher income</h3>
  <p>Merchandise, which is already not employees’ preferred way to get recognition, became slightly more disfavored as income level increased.</p>
  <h4>Q: When receiving recognition at my company, I prefer merchandise.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-10.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">

  <h3>Job title and income preferences are similar for employee recognition</h3>
  <p>Similar to the observations by job levels, employees with higher income levels also tended to be slightly more satisfied with how often they received employee recognition.</p>
  <h4>Q: I have been satisfied with how often my company gives me recognition.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-11.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">

  <h3>Overall, higher income employees slightly are more satisified with employee recognition</h3>
  <p>(Results are an average of three Likert Items that examined the construct of how satisfied employees were with the employee recognition they received. The Likert Items were measured from 0: Strongly Disagree to 4: Strongly Agree.</p>

  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-12.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">
</div>

<div id="education" class="article-list">
  <h2>Employee recognition preferences by education level</h2>
  <div class="well marginBottom20">
    <h3>Take away</h3>
    <p>Those who completed a higher level of education were more likely to appreciate recognition.</p>
    <p>A hypothesis is that those with a higher level of education are more likely to be in job positions that offer ample employee recognition, and therefore they are also more appreciative of it. Further analysis is required to dig into this topic.</p>
  </div>
  <h4>Q: I appreciate being publicly recognized by my company for my contributions.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-13.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">
</div>

<div id="miscellaneous" class="article-list">
  <h2>Miscellaneous</h2>
  <h3>Contrary to intuition, nurses who worked longer hours did not prefer more paid time off as an employee recognition reward.</h3>
  <p>It is unknown why this is the case, and whether this is specific to nurses or a sign of a general trend across industries. Again, further analysis in future studies will look at this in more detail.</p>
  <h4>Q: When receiving recognition at my organization, I prefer additional paid time off.</h4>
  <%= lazy_image_tag "pages/articles/2019_employee_recognition_report/graph-14.png", alt: "Women slightly prefer private recognition and men prefer public." %>
  <hr class="hr hr-space">
</div>

<div id="conclusion" class="article-list">
  <h2>Conclusion</h2>
  <p>This report is a valuable follow-up on last year’s report of employee recognition statistics. Keep in mind that these are still initial investigations and further research studies will be needed to establish results, as well as to determine the practical significance of these results.</p>
  <p>Regardless, the findings are certainly exciting. As we implement employee recognition programs, instead of providing the same rewards to everyone, we would benefit from considering the backgrounds of our employees and tailoring recognition to something that they find truly valuable.</p>
  <p>Written by <strong>Rigel Kim</strong></p>
</div>

<%= render partial: "articles/contact_us" %>
