<div class="well marginBottom50">
  <h3>5 Modern Employee Recognition Tips</h3>
  <ol class="numbered">
    <li>Highlight a specific action/achievement by the employee.</li>
    <li>Tie the recognition to a company value.</li>
    <li>Publicize the recognition amongst your team and company.</li>
    <li>Aim to recognize your employees on a regular basis (e.g. monthly or quarterly).</li>
    <li>Incorporate employee recognition into your performance management plan.</li>
  </ol>
</div>


<div id="2018_trends" class="article-list">
  <h2 class="balance-text">2018 Employee Recognition & Staff Rewards Trends</h2>

  <%= lazy_image_tag "pages/article-2019-recognition-trends/image-2.jpg", alt: "employee recognition trends in 2018.", class: "marginBottom30", itemprop: "image" %>

  <p>Several recognition trends have been observed throughout 2018. First, there’s been a noticeable shift in the broadcasting of employee recognition. While traditional recognition efforts were usually more of a private affair, <strong>a growing number of employees actually prefer to be publicly recognized</strong> for their achievements (<a href="https://www.forbes.com/sites/forbescommunicationscouncil/2018/02/28/recognition-in-the-workplace-its-not-what-you-think-it-is/#638d34b53da5" target="_blank">Danna, 2018</a>). And secondly, HR functions are becoming increasingly digitized and consolidated. Although traditional functions (e.g. payroll) have been automated for a while, <strong>new HR technology is digitizing different aspects of the employee experience</strong> – such as employee satisfaction and retention (<a href="https://www.forbes.com/sites/joshbersin/2017/01/30/a-new-wave-of-hr-technology-consolidation-begins/#76dab116768a" target="_blank">Bersin, 2017</a>). Both these developments reflect the increasing attention that employee recognition is receiving from business leaders in terms of their human capital strategy.</p>

  <p>Additionally, multiple 2018 trends have been observed in terms of rewards. First, retail merchandise has been decreasing in popularity as form of employee compensation. Despite the former popularity of these items, there’s been <strong>a societal shift towards less ‘garage clutter’ and more cash-based rewards</strong> (<a href="https://www.insperity.com/blog/employee-bonus/" target="_blank">Messina, 2018</a>). And secondly, there’s been a change in the role of rewards as motivators for employee performance. While the intrinsic satisfaction of ‘going above and beyond’ used to be a key motivator, <strong>more companies now view rewards as an effective form of extrinsic motivation</strong> for their employees (<a href="https://pdfs.semanticscholar.org/3f44/f35d1779ea91896c9f443904aab90c2d9511.pdf" target="_blank">Cerasoli, Nicklin, & Ford, 2014</a>). So both these changes signal the changing employee perceptions of rewards.</p>

  <div class="well marginBottom50">
    <h3>Great Ideas for Employee Rewards</h3>
    <ol>
      <li class="marginBottom10">
        <h4>Cash Rewards</h4>
        <p>This grants your employees unrestricted autonomy over their rewards spending. Have it go through your own payroll system, and then you don't have to handle tax separately. According to Recognize research, cash is the #1 form of employee reward.</p></li>
      <li class="marginBottom10">
        <h4>“Coffee with the Boss”</h4>
        <p>This allows your employees to meet and build relationships with company leaders. Other employee reward ideas include pizza party or cooking class for a group of employees.</p></li>
      <li>
        <h4>Paid Time-Off</h4>
        <p>This gives your employees an opportunity to improve their work-life balance. According to our research, healthcare professionals want paid time off for an employee reward as much as cash.</p>
      </li>
      <li>
        <h4>Tied to Performance</h4>
        <p>Our research shows employees crave recognition and money. Don't let giving away money backfire or misfire. Ensure the employee reward is tied to performance. Utilize the gamification acronym SAPS. Give status, access, power, and finally stuff as an employee reward. Combine them for a much stronger employee reward.</p>
      </li>
    </ol>
  </div>
</div>


<div id="2019_trends" class="article-list">

  <h2 class="balance-text">2019 Employee Recognition & Employee Rewards Predictions</h2>

  <p>With the upcoming New Year, companies are starting to brainstorm ideas for enhancing their employee reward strategies. The growing demand for more public and frequent recognition should <strong>pressure companies into adopting more routine acknowledgement processes</strong> – in order to retain top-performers (<a href="https://resources.globoforce.com/globoforce-blog/6-new-stats-for-employee-recognition-skeptics" target="_blank">Payne, 2017</a>). And data links between workplace recognition and employee outcomes will exponentially increase. There will be <strong>a growing demand to investigate the impact of employee recognition on staff retention</strong> – but only 14% of companies have platforms with the proper reporting tools (<a href="https://www.business2community.com/human-resources/10-employee-recognition-stats-cant-ignore-01878458" target="_blank">Heller, 2017</a>). So both predictions will require some type of digital platform that can not only facilitate the recognition process, but also provide metrics around its impact on the employee experience.</p>

  <%= lazy_image_tag "pages/article-2019-recognition-trends/survey.jpg", alt: "A woman receiving an employee reward.", class: "marginBottom30", itemprop: "image", width: 600, height: 116 %>
  <caption>The most popular employee rewards options (Source: Recognize survey data)</caption>

  <p>Similarly, companies should also decide which types of rewards to prioritize for their employees. Given changing preferences from material to monetary goods, <strong>cash-based rewards are going to become the norm</strong> for employee recognition. According to Recognize’s November 2018 client survey, cash rewards (e.g. gift cards, cash, and certificates) ranked as the 3 most popular employee incentives for motivation. And extrinsic rewards are predicted to become the core motivators for employee performance. Since intrinsic motivation alone is no longer enough to maximize employee productivity, <strong>more companies will need to offer extrinsic rewards to drive employee performance</strong> (<a href="https://www.forbes.com/sites/forbescommunicationscouncil/2018/02/28/recognition-in-the-workplace-its-not-what-you-think-it-is/#638d34b53da5" target="_blank">Danna, 2018</a>). So ultimately these predictions require companies to rethink the form and motivational potential of their employee rewards.</p>

  <p>Further, consolidation and merging of <%= link_to 'employee recognition programs', employee_recognition_programs_path %> is expected as this third wave of HR tech continues to mature.</p>
</div>

<div id="corporate_recognition_helps" class="article-list">


  <h2 class="balance-text">How Corporate Recognition Can Help</h2>

  <%= lazy_image_tag "pages/article-2019-recognition-trends/image-4.jpg", alt: "A man holding an employee reward.", class: "marginBottom30", itemprop: "image" %>

  <p>In navigating these changing recognition and rewards trends, there are a wide range of tools that companies can leverage – including Recognize. In terms of employee recognition, the Recognize platform offers a seamless platform through which managers can publicly recognize their employees. Since <strong>over 40% of surveyed employees do not receive proper workplace recognition</strong>, acknowledging their hard work in a timely manner is key (<a href="https://resources.globoforce.com/globoforce-blog/6-new-stats-for-employee-recognition-skeptics" target="_blank">Payne, 2017</a>). So the platform strives to offer a seamless recognition experience for managers with auto-reminders, certificate templates, and email/social media integrations. And the Recognize platform also enables employees to recognize their colleagues for workplace achievements. As opposed to just being acknowledged by their manager, <strong>peer-to-peer recognition is 35% more likely to have a positive impact</strong> on the employee experience (Anderson, 2018)</a>). So it’s important for companies to invest in tools that enable them to adopt to this trend.</p>

  <div class="well">Recognition delayed is recognition denied.</div>

  <p>Also, Recognize’s platform provides a wide array of rewards options for users. In terms of monetary rewards, users can redeem their points for a wide range of e-gift cards for retail vendors. This digital redemption interface not only gives employees more spending autonomy, but it also aligns with the ongoing consolidation of HR platforms (<a href="https://www.forbes.com/sites/joshbersin/2017/01/30/a-new-wave-of-hr-technology-consolidation-begins/#76dab116768a" target="_blank">Bersin, 2017</a>). And for those employees who crave non-monetary rewards, Recognize also offers non-monetary reward options. <strong>Ranging from charitable donations to paid time-off</strong>, these choices enable companies to offer employees more than just monetary recognition (<a href="https://www.insperity.com/blog/employee-bonus/" target="_blank">Messina, 2018</a>). So it’s important to be mindful of which rewards are most appropriate for your workforce.</p>
</div>

<div id="final_thoughts" class="article-list">


  <h2 class="balance-text">Final Thoughts on Corporate Recognition &amp; Employee Rewards Trends</h2>

  <%= lazy_image_tag "pages/article-2019-recognition-trends/image-5.jpg", alt: "", class: "marginBottom30", itemprop: "image" %>

  <p>Just as the modern workplace continues to evolve with technology, so must employee recognition. While acknowledgements used to be a more private affair, there’s been a growing desire for employee rewards to become more public and streamlined within the workplace. And as intrinsic rewards no longer cut-it, extrinsic rewards have become popular motivators for employee performance. So it’s important for companies to mindful of these changing recognition and rewards trends, especially when going into 2019. Moreover, companies are expected to demonstrate employee appreciation as part of their retention strategy – and this is a core area where the Recognize team can help make an impact.</p>

  <hr>

  <%= link_to "Contact us to learn more", contact_sales_path(body: "Learn more about 2019 trends."), class: "button button-large button-primary marginBottom50", rel: "noindex,nofollow" %>

  <hr>
</div>

<h3>Questions &amp; Feedback</h3>
<p>Please email us at support@recognizeapp.com if you have any questions or feedback.</p>

<h3>Sources</h3>
<ol>
  <li>Anderson, D. (2018). “11 Surprising Statistics About Employee Recognition”. Recruiterbox. https://recruiterbox.com/blog/11-surprising-statistics-employee-recognition-infographic</li>
  <li>Bersin, J. (2017). “A New Wave Of HR Technology Consolidation Begins”. Forbes. https://www.forbes.com/sites/joshbersin/2017/01/30/a-new-wave-of-hr-technology-consolidation-begins/#76dab116768a</li>
  <li>Cerasoli, P., Nicklin, J., and Ford, M. (2014). 'Intrinsic Motivation and Extrinsic Incentives Jointly Predict Performance: A 40-Year Meta-Analysis'. Psychological Bulletin, 140(4): 980-1008. https://pdfs.semanticscholar.org/3f44/f35d1779ea91896c9f443904aab90c2d9511.pdf</li>
  <li>Danna, R. (2018). “Recognition In The Workplace: It's Not What You Think It Is”. Forbes. https://www.forbes.com/sites/forbescommunicationscouncil/2018/02/28/recognition-in-the-workplace-its-not-what-you-think-it-is/#c308cd3da55e</li>
  <li>Heller, M. (2017). “10 Employee Recognition Stats You Can’t Ignore”. Business 2 Community. https://www.business2community.com/human-resources/10-employee-recognition-stats-cant-ignore-01878458</li>
  <li>Lee, X., Yang, B., and Li, W. (2017). 'The influence factors of job satisfaction and its relationship with turnover intention: Taking early-career employees as an example'. Anales de Psicologia, 33(3): 697-707. http://scielo.isciii.es/pdf/ap/v33n3/psicologia_social1.pdf </li>
  <li>Messina, R. (2018). “Employee Bonus Programs: What’s Right for Your Company?” Insperity. https://www.insperity.com/blog/employee-bonus/</li>
  <li>Payne, S. (2017). “6 New Stats for Employee Recognition Skeptics”. Globoforce. https://resources.globoforce.com/globoforce-blog/6-new-stats-for-employee-recognition-skeptics# </li>
</ol>
