
<div id="introduction" class="article-list">

  <p>Overall, there have been <strong>two growing HR trends in recent years</strong>. In terms of the division's role, there has been a growing demand to align HR more closely with business strategies. In an effort to get their HR department a seat at the table, each company has sought to align multiple HR practices (e.g. recruitment and performance management) with their business goals (<a href="http://centaur.reading.ac.uk/66087/4/JOEPP%20060316%20Final%20.pdf" target="_blank">Brewster, Gooderham, & Mayrhofer, 2016</a>). Such a trend has convinced more business leaders to take a vested interest in HR and its management of the employee experience. And in terms of technology, more companies have started exploring ways to digitize the HR process for their employees. Ranging from online benefits enrollment to self-service portals, companies have been looking to inject a more customer-focused, collaborative approach into their HR practices (<a href="https://www.forbes.com/sites/joshbersin/2017/01/30/a-new-wave-of-hr-technology-consolidation-begins/#76dab116768a" target="_blank">Bersin, 2017</a>). These developments have led the Recognize team to make <strong>a few 2019 predictions for the changing role of HR</strong> within companies.</p>

  <div class="well marginBottom30">
    <h3>3 Tips for Navigating HR Changes Recognition Tips</h3>
    <ol>
      <li><strong>Communication is key.</strong><br>Maintain open & timely channels of communication with your stakeholders.</li>
      <li><strong>Invite feedback.</strong><br>Request employee input on proposed tools and processes.</li>
      <li><strong>Don't be afraid of tech!</strong><br>Investing in technology, will help you inject more of a customer-focus into your HR practices.</li>
    </ol>
  </div>

</div>

<div id="2018_trends" class="article-list">
  <h2>Two Major HR Trends of 2018</h2>

  <%= lazy_image_tag "pages/article-2019-hr-trends/image-2.jpg", alt: "Look back at 2018 HR trends", class: "marginBottom30", itemprop: "image" %>

  <h3>HR and Business Strategy Alignment</h3>
  <p>Throughout 2018, several trends had been observed in the HR space. First, <strong>companies have experienced an ongoing push to align their HR and business strategies</strong>. This has become most apparent through increasing consultations with HR in business decisions – especially those that directly impact stakeholders. While companies continue to research ways to cut costs while remain competitive, designing a business-aligned HR management strategy has become the norm (<a href="http://centaur.reading.ac.uk/66087/4/JOEPP%20060316%20Final%20.pdf" target="_blank">Brewster, Gooderham, & Mayrhofer, 2016</a>).</p>

  <h3>HR Digitization</h3>
  <p>Secondly, <strong>digital HR tools and ecosystems have become increasingly integrated</strong>. While more and more companies strive to "build a 'Digital HR' strategy… [with] team-centric apps on top" (<a href="https://www.forbes.com/sites/joshbersin/2017/01/30/a-new-wave-of-hr-technology-consolidation-begins/#76dab116768a" target="_blank">Bersin, 2017</a>), they’re continuously searching for HR tools with expansive integration capabilities. So there’s surging interest in consolidated, HR technologies that improve the employee experience. Both these trends have demonstrated the changing perceptions and expectations around HR, as well as potential areas of change for 2019.</p>


</div>

<div id="2019_trends" class="article-list">

  <h2>2019 HR Trends Predicted by Recognize</h2>

  <%= lazy_image_tag "pages/article-2019-hr-trends/image-3.jpg", alt: "2019 HR trends", class: "marginBottom30", itemprop: "image" %>

  <h3>Role of KPI’s in HR Practices</h3>
  <p>Well before the New Year, companies began preparations for what they anticipated to be a year of HR transformation. One prediction is that KPI’s will play a larger role in the HR practices that directly tie to a company’s bottom line (e.g. employee performance and retention). As more business leaders realize the explicit and implicit costs associated with their human capital, there will be a stronger push for leveraging KPI’s in HR practices (<a href="https://www.shrm.org/hr-today/trends-and-forecasting/special-reports-and-expert-views/Documents/HR-Strategy-Globalization.pdf" target="_blank">Wright, 2008</a>). Such a shift should greenlight more demand for programs that 'quantify' enhance job embeddedness to mitigate turnover intentions and improve retention.</p>

  <h3>Integration of IT and HR</h3>
  <p>A second prediction involves the exploration of new data verification methods (e.g. blockchain). With its growing business popularity, many companies are considering the utility of this digital ledger to automate and simplify their HR practices (<a href="https://www.forbes.com/sites/ashikahmed/2018/03/14/how-blockchain-will-change-hr-forever/#222131b3727c" target="_blank">Ahmed, 2018</a>). Although this technology was designed with cryptocurrencies in mind, there’s no doubt that it may begin to permeate into business operations in 2019. It definitely has the utility to transform HR into a more customer-focused function. Further, the Recognize team has seen more companies create cross-fucntional groups of IT and HR together to efficiently deploy and support business objectives. </p>

  <h3>Centralization of Global HR Functions</h3>
  <p>A third prediction focuses on the growing centralization of HR functions – especially within multinational companies. While corporations brainstorm new ways to manage their cross-border workforces, <strong>centralized HR shared service centers will become the norm</strong> (<a href="https://hrtrendinstitute.com/2016/01/04/6-major-trends-in-hr-shared-service-organizations/" target="_blank">Roebroek, 2016</a>). Not only will this move eliminate the need for country-specific HR teams, but it will help to further align the company’s HR activities with its global business strategy.</p>

  <h3>Adoption of 3rd Party Privacy Platforms</h3>
  <p>A fourth prediction involves the continued introduction of 3rd party privacy tools. Since companies are making a conscious effort to digitize and protect employee data, they will continue to invest in <strong>external encryption tools that ensure sufficient data privacy and protection</strong> (<a href="https://www.bamboohr.com/blog/13-hr-trends-stats-to-surprise-you/" target="_blank">De Luca, 2018</a>). Manual password creation will give way to automated password generation, and single sign-on (SSO) functionality will become the norm for employee platforms.</p>

  <h3>Growing Demand for Collaborative Communication</h3>
  <p>Finally, a fifth prediction for 2019 focuses on increasing demand for tools that facilitate collaborative communication. Ranging from enterprise platforms (e.g. Workplace by Facebook) to mobile-ready interfaces, <strong>more employers will adopt platforms that digitize employee collaboration and communication</strong> (<a href="https://techcrunch.com/2019/01/03/workplace-facebooks-enterprise-platform-adds-another-major-customer-nestle/" target="_blank">Lunden, 2019</a>). This is especially true for companies with a large percentage of remote workers, which continuously seek tools that can ‘bridge’ the communication gap between teams.</p>

</div>


<div id="corporate_recognition" class="article-list">

  <h2>How Corporate Recognition Through Recognize Can Help</h2>

  <%= lazy_image_tag "pages/article-2019-hr-trends/image-4.jpg", alt: "Illustration of thumbs up", class: "marginBottom30", itemprop: "image" %>


  <p>Given the ongoing transformation of HR, companies should invest in tools that enrich employee experiences to benefit business outcomes including Recognize. In terms of aligning HR with a company's business strategy, the Recognize platform boasts a wide range of features. These include <strong>recognition badges, which can be customized to match a company's core values, business units, or client engagements</strong>. Not only do these badges help publicize these concepts, but they also acknowledge and reward employees for putting them into action. And several reporting options are available to track employee performance through the Recognize platform. From received recognitions to self-reported tasks, <strong>managers can leverage these reports to help analyze and evaluate the performance of their direct reports</strong>. So by establishing a link between HR strategies and performance (<a href="https://www.shrm.org/hr-today/trends-and-forecasting/special-reports-and-expert-views/Documents/HR-Strategy-Globalization.pdf" target="_blank">Wright, 2008</a>), corporate recognition programs like Recognize can help further align HR with business outcomes.</p>

  <hr class="hr">
  <h3><strong>We can reinforce our core values and behaviors, and even use custom badges to set goals for people.</strong></h3>
  <br>
  <strong>Jay Friedman, COO<br>Goodway Group </strong>
  <hr class="hr">

  <p>Likewise, Recognize's platform offers a one-stop-shop portal experience for its users. In an effort to consolidate recognition and rewards data through a single platform, <strong>Recognize boasts 19+ integrations with business platforms</strong> (e.g. Outlook, Yammer, Slack, and Workplace by Facebook) to centralize recognition and rewards processes. This allows users to seamlessly utilize the tool on familiar interface without having to learn a new one. And Recognize also enables the tracking of employee milestones. Ranging from birthdays to monthly/annual work anniversaries, the employee recognition tool <strong>helps companies keep track of employee milestones and celebrate their years of service</strong>. Both features provide introduce a seamless, customer-focused approach to the employee experience, which will help companies looking to digitize this aspect of their processes.</p>
</div>


<div id="final_thoughts" class="article-list">
  <h2>Final Thoughts on HR Trends</h2>

  <%= lazy_image_tag "pages/article-2019-hr-trends/image-5.jpg", alt: "Illustration of office workers", class: "marginBottom30", itemprop: "image" %>

  <p>As the HR function continues to evolve in the modern workplace, it's crucial for companies to prepare for whatever changes lie ahead. Whether it pertains to the ongoing alignment of the HR division with the business, or consolidating HR tools into a single sign-on platform, companies should be mindful of changing HR trends especially in terms of how they impact their employee experience. For instance, companies should outsource their HR management of managing PTO requests and other tedious tasks to HR tools, such as <a href='https://www.charliehr.com' target='_blank'>CharlieHR</a>. Overall, employees expect their companies to adapt to changes in workplace organization to not only remain competitive, but to also retain talent and <strong>this is an area where the HR tech can definitely help.</strong></p>


  <%= link_to "Schedule a Recognize demo", contact_sales_path, class: "button button-large button-primary marginBottom30" %>

</div>

<hr class="hr">

<h5>About the Author</h5>
<%= lazy_image_tag "pages/article-2019-hr-trends/image-6.jpg", alt: "David Clark", class: "avatar", itemprop: "image", width: 100, height: 100 %>
<p><strong>David Clark</strong>, Customer Growth Manager
  <br>Recognize</p>
<br>
<p>With over 4 years of HR experience and a Master's degree in HR Management from the London School of Economics, David specializes in the areas of staff retention, employee enrichment, and turnover mitigation strategies.</p>

<hr class="hr hr-space">

<h3>Questions & Feedback</h3>
<p>Please email us at support@recognizeapp.com if you have any questions or feedback.</p>


<h4>Sources</h4>
<ol>
  <li>Ahmed, A. (2018). How Blockchain Will Change HR Forever. Forbes. https://www.forbes.com/sites/ashikahmed/2018/03/14/how-blockchain-will-change-hr-forever/#24933df1727c</li>
  <li>Bersin, J. (2017). A New Wave Of HR Technology Consolidation Begins. Forbes. https://www.forbes.com/sites/joshbersin/2017/01/30/a-new-wave-of-hr-technology-consolidation-begins/#76dab116768a</li>
  <li>Brewster, C., Gooderham, P., and Mayrhofer, W. (2016). Human resource management: the promise, the performance, the consequences. Journal of Organizational Effectiveness: People and Performance, 3 (2): 181≠190. http://centaur.reading.ac.uk/66087/4/JOEPP%20060316%20Final%20.pdf</li>
  <li>De Luca, R. (2018). 13 HR Trends & Statistics for 2018 That May Surprise You. Bamboo HR. https://www.bamboohr.com/blog/13-hr-trends-stats-to-surprise-you/ </li>
  <li>Lunden, I. (2019). “Workplace, Facebook’s enterprise platform, adds another major customer, Nestlé”. TechCrunch. https://techcrunch.com/2019/01/03/workplace-facebooks-enterprise-platform-adds-another-major-customer-nestle/ </li>
  <li>Roebroek, F. (2016). “6 major trends in HR Shared Services”. HR Trend Institute. https://hrtrendinstitute.com/2016/01/04/6-major-trends-in-hr-shared-service-organizations/ </li>
  <li>Smith, K. (2013). It's Time For Companies To Fire Their Human Resource Departments. Forbes. https://www.forbes.com/sites/kylesmith/2013/04/04/its-time-for-companies-to-fire-their-human-resource-departments/#273f54de2070</li>
  <li>Lee, X., Yang, B., and Li, W. (2017). 'The influence factors of job satisfaction and its relationship with turnover intention: Taking early-career employees as an example'. Anales de Psicologia, 33(3): 697-707. http://scielo.isciii.es/pdf/ap/v33n3/psicologia_social1.pdf </li>
  <li>Wright, P. (2008). Human Resource Strategy: Adapting to the Age of Globalization. Society for Human Resources Management (SHRM). https://www.shrm.org/hr-today/trends-and-forecasting/special-reports-and-expert-views/Documents/HR-Strategy-Globalization.pdf</li>
</ol>