
<div id="introduction" class="article-list">
  <h2>Intro</h2>
  <p>The Human Resources department has come a long way from being a branch of simply hiring, firing and mediating conflict.  On the contrary, with the integration of technology and a newfound emphasis on organizational culture, the concept of HR has evolved to become arguably one of the single most important and dynamic sectors of a company’s organisation.
  </p>

  <%= lazy_image_tag "pages/articles/2020-hr-trends/image1.jpg", alt: "Two people shaking hands in a meeting", class: "marginBottom30", itemprop: "image" %>

  <p>Today, HR plays a pivotal role in driving employee experiences, nurturing talent, enabling company growth and forging out unique company culture and identity. As we stand at the forefront of another decade to come, it only seems fitting to take a look at some of the HR trends that we expect to take center stage for 2020.
  </p>
  <p>
    Shaping company culture, dealing with new models of remote work, working towards diversity and inclusion and the rise of more customized personal HR are all on our radar for the coming year.
  </p>
</div>

<div id="2019_trends" class="article-list">
  <h2>A Look at 2019 Employee Recognition Predictions</h2>
  <p>Let’s look at the past. Before we consult our HR radar to see what’s to come for 2020, how did we do with our 2019 predictions?</p>

  <ul class="marginLeft30 bullet-list">
    <li><strong><i>Role of KPI’s in HR Practices - YES</i></strong>
        <p class="marginLeft30">To maintain excellence in HR practice, as well as to succeed in finding and retaining talent, KPIs have become increasingly critical for benchmarking one’s own company and using employee feedback to grow. The advent of HR analytics dashboards has made this easier, and vendors offering KPI solutions for HR are seen less and less as value-add service, and are becoming the HR standard. </p></li>
    <li><strong><i>Integration of IT and HR - YES</i></strong>
      <p class="marginLeft30">Without a doubt, the integration of IT into HR continues to redefine how we manage people, offering new capabilities to collect and interpret information on the workforce. The digitization of recruitment processes and onboarding, the role of IT in employee experiences and the increase in Startups developing HR products as well as the ongoing war for talent have IT firmly at the heart of HR. VCs also seem to be placing a safe bet on IT and HR, with Q3 of 2019 marking a global investment into HR technology worth <a href="https://larocqueinc.com/q32019vcupdate/?zd_source=hrt&zd_campaign=5411&zd_term=chiradeepbasumallick">$964million</a>.
    </p></li>
    <li><strong><i>Centralization of Global HR Functions -  NOT QUITE</i></strong>
      <p class="marginLeft30">As IT helps to streamline the practice and processes behind HR, it likewise helps to centralize models for global HR functions, which hand in hand can each help to drive efficiency and lower costs. That said, there is still momentum for decentralized HR functions, which have been known to deal better when identifying and dealing with local priorities and dealing with regional needs when it comes to HR in multiple languages.</p></li>
    <li><strong><i>Adoption of 3rd Party Privacy Platforms -YES</i></strong>
      <p class="marginLeft30">Again, as the role of technology increases in HR, so too does the need for compliance and measures for the ethical use of data. While data continues to drive efficiency and processes, companies will need to be sure that this data is handled and treated with transparency, and governance. This rising need for <a href="https://www.hrtechnologist.com/articles/hr-analytics/how-to-balance-data-collection-and-data-privacy-in-the-workplace/?zd_source=hrt&zd_campaign=5411&zd_term=chiradeepbasumallick">compliance</a> has already seen the emergence of third-party privacy platforms and audits for the protection of employee rights, individual freedom, privacy, and the assurance of a free and fair environment.
    </p></li>
    <li><strong><i>Growing Demand for Collaborative Communication - YES</i></strong>
    <p class="marginLeft30">As silos are left in the past, the future of HR continues to demand increased collaboration in communication. Everything from sharing files and content to seamless integration of applications such as Microsoft Teams, Office 365, CRM platforms, billing systems, instant message tools such as Slack and video conferencing tools will be integrated into HR to help with both centralized and decentralized HR functions.</p></li>
  </ul>
</div>

<div id="company_culture" class="article-list">

  <h2>Company Culture Matters</h2>
  <p>2020 may be the most important year yet for HR, and company culture will have a strong hand to play in this. A strong business strategy, unique selling points and cutting edge innovation are without a doubt essential for company success in a competitive market; however, one HR component continues to override these factors in helping your organization prosper: company culture.
  </p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image2.jpg", alt: "Man in brown shirt shaking hands with another man in a meeting", class: "marginBottom30", itemprop: "image" %>

  <p>The entry of Millennials and Generation Z into the workplace has redefined a new narrative within HR when it comes to recruitment and retention, placing a new kind of onus on companies. Where reputation, salary and attractive benefits may once have offered a convenient one size fits all solution in attracting and retaining talent, this is no longer the case. A recent Gallup study has found that the emerging generation of workers now prioritizes purpose and passion over paychecks, and with wellness being championed over burnout, the HR of 2020 will be doubling down on efforts to carve out a unique company culture that offers a holistic and meaningful employee experience from within<sup>1</sup>.
  </p>

  <p>While the perks of the office pool table, complimentary snacks and happy hour are all nice to have, authentic company culture will go beyond fringe benefits to strive for meaningfulness, foster personal growth and inspire collaboration among employees. With this in mind, we expect to see the below tools take on a newfound importance in attracting and retaining top talent on the market:
  </p>

  <ul class="bullet-list">
    <li>Platforms supporting collaborative communication </li>
    <li>Software that encourages recognition and rewards</li>
    <li>Initiatives that contribute to well being in the workplace </li>
    <li>Projects encouraging employee activism and volunteering</li>
  </ul>

  <p>Building a culture from within goes beyond providing the perks for short term happiness, long term strategies that seek to empower and engage employees in helping shape company identity will be essential. For example, many organizations encourage employee activism through volunteer programs, <%=link_to 'this', run_volunteer_program_path %>, in turn,  creates a sense of commitment, involvement and pride for the company itself. We’re excited to see the extent of innovation and imagination that companies will go to in pursuit of stellar company culture for 2020.
  </p>

</div>


<div id="workplace_diversity_and_inclusion" class="article-list">

  <h2>Workplace Diversity and Inclusion</h2>
  <p>While it may once have been considered lip service or a symbolic gesture towards HR compliance, diversity and inclusion in the workplace can be expected to play an increasing role in business models and HR.</p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image3.jpg", alt: "Four people bumping fists", class: "marginBottom30", itemprop: "image" %>


  <p>Intel for example, recently shared a new rule entitled “Intel Rule” that prevents the company from partnering with any law firm that has an average or below-average diversity score from 2021 onwards, a no-nonsense approach to highlighting a lack of progress in diversity and inclusion up to now, stating<sup>2</sup>:</p>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: "If we want to shape the future of technology, our workforce must be representative of that future.  . . .'' We feel a sense of responsibility to continue to lead the industry in this space by raising the transparency bar for ourselves and, as a result, raising it for others"
  }} %>
  <p>The argument for a more diverse workplace also continues to be championed as a key enabler of growth, bringing creative problem solving and innovation in the face of more homogeneous groups and teams. As we enter into a multi generational workforce, putting Generation Z, Millennials, Baby boomers and Generation X each side by side in the workplace for the first time, HR will likewise need to cater for the new dynamic this presents around employee experiences<sup>3</sup>. Technology and further integration of IT into HR will have a strong role to play in providing cohesion between the multigenerational workforce, as well as recruiting for the multicultural companies of tomorrow.
  </p>
</div>


<div id="integration_of_technology" class="article-list">
  <h2>Further Integration of Technology
  </h2>
  <p>While the integration of IT into HR was a trend we flagged for 2019, we have kept it again for our 2020 predictions given that it shows no signs of slowing down anytime soon, for the coming year we’re ready to see how IT will fully digitize the end to end employee experience. </p>
  <p>Technology will further ease the process of recruitment, helping businesses not only to filter out top talent but to also recruit from wider talent pools for more diverse teams as certain tools will help remove biases from selection stages. Automation of certain processes will also bring increased agility and efficiency to recruitment, a much-needed solution for businesses scaling rapidly.
  </p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image4.jpg", alt: "Group of people sitting in office and discussing ideas", class: "marginBottom30", itemprop: "image" %>
  <p>IT solutions have now also crossed into phases of onboarding to best integrate new hires, a period that can take valuable hours from HR often answering repetitive questions. The rollout of IT into onboarding can make for a smoother, warmer welcome for new employees thanks to the emergence of certain tools, these are our ones to watch for 2020:
  </p>

  <ul class="bullet-list">
    <li><strong>Chatbots</strong> - offering real-time support answering atypical inquiries and doubts</li>
    <li><strong>Pulse surveys</strong> - for feedback on the current onboarding procedures</li>
    <li><strong>Collaborative learning tools</strong> - for onboarding and training new recruits</li>
    <li><strong>Augmented reality</strong> - gaining popularity for simulated demonstrations and orientation videos</li>
  </ul>
  <p>Again, beyond the motivation for money, Millennials and Generation Z employees will search for roles where they see a clear path for professional development, and in an era where it’s not easy to find the free time to upskill, IT can leverage upon a variety of tools to provide for this. 2019 saw an upsurge in added learning platforms that can be tailored to employee needs, even offering mobile and gamified versions for microlearning with friendly daily reminders to motivate development and growth. Some companies are already looking into the integration of Augmented Reality<sup>4</sup> for even more immersive experiences in onboarding and development.</p>


</div>

<div id="fighting_fatigue" class="article-list">
  <h2>Fighting Fatigue and Burnout</h2>
  <p>While the rollout of innovative technologies can certainly improve our lives and how we work, more light is being shed on the fatigue that comes with them with screen time now coming under heavy scrutiny. </p>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: "A Deloitte survey found that people will check their phones on average 47 times a day in response to alerts"
  }} %>
  <p>We’ve seen <i>launch fatigue</i>, <i>app fatigue</i> and now some people are embarking on <i>notification detox</i> to deal with the cumulative effects of alerts and notifications that can arise from so many apps and tools. </p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image5.jpg", alt: "An office worker looking burnt out", class: "marginBottom30", itemprop: "image" %>
  <p>A Deloitte survey found that people will check their phones on average 47 times a day in response to alerts and some managers are now raising doubts around the efficacy of certain communication platforms previously introduced to replace tedious email chains<sup>5</sup>. HR professionals looking to stay ahead of the game will do well in 2020 to recognize the early onset of overwhelming employees with alerts and notifications to proactively ensure a positive employee experience that caters to employees, <i>‘digital wellbeing’</i>. Various platforms are already rolling out “do not disturb” buttons as well as a host of features and bundles to help workers remain in the present moment and take more autonomy over when and how they receive notifications.
  </p>

  <p>This seemingly endless stream of notifications and updates can likewise give the sensation of being <i>‘always on’</i>, it’s not no longer uncommon to casually hear people referring to themselves as being <i>‘online’</i> or <i>‘offline’</i>. As the culture of being forever, <i>‘switched on’</i> starts to form a foothold, HR bodies should consider strategies that will help educate workers on the importance of work-life balance to avoid burnout. In a society where remote work and the gig economy are surging, HR departments may need to arrive at an understanding that it is now the status quo for employees to have one or multiple side hustles on top of their full-time job.
  </p>
  <p>Those ahead of the HR game will establish tools and methods to support their workforce in reconciling a healthy, sustainable equilibrium between their day to day job and side ventures, rather than offer an ultimatum between the two. It should also be noted that side hustles may not just be about earnings - they may be linked to a sense of empowerment and learning, and as such should not be discouraged.
  </p>
  </div>

<div id="upskilling_and_reskilling" class="article-list">
  <h2>Upskilling and Reskilling the Shifting Workforce</h2>
  <p>Where technology thrives and workforce diversity blossoms, the importance of skill-building beyond your own role and remaining agile will be increasingly important for both employees and employers. HR leaders should see this as an opportunity to nurture the professional development craved by the younger workforce, and perhaps more importantly, to upskill the older workforce, who may seek to improve their digital dexterity to keep up with the demands for the businesses of tomorrow.</p>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: "A 2018 Gartner survey of 7,000 employees, for example, found that 70% of workers felt they hadn’t mastered the skills needed for the job force of today, while a staggering 80% admitted to lacking both the skills they need for their current career and future of work<sup>6<sup>"
  }} %>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image6.jpg", alt: "A group of professionals sharing ideas", class: "marginBottom30", itemprop: "image" %>
  <p>As the demand for digital skills shifts at a faster pace, HR leaders will also be able to invest in tools and strategies to not only close their own internal skill gaps but to empower their workforce in the process. Again, the close integration of IT in HR can be effectively integrated not just with third-party learning platforms, but likewise through collaborative learning approaches, which can foster engagement and collective learning, another ample opportunity to help forge a company culture that values continuous learning for the future of work. Looking into investing in a learning experience software? Capterra has a growing list <a href="https://www.capterra.com/learning-experience-platform-software/?utf8=%E2%9C%93&sort_options=Highest+Rated">available.</a> </p>
  <p>At Recognize, we’ve previously discussed the numerous benefits of how learning platforms can be used in a collaborative way to boost employee engagement and strengthen retention, you can read more via the GoSkills blog <a href="https://www.goskills.com/Blog/Employee-recognition">here</a>.
  </p>
</div>

<div id="remote_work" class="article-list">
  <h2>Remote Work</h2>
  <p>It came, it saw and it very much conquered. It’s almost impossible to look at any predictions of HR and not see the rise of flexibility regarding remote work in the workplace.
  </p>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: "One billion remote workers by the year 2035"
  }} %>
  <p>Remote work, flexitime and overall hybridity have officially moved from being an exception in the workplace to become very much the norm in modern HR, with some companies even being founded on a basis of remote work culture. According to a recent comment by the Economist, we could be looking at a workforce of almost one billion remote workers by the year 2035<sup>7</sup>. While the approach may still be in its infancy, it wouldn’t be unjust to dub the 2020s as the decade of remote work.
  </p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image7.jpg", alt: "Group of friends hanging out in a cafe", class: "marginBottom30", itemprop: "image" %>
  <p>For HR, this will mean a new focus on adapting strategies to cater to workers who may be natural self-starters for example, to be sure they can continue to measure their success and continue to thrive and assess their performance remotely. Collaborative project management tools and the ability to easily distribute recognition will become increasingly important in remote work environments, sharing feedback and recognizing efforts will need to be more transparent to overcome the lack of physical presence and grounds for interaction provided by traditional work environments.
  </p>

  <p>On a more pragmatic level, HR leaders will need to assess how processes such as onboarding may be addressed using IT solution in place of physical office space, or how time spent working can be monitored without instilling a sense of policing or distrust among teams. Luckily, many companies have already foreseen these obstacles and are already developing onboarding software and time trackers as solutions<sup>8</sup>. Time tracking software can already help manage payrolls, provide means for proof of work, set weekly limits, produce reports and manage timesheets to support remote working individuals. </p>
</div>

<div id="hr_gets_personal" class="article-list">
  <h2>HR Gets Personal
  </h2>
  <p>Needless to say, an incoming wave of remote working teams and diverse teams is likely to result in an even more personalized HR experience with benefits and packages being designed to meet the bespoke needs of each employee.
  </p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image8.jpg", alt: "Three people on the stairs talking with each other", class: "marginBottom30", itemprop: "image" %>
  <p>Benefits have long played a vital role in attracting talent and holding down healthy retention, however, the days of rolling out one size fit all packages will shift to meet the needs of the diversity of the future workforce. Health benefits, family benefits, and student loan repayments will all be a priority for Millennials laying down roots with potential employers. Flexibility may easily become a dealbreaker in taking or leaving a job offer, with Millennials valuing flexitime a close second after paid leave<sup>9</sup>. </p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image9.jpg", alt: "Person looking at a smart watch", class: "marginBottom30", itemprop: "image" %>
  <p>Fighting the epidemic of burnout and fatigue, wellness tech and digital wellbeing will again feature prominently in the personalization of HR, with wearables being encouraged to promote fitness and breaks from screen time, or to help employees to quit smoking, for example, showing a more proactive stance to helping workers avoid the more costly visits of late healthcare. </p>
  <p>HR can expect to become customized with a wide variety of add ons being developed per customer needs to give a <i>“something for everyone”</i> approach. Various apps are already rolling out to help deliver a bespoke employee experience for your teams in 2020, whether it’s solutions to best celebrate your staff through employee rewards and incentives (such as <%=link_to 'Recognize', root_path %>) or even giving your teams easier access to understanding and managing their benefits using tools (such as <a href="https://www.aon.com/unitedkingdom/employee-benefits/news/articles/aon-develops-aon-app.jsp">Aon App</a>).</p>
</div>

<div id="a_year_for_imagination" class="article-list">
  <h2>A Year for Imagination and Innovation</h2>
  <p>With the status quo being quickly shifted by cultural mindsets, globalization, shifting work patterns and increasing integration of technology, get ready for a year where HR fully embraces these catalysts for change with creative and innovative solutions, the bolder the better!
  </p>
  <%= lazy_image_tag "pages/articles/2020-hr-trends/image10.jpg", alt: "Group of people sitting in office", class: "marginBottom30", itemprop: "image" %>
</div>


<hr class="hr hr-space">
<div id="references" class="article-list marginBottom50">

  <h3>References</h3>

  <p>Adkins, A. (2016). What Millennials Want From Work and Life. Gallup. https://www.gallup.com/workplace/236477/millennials-work-life.aspx</p>
  <p>Fraizer, T., and Rakocy, T. (2020). Intel’s New Diversity Standards for Outside Counsel. National Law Review. https://www.natlawreview.com/article/intel-s-new-diversity-standards-outside-counsel</p>
  <p>Hunt, V., Layton, D. and Prince, S. (2015). Why diversity matters. Mckinsey and Company. https://www.gallup.com/workplace/236477/millennials-work-life.aspx</p>
  <p>Ridgeway, J. (2019). AR Meets HR: How Augmented Reality Can Strengthen Learning & Development. HRTechnologist. https://www.hrtechnologist.com/articles/learning-development/ar-meets-hr-how-augmented-reality-can-strengthen-learning-development/?zd_source=recommended_read</p>
  <p>Westcott, K.,Loucks, J., Littmann, D., Wilson, P., Srivastava, S. and Ciampa, D. A. Build it and they will embrace it. Deloitte. https://www2.deloitte.com/us/en/pages/technology-media-and-telecommunications/articles/global-mobile-consumer-survey-us-edition.html</p>
  <p>Baker, M. (2019). Gartner. https://www.gartner.com/smarterwithgartner/motivate-employees-to-reskill-for-the-digital-age/</p>
  <p>The Economist. By 2035 there could 1bn “location independent” workers. https://www.trendsmap.com/twitter/tweet/1163345065017794560</p>
  <p>https://www.capterra.com/time-tracking-software/?utf8=%E2%9C%93&feature%5B1%5D=35543&sort_options=Highest+Rated</p>
  <p>Mucha, R. (2019). A 2020 vision: Is your benefits package ready for the future?. Gallup. https://www.hrmorning.com/articles/benefits-package-future/</p>
  </p>

  <div class="well">
    <h4>Author</h4>
    <p>Katie-Pia Moran</p>
  </div>
</div>