
<div id="introduction" class="article-list">
  <h2>What is an employee award certificate?</h2>
  <p>An award certificate for employees is an object that symbolizes an accomplishment by the recipient. It is usually in the form of a plaque, printed award certificate, or trophy.</p>
</div>

<div id="download_free_award_certificates" class="article-list marginBottom100">
  <h2>Download Free Award Certificates</h2>
  <p>Click the button below to download the entire set of award-certificates in a PDF.</p>
  <a href="/docs/product/award-certificate-templates.pdf" class="button button-primary">Download PDF</a>
</div>

<div id="service_anniversary" class="article-list">
  <h2>Service Anniversary Award Certificate</h2>
  <p>It is always important to make sure employees are receiving special thanks for when they reach those 3, 5, 10, 15, 20 'years-of-service' milestones.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image1.jpg", alt: "Service anniversary award certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="employee_of_the_month" class="article-list">
  <h2>Employee of the month award certificate</h2>
  <p>For employees who have gone above and beyond in the last month. Great for front line workers who interact with customers.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image2.jpg", alt: "Employee of the month award certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="employee_of_the_quarter" class="article-list">
  <h2>Employee of the Quarter Award Certificate</h2>
  <p>When an employee does an outstanding job either in one very meaningful moment or consistently throughout the last three months.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image3.jpg", alt: "Employee of the Quarter Award Certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="president_award" class="article-list">
  <h2>President’s Award Certificate</h2>
  <p>Companies use the President’s Award normally at the end of year ceremony to mark A+ work.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image4.jpg", alt: "President’s Award Certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="certificate_of_recognition" class="article-list">
  <h2>Certificate of Recognition Award Certificate</h2>
  <p>For situations that simply calls for recognition of achievement. Sometimes heroes come out of nowhere and we need to recognize that.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image5.jpg", alt: "Certificate of Recognition Award Certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="modern_certificate_of_recognition" class="article-list">
  <h2>Modern Certificate of Recognition</h2>
  <p>A modern design to the classic idea of employee recognition.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image6.jpg", alt: "Modern Certificate of Recognition", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="promotion_award" class="article-list">
  <h2>Promotion Award Certificate</h2>
  <p>To honor a promotion in a formal way.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image7.jpg", alt: "Promotion Award Certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="modern_employee_of_the_month" class="article-list">
  <h2>Modern Employee of the Month Certificate</h2>
  <p>A modern take on the employee of the month award certificate.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image8.jpg", alt: "Modern Employee of the Month Certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="employee_of_the_year" class="article-list">
  <h2>Employee of the Year Award Certificate</h2>
  <p>To give thanks in a physical, meaningful way for the hard work someone has put in for the entire year.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image9.jpg", alt: "Employee of the Year Award Certificate", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="certificate_of_achievement" class="article-list">
  <h2>Certificate of Achievement</h2>
  <p>When employees complete a training, gain new skills, or reach a milestone.</p>

  <%= lazy_image_tag "pages/articles/amazing-award-certificates/image10.jpg", alt: "Certificate of Achievement", class: "marginBottom30", itemprop: "image" %>
</div>

<hr class="hr hr-space">
<div class="well marginBottom100">
  <h4>By</h4>
  <p>Alex Grande</p>
</div>
