
<div id="introduction" class="article-list">
  <h2>Intro</h2>
  <p>There’s an old proverb that says, <i>“the cobbler wears the worst shoes”</i>, which is to say, that when someone is an expert in their field, they will rarely apply this expertise when it comes to meeting their own needs.
  </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image1.jpg", alt: "A nurse tending a child's wounds", class: "marginBottom30", itemprop: "image" %>
  <p>Doctors and nurses provide a great example of this - investing so much time and energy into looking after the health and welfare of others, that they often don’t notice their own health and wellbeing slowly declining. For decades, the healthcare industry has struggled to deal with nursing shortages and high turnover onset from the ongoing demands of being a front line caregiver. To borrow another saying, that <i>“prevention is better than cure”</i>, we took a look at some simple steps centered around recognition and engagement strategies that can help healthcare managers to proactively combat the causes of exhaustion and burnout.
  </p>
</div>

<div id="identifying_burnout" class="article-list">
  <h2>Identifying Burnout</h2>
  <p>Before delving into the best ways to prevent burning out in healthcare professions, let’s look at some of the main symptoms associated with burnout and why this matters. </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image2.jpg", alt: "Two young doctors sittng in corridor tired", class: "marginBottom30", itemprop: "image" %>
  <p>People at risk of medical burnout may manifest the following :</p>
  <ul class="bullet-list">
    <li> Physical and mental exhaustion</li>
    <li> Absenteeism</li>
    <li> Short temper, irritability </li>
    <li> Sleep disturbances</li>
    <li> Anxiety </li>
    <li> Difficulty concentrating</li>
    <li> Blaming others for their suffering</li>
    <li> Loss of pleasure in life</li>
    <li> Dreading work</li>
  </ul>
</div>

<div id="why_burnout_matters" class="article-list">

  <h2>Why Burnout Matters</h2>
  <p>According to a recent report produced by Harvard, <i>“physician burnout<sup>1</sup>”</i> is now a public health crisis that demands urgent action and attention in order to best protect our healthcare systems. It’s not surprising that half of all doctors report feeling depressed, exhausted and a profound sense of inadequacy when it comes to their day to day work. And it’s not just high-level practitioners, burnout is also frequent amongst front line nurses and students with the U.S. National Academy of Medicine reporting that 50% of the country’s doctors and over 60% of medical students and residents experience overwhelming symptoms of burnout and stress<sup>2</sup>.</p>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: "Burnout also comes with a hefty price tag - it’s estimated that medical burnouts are costing the US healthcare industry $4.6 billion per year,  that’s approximately $7,600 per physician<sup>3</sup>"
  }} %>
  <p> <i>“Compassion fatigue”</i>, the feeling of insensitivity and lack of empathy to the suffering of others from prolonged exposure and exhaustion in dealing with volumes of distress, can become rampant in medical settings, creating an impression of disinterest to suffering patients. <i>“Moral injury”</i> is also at risk of becoming more prevalent, this describes the sense of extreme stress as a result from feeling incapable of helping one’s patients to the capacity physicians wish to.
  </p>
  <p>In a healthcare environment that has become increasingly business oriented with pressure to record metrics, drive profits, avoid lawsuits and log results, physicians face a mounting pressure that can impact the quality of care and attention they wish to give their patients.
  </p>
  <p>Needless to say, these impacts on the mental wellbeing for nurses, doctors, and interns which can radically undermine patient treatment, and with healthcare workflows now looking towards a future based on more humane, patient-centric healthcare, there has never been a more important moment to reexamine the strategies we can put in place to protect our health professionals. </p>

</div>


<div id="team_huddles" class="article-list">

  <h2>Team Huddles</h2>
  <p>Having regular team huddles is a simple yet effective way of creating a dedicated time and space for conversations, enhancing relationships and team building as well as cultivating an environment where staff can feel safe and supported<sup>4</sup>.</p>
  <p>Having regular huddles can help managers to discuss wins and losses, support efforts to improve patient safety and help embed an ethos of mindfulness and communication across what can often be fragmented teams under high stress. </p>
    <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image3.jpg", alt: "diverse multicultural medical team consulting on a subject", class: "marginBottom30", itemprop: "image" %>
  <p>The act of physically huddling itself demands a rapid team response and formation and allows for adaptability in what can be a fast changing workflow. The group mentality of huddles helps to share more pragmatic problem solving and thinking that may not be intuitive for every team member. This in turn strengthens the agility of the wider team, increasing not only the quality of patient care administered but quality of life for health physicians themselves. </p>
</div>


<div id="employee_recognition" class="article-list">
  <h2>Employee Recognition
  </h2>
  <p>With compassion fatigue and moral injury widespread in medical settings, regular and meaningful ways of showing peer to peer recognition and maintaining continuous engagement can prove critical for circumventing burnout and stress. In a recent medical survey compiled by our team at Recognize, participants expressed that they appreciated receiving recognition from managers or members of the leadership team. 88% of those surveyed appreciated being recognized by their managers and 81% appreciated being recognized by their organization.
  </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image4.jpg", alt: "Group of health workers giving a thumbs up", class: "marginBottom30", itemprop: "image" %>
  <p>With Recognize, you can design your own bespoke award-badges to recognize your teams contributions. This is an incredibly easy and accessible way to help vulnerable members of your team feel seen and have their contributions, no matter how small, feel appreciated. </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image5.jpg", alt: "badges of recognition", class: "marginBottom30", itemprop: "image" %>

  <p>You can give badges of recognition based on some of the below values:</p>
  <ul class="bullet-list">
    <li><strong>Attendance</strong> <i>“We know the work we do is not easy, and in the face of it all you are able to come in on a regular basis and get the job done. Thanks so much!”
    </i></li>
    <li><strong>Team player</strong> <i>“Great job on supporting your fellow teammates by assisting floating nurses and others with all tasks involved, including discharge and admissions. Keep it up!”
    </i> </li>
    <li><strong>Compassion</strong> <i> “Thank you for showing ongoing compassion, empathy and special care for yourself, your team, and the patients. We understand this isn’t easy and wanted you to know what a great example you’re setting for those around you”
    </i> </li>
    <li><strong>Infection Protection</strong> <i>“Practices prevention strategies to protect yourself, patients, and others. Follows hand hygiene standards and aseptic techniques”</i></li>
    <li><strong>Flu Vaccination</strong> <i>“Thanks for being a self-starter with getting a flu shot. It means a lot to the organization and to the patients. Plus, hopefully you will not get sick this year!”
    </i></li>
    <li><strong>Above and Beyond</strong> <i>“We see that you went above and beyond in duties outside of your routine, stepping in to assist others throughout the week. We appreciate your hard dedication!”
    </i></li>
  </ul>
</div>

<div id="paid_time_off" class="article-list">
  <h2>Paid Time Off</h2>
  <p>Paid time off is an excellent non-monetary means of rewarding employee hard work and contributions. In a recent <%= link_to "employee recognition report", employee_recognition_stats_for_healthcare_path %> completed by our team at Recognize, when staffers were asked about the rewards they most liked to receive, paid time off was an overwhelming preference for those in the medical field.</p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image6.jpg", alt: "Graphs showing results of a survey in an organisation", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="utilize_saps" class="article-list">
  <h2>Utilize Saps</h2>
  <p>While gifting of physical goods and rewards isn’t to be overlooked when it comes to employee recognition, for a long term strategy it’s important to understand that the real motivators for fostering a culture of intrinsic motivation come from providing staff with  <a href="/company-engagement-strategy.pdf">experiences</a>. This can be particularly the case for high achievers seeking something more significant than everyday rewards and tokens.
  </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image7.jpg", alt: "A group of medical professionals", class: "marginBottom30", itemprop: "image" %>
  <p> Providing employees with status, such as a promotion with a special job title or role or access to a high level conference to upskill for example, show staff that they are valued by tailoring individual experiences for them as a gesture of recognition. </p>
  <p>Even something as simple as flat screen televisions projecting an image of the employee of the month, or personal congratulations from the CEO, can prove deeply rewarding for employees. With gestures such as these, even if incremental, at scale the positive boost it can have on overall mental health and positivity, can have a profoundly positive impact for companies.
  </p>
</div>

<div id="encourage_yoga" class="article-list">
  <h2>Encourage Yoga</h2>
  <p>Another approach for preventing burnout in medical settings is to cultivate an environment that values self care and wellness. For example, regular practice of Yoga can be an excellent means for increasing awareness and sensitivity to surroundings and this can help nurses to more quickly identify when they are suffering from compassion fatigue. Rather than feeling like you’re in an automatic state of mind with high reactivity, Yoga encourages a mindset that is thoughtful, calculated and helpful in our choices, helping nurses to more carefully choose their reactions for patients.
  </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image8.jpg", alt: "A woman meditating in bedroom", class: "marginBottom30", itemprop: "image" %>
  <p>When you're burning out, it might sound odd but even the rhythm of your breath can become a major stressor. Yoga  offers an invaluable opportunity to build the skills to breathe calmly through stressful situations, for example, difficult conversations with patients and families. Yoga can also provide tension relief to the body after a particularly stressful shift.</p>
  <p>Introducing wellness programs and rewards programs that motivate and encourage employees to take part in Yoga can also be a great way of cultivating an ethos of wellness and alleviate symptoms of burnout.  Registered Nurse and founder of YogaNurse, Annette Tersigni, who has practiced Yoga for over 44 years, suggests these
    <a href="https://yoganurse.com/are-you-a-nurse-with-compassion-fatigue-heres-what-your-heart-is-trying-to-tell-you/">Five Simple poses for fighting Compassion Fatigue</a> that can help to relieve practitioners to:</p>
  <ul class="bullet-list">
    <li>Relieve stress and fatigue</li>
    <li>Promote feelings of calm, safety and relaxation</li>
    <li>Induce a state of deep relaxation</li>
    <li>Reduce excessive anger and anxiety</li>
    <li>Soothe back pain </li>
    <li>Encourage blood circulation and flow</li>
    <li>Promote peaceful sleep</li>
    <li>Build inner and outer strength</li>
    <li>Improve focus and concentration
    </li>
  </ul>

</div>

<div id="encourage_mentorship" class="article-list">
  <h2>Encourage Mentorship</h2>
  <p>Peer to Peer mentoring is another great approach for avoiding burnout in medical staff, as physicians are far more likely to heed the advice of a fellow physician, given that they understand the industry and the frustrations and experiences on a more personal level. Exchanging peer to peer employee recognition is also an effective way of slowly shaping a medical staff culture that values support, mutual care and compassion across teams. </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image9.jpg", alt: "Young medical students smiling", class: "marginBottom30", itemprop: "image" %>
  <p>This kind of professional solidarity doesn’t need to be limited to the immediate medical environment either - joining local and national physician organisations and platforms is an excellent way to feel connected to the wider medical community and can greatly help doctors, medical students and nurses to to quickly respond to stress and mitigate burnout. Likewise, Mentorship apps can provide an easy and accessible means for sharing support and guidance, with apps such as Mentorcloud for example, also helping to exchange best practice and knowledge, as well as offering support. </p>
</div>

<div id="sleep_on_it" class="article-list">
  <h2>Sleep On It.</h2>
  <p>Finally, we have saved the simplest for last. Rudimentary as it may seem, a good night's sleep and rest are fundamental for medical staff to do their job. However, this can be difficult in a hospital setting when surrounded by a high demand for continuous care, staff shortages and erratic shifts, managers should endeavor to design schedules such that staff can get at least eight hours of sleep.
  </p>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/image10.jpg", alt: "A woman sleeping in bed", class: "marginBottom30", itemprop: "image" %>
  <p>Unfortunately, it's not uncommon to hear of nurses working 12 hour shifts on as little as 5 hours of sleep on top of their commutes home and to work. Needless to say, this good night's sleep can pose a dangerous threat for medical staff who are the last line of defense between a patient and medical error.</p>
</div>


<hr class="hr hr-space">
<div id="references" class="article-list">

  <h3>References</h3>

  <p>Jha, A. K. A CRISIS IN HEALTHCARE: A CALL TO ACTION ON PHYSICAL BURNOUT. MASSMED. http://www.massmed.org/News-and-Publications/MMS-News-Releases/Physician-Burnout-Report-2018/</p>
  <p>Taking against clinical burnout. National Academy of Medicine. https://www.nap.edu/catalog/25521/taking-action-against-clinician-burnout-a-systems-approach-to-professional</p>
  <p>Estimating the Attributable Cost of Physician Burnout in the United States. https://annals.org/aim/article-abstract/2734784/estimating-attributable-cost-physician-burnout-united-states</p>
  <p>Health care huddles; Managing complexity to achieve high reliability. https://journals.lww.com/hcmrjournal/Abstract/2015/01000/Health_care_huddles__Managing_complexity_to.2.aspx</p>
  <div class="well">
    <h4>Author</h4>
    <p>Katie-Pia Moran</p>
  </div>
</div>