
<div id="introduction" class="article-list">
  <h2>WFH is now “business as usual”</h2>
  <p>As a result of the Covid-19 outbreak, many companies have made the decision to implement work from home policies, both to protect their employees and to play their part in reducing the spread of the virus.</p>

  <p>While the concept of remote working has increased in popularity in recent years (we pegged it as a front runner in our <%=link_to "HR trends for 2020", hr_trends_2020_path  %>), for many companies it will present new challenges to be navigated both from a pragmatic perspective, and also from a more emotional, HR perspective. For many teams there will be a need to adjust to “business as usual” during a period calling for social distancing and isolation, when business feels quite far from anything close to “usual”.
  </p>
  <p>As managers, it is now more important than ever for us to support our employees, not only to help them in their day to day tasks, but also to ensure that they feel motivated, engaged and safe during a period when many of us will be requested to remain isolated.</p>
  <p>As a tightly knit global team with many members working remotely, we have shared some of our best practices below to help your company make a smooth and positive transition to the remote working model.</p>
</div>

<div id="build_a_leadership_team" class="article-list">
  <h2>Build a leadership team</h2>
  <p>Adjusting to a sudden change, particularly under alarming circumstances, can often be met with hesitation and doubt. One way to first inspire confidence among your organisation is to have the executive team take the first steps to remote working. This sends a clear signal from the top down that remote working will be the touchstone for the company going forward.
  </p>

  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image2.jpg", alt: "Man in brown shirt shaking hands with another woman in a meeting", class: "marginBottom30", itemprop: "image" %>
  <p>To further overcome any hesitation and settle uncertainty, designate a small team that will coordinate and lead your remote working strategy. These should be employees with a history of working remotely, who should also be capable of managing distributed global teams. Refer to this team as the “Head of Remote” to make it clear that, should individuals need support or have questions, these are the team members to reach out to. </p>
  <p>Give careful thought to building this team, bearing in mind the following skills they will need:</p>

  <ul class="bullet-list marginLeft30">
    <li><i>Experience working remotely</i></li>
    <li><i>History of teamwork and collaboration</i></li>
    <li><i>Strong knowledge of organisational tools</i></li>
    <li><i>Experience in optimizing processes and communication</i></li>
    <li><i>History of project management </i></li>
  </ul>
</div>

<div id="start_small_and_grow" class="article-list">

  <h2>Start small and grow with your remote tools</h2>
  <p>As your team adjusts to remote working, help ease the process for them by stripping back on tools in the beginning. In particular, if you’re a company adapting to remote work that is not accustomed to documentation for example, you will quickly discover the newfound importance of writing things down and the need for quick access to information. </p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image3.jpg", alt: "Woman in orange shirt sitting by the table using macbook", class: "marginBottom30", itemprop: "image" %>

  <p>Start out with a simple toolset to ensure that each employee is comfortable navigating various documents and assets; the aim here is to avoid the confusion and fragmentation that can often occur when you have too many tools. As tensions may be running high, keeping communication simplified and maintaining a clear hierarchy of organisation that is accessible and easy to understand will help your team feel confident and empowered in executing their work without the usual resources they might have in a physical environment.</p>
  <p>Encourage questions to catch any hesitation or uncertainty in the earliest possible stages to help your teams put their best foot forward.</p>

</div>


<div id="stay_secure" class="article-list">

  <h2>Stay secure</h2>
  <p>Although there are security protocols throughout companies for encrypting and protecting information, special care should be taken to ensure these steps are not compromised as many people start to login to work from home and combine their personal technology with professional tools.</p>

  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image4.jpg", alt: "Picture of a locked laptop that says VPN", class: "marginBottom30", itemprop: "image" %>

  <p>Remind employees of good digital hygiene and security etiquette. Encourage them to use strong passwords, even suggesting password generator tools where relevant and reminding them of the importance of not leaving passwords written down on paper or using the same password for various platforms. Remind employees to also be conscious of malware, and the the risks that come with using family devices and how viruses may be easily passed and compromise employee computers and the wider company network.</p>
  <p>With many agencies having various platform logins and online subscriptions, sharing passwords at scale can become a headache. Luckily there are now various tools that allow easy sharing and safe syncing of passwords—check out some of the top rated applications from CapTerra below:
  </p>

  <ul class="bullet-list marginLeft10">
    <li><a href="https://www.passcamp.com/">Passcamp</a></li>
    <li><a href="https://www.lastpass.com/">Last Pass</a></li>
    <li><a href="https://www.myki.com/">Myki</a></li>
    <li><a href="https://www.1password.com/">1Password</a></li>
    <li><a href="https://www.keepersecurity.com/">Keeper</a></li>
  </ul>
</div>


<div id="communication_is_key" class="article-list">
  <h2>Communication is key
  </h2>

  <p>Remind your teams that there is no such thing as over-communication. If you have a history of working remotely, you will likely understand the natural intuition of writing things down. When you remove the arena of physical environment, taking notes and keeping agreements in writing, tracking mail threads and keeping screenshots all become your sole means for managing your workload from afar and establishing trust with your employers. Reiterate this to your team, encouraging them to write everything down, even if it feels silly in the beginning. Send emails, link to previous threads to avoid getting lost, and don’t be afraid to go back to basics and ensure people understand how to <i>cc</i> and <i>bcc</i> others to keep all team members updated and informed.
  </p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image5.jpg", alt: "Text bubble with three dots made from paper", class: "marginBottom30", itemprop: "image" %>
  <p>Define the parameters for communication. If you use Slack for real-time exchanges, designate specific channels for specific topics and share good etiquette such as tagging names. You can have a channel for the CEO to directly connect with the whole company and do Q+As, another channel specifically for announcements, and others for product updates, key wins, lessons learned or even a friendly random channel to exchange ideas and tips with other employees.
  </p>

  <div class="well marginBottom20">
    <p><strong>Ideas for designated Slack channels</strong></p>
    <ul class="bullet-list">
      <li><strong>#ceo</strong> - <i>A channel to ask questions, suggest changes or give opinion directly to CEO in a public way</i></li>
      <li><strong>#highlights</strong> - <i>A channel for the CEO to share any interesting news about the company. The information shared here will be highly confidential, so it should not cross the company borders.</i></li>
      <li><strong>#product_updates </strong> - <i> Communicate regular updates about new things available  from your company product and related information.</i></li>
      <li><strong>#random</strong> - <i>A place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber you'd prefer to keep out of more focused work-related channels.</i></li>
      <li><strong>#whom_should_i_ask</strong> - <i> For all those times you're not exactly sure where to turn to with your questions, you can come here first and get pointed in the right direction without getting ping-ponged around.
      </i></li>
    </ul>
  </div>
  <p>Don’t forget the human factor either; GIFs and emojis can be shared in many communication platforms to bring a personal element that staff might be missing from the office environment. It also might seem obvious, but don’t forget to say hello to someone first, rather than jumping in with a request or question straight away.
  </p>
  <p>Don’t just communicate in writing either; having daily morning video calls with your team can help foster motivation and team spirit as well as help address any blocking obstacles for any team members. Naturally, it also helps your employees to feel seen and heard in a way that other platforms cannot replicate.</p>
</div>

<div id="carve_out_a_routine" class="article-list">
  <h2>Carve out a routine</h2>
  <p>It’s good to remind your teams that while they won’t have the same morning routine as would be the case when commuting to the office, it can still help to have a morning rhythm marked by some small rituals to help kick off your workflow and remain productive and motivated.</p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image6.jpg", alt: "A woman meditating on a bed", class: "marginBottom30", itemprop: "image" %>
  <p>For example, below you have some quick steps as a morning remote work guide:</p>

  <ul class="bullet-list well marginLeft10">
    <li><strong><i>Wake up, switch off alarm</i></strong>
      <ul>
        <li><i>If you are feeling like you need to get started because you got up late, check emails for 15min. Timebox it. Then brush and have breakfast.</i></li>
      </ul>
    </li>
    <li><strong><i>Take a shower</i></strong></li>
    <li><strong><i>Get dressed</i></strong></li>
    <li><strong><i>Make coffee</i></strong></li>
    <li><strong><i>Eat breakfast</i></strong>
      <ul>
        <li><i>If you’re accustomed to grabbing breakfast outside, there are still lots of simple recipes  you can try out at home, check out some of these breakfast ideas: <a href="https://www.thekitchn.com/10-breakfast-recipes-for-when-you-dont-want-to-cook-245057">10 Breakfast Recipes for When You Don’t Want to Cook</a></i></li>
      </ul>
    </li>
    <li><strong><i>Check the news</i></strong></li>
    <li><strong><i>Brush teeth</i></strong></li>
    <li><strong><i>Check emails and begin work</i></strong></li>
  </ul>

  <p>Just as offices have conference rooms and invite moments for coffee breaks and water cooler conversations, you can also try to emulate these routine features into your employees’ remote working life. Encourage employees to pause mid morning for a coffee and check in on one another, or to stick to any meetings or mentoring sessions they may have had in their regular office environment using teleconferencing tools. Encourage moments to share a personal achievement, or if it’s Monday, why not share goals for the coming week or tell a good joke or interesting article they might have read.</p>
  <p>Staying at home also presents more opportunities for home cooking. Feel free to encourage teams to try different dishes or share new recipes—bearing in mind that not everybody is accustomed to preparing food, so may need help with resources to make it easier for them.</p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image7.jpg", alt: "Screenshot of a facebook post", class: "marginBottom30", itemprop: "image" %>

  <div class="well">
    <p><strong>Some quick links to help your quarantine cooking:</strong></p>
    <ul class="bullet-list">
      <li><strong>Simple meals for those with little resources, all of which can be made in the microwave</strong>
        <ul>
          <li><a href="https://www.businessinsider.sg/easy-meals-made-in-microwave-2020-3"><i>15 easy meals you can make in the microwave</i></a></li>
        </ul>
      </li>
      <li><strong>A database of recipes that lets you search by ingredient</strong>
        <ul>
          <li><a href="https://www.yummly.co.uk/"><i>Yummly: Personalized Recipe Recommendations and Search</i></a></li>
        </ul>
      </li>
      <li><strong>Design your own menus and have the ingredients delivered for you to prepare</strong>
        <ul>
          <li><a href="https://www.blueapron.com/"><i>Blue Apron: Top Meal Delivery Service - Meal Kits For Home Cooking</i></a></li>
        </ul>
      </li>
      <li><strong>If you’re looking to help lower urban food waste</strong>
        <ul>
          <li><a href="https://toogoodtogo.com/en-us"><i>Too Good To Go</i></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="make_space_for_success" class="article-list">
  <h2>Make a space for success</h2>
  <p>While regular remote workers may have their office spaces fine tuned down to the last detail, those who may have had to quickly adjust to a home work situation may be caught unprepared. While not everyone will have access to an optimal work space, you can extend your support by offering employees the opportunity to borrow office equipment for their home, or to reimburse them for certain items they need straight away.  (For a quick WFH starter pack on useful items your company can provide teams with, check out this list compiled by the NYTimes Wirecutter team <a href="https://thewirecutter.com/blog/work-from-home-starter-kit/">here</a>.)</p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image8.jpg", alt: "A work desk with laptop and flower pots", class: "marginBottom30", itemprop: "image" %>
  <p>You can also share advice and best practice for good ergonomics across teams to help them create a simple work space that will harness their productivity and creativity. The tips mentioned below are simple, but can make a big difference in making your workspace a comfortable and inspiring place to spend the day :
  </p>

  <ul class="bullet-list">
    <li><strong><i>Place a few large books under your laptop to avoid hunching over</i></strong></li>
    <li><strong><i>Invest in a wireless keyboard and mouse</i></strong></li>
    <li><strong><i>Send headsets to team members who may need them</i></strong></li>
    <li><strong><i>Adjust your chair and lumbar support to the optimal position for your body</i></strong></li>
    <li><strong><i>Try using noise cancelling headphones</i></strong></li>
    <li><strong><i>Be aware of excess screen glare and adjust as necessary</i></strong></li>
  </ul>

  <p>With a daily morning pace and a permanent comfortable space, make sure your team are aware of all the other ways in which they can maintain a well managed work-from-home schedule by considering some of the following tips:</p>

  <ul class="bullet-list">
    <li><strong><i>Set real hours</i></strong></li>
    <li><strong><i>Make to-do lists</i></strong></li>
    <li><strong><i>Exercise and stretch regularly</i></strong></li>
    <li><strong><i>Take short breaks, doing small chores in between</i></strong></li>
    <li><strong><i>Avoid social media</i></strong></li>
    <li><strong><i>Share your WFH status with colleagues</i></strong></li>
    <li><strong><i>Listen to music or white noise to help focus</i></strong></li>
  </ul>
</div>

<div id="stay_engaged" class="article-list">
  <h2>Stay engaged</h2>
  <p>As many local authorities encourage social distancing and isolation to curb the spread of Covid-19, extra efforts should be invested into your remote work strategy to ensure that your team is engaged and feels supported during a moment when many individuals may feel more vulnerable and alone.
  </p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image9.jpg", alt: "Diverse group of people", class: "marginBottom30", itemprop: "image" %>
  <p>Leveraging platforms that can help you to share recognition online is a great way to keep your employees engaged and motivated, especially from afar. From a management perspective, you can also have clear access to data and actionable insights. For example, seeing how often managers are sharing recognition with their teams, and noting those who may need to increase how often they recognise and reward their team.
  </p>
  <p>Setting goals and rewarding projects with recognition platforms becomes even more valuable when teams are separated, as badges, leadership boards and rewards can help sustain the group momentum and cultivate motivation in reaching goals and executing tasks. Not only can you customize the rewards you wish to share with redeemable online tokens (movie rentals, online masterclasses or healthy food takeouts / deliveries), you can also issue individual certificates to recognize those who are going above and beyond.</p>
</div>

<div id="encourage_self_care" class="article-list">
  <h2>Encourage self care and responsible behaviour
  </h2>
  <p>You can reinforce a culture of wellness and responsible behaviour, even with an entire team deployed from their homes. Set goals and <%=link_to "incentives", incentives_path %> designed around easy wins for your remote workers to help them cultivate a routine of self care and hygiene that will keep them motivated in the house, while also encouraging them to display responsible behaviour during the Covid-19 outbreak.
  </p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image10.jpg", alt: "A woman wearing a mask", class: "marginBottom30", itemprop: "image" %>
  <p>Design tasks that can be marked off daily and transformed into points that can be accrued over time into redeemable rewards. Goals you can set to promote wellness and positive hygiene can include some of the following activities:</p>
  <p><strong>Wellness</strong></p>
  <ul class="bullet-list marginLeft30">
    <li><i>Drinking water</i></li>
    <li><i>Jumping rope for 5 minutes</i></li>
    <li><i>Stretching and walking</i></li>
    <li><i>Making healthy meals and snacks</i></li>
    <li><i>Taking vitamins</i></li>
    <li><i>Meditating for 10 minutes</i></li>
    <li><i>Getting in 7-8 hours of sleep each night</i></li>
  </ul>

  <p><strong>Responsible Covid-19 behaviour</strong></p>
  <ul class="bullet-list marginLeft30">
    <li><i>Washing hands</i></li>
    <li><i>Staying home</i></li>
    <li><i>Practicing social distancing</i></li>
    <li><i>Disinfecting surfaces around the house</i></li>
    <li><i>Checking in on a friend</i></li>
    <li><i>Discouraging jokes about Covid</i></li>
    <li><i>Calling out false news or rumours about Covid</i></li>
    <li><i>Helping an at-risk neighbor stock up on groceries</i></li>
  </ul>

  <p>You can also give recognition in a social setting online to advocate self-care and responsible actions. When someone shares tips on good hygiene in certain channels, tele-conference calls, or in an in-person meeting, give them a recognition.</p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image11.jpg", alt: "Washing hands with soap", class: "marginBottom30", itemprop: "image" %>
  <p>You can also take advantage of  software in your social collaboration tools to ask your employees questions on a weekly basis. In Slack, there’s the bot Geekbot. Geekbot is an affordable tool to ask different groups of employees’ different questions.  Ask your employees publicly or privately, questions like, "Have you been practicing good hygiene techniques and responsible behaviour? How?"</p>
</div>

<div id="recognize_burnout" class="article-list">
  <h2>Recognize burnout</h2>
  <p>Burnout and anxiety can take place in all kinds of work environments. However, with a remote work setting, this can be exacerbated by a lack of face-to-face contact. In these situations, it can be even easier for a colleague to appear fine but in reality, be struggling internally. Being a remote worker can leave you more vulnerable to burnout as a result of being isolated and losing in-person interactions.</p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image12.jpg", alt: "A girl looking burnout", class: "marginBottom30", itemprop: "image" %>
  <p>Managers should be sensitive to the following signs in recognizing burnout before it escalates:</p>

  <ul class="bullet-list marginLeft30">
    <li><strong><i>Signs of fatigue, yawning or tiredness in teleconferences </i></strong></li>
    <li><strong><i>Poor performance</i></strong></li>
    <li><strong><i>Subdued presence online </i></strong></li>
    <li><strong><i>Strain on teamwork with colleagues </i></strong></li>
    <li><strong><i>Disabled camera for video calls (perhaps hiding emotions)</i></strong></li>
    <li><strong><i>Less contributions than normal in group chats</i></strong></li>
    <li><strong><i>Not answering emails or calls </i></strong></li>
  </ul>

  <p>In helping to prevent burnout, managers should take extra care as previously mentioned, to recognize hard work and efforts employees are putting in as they adjust and adapt to the new remote work model. This can be the perfect moment to try out employee engagement apps and to get creative with your employee reward ideas. Leaders need to take extra care in assessing the team morale and should get in the mindset of noticing certain work habits of the team, so they can sense when something seems off. Be sure not to reward working long hours and support your colleagues in taking a pause. Sometimes telling someone to <i>“take a break”</i> isn’t enough; in burnout mode, individuals often feel unable or undeserving of a break, so dedicate time to help your team overcome any reasons they feel blocked from taking time out. </p>
</div>

<div id="set_boundaries" class="article-list">
  <h2>Set boundaries</h2>
  <p>Hand in hand with carving out a daily remote work routine is setting boundaries. This will have a significant impact on productivity and creativity when put into place. Make a rule of always having a hard stop for lunch, eating at a table and not in front of the computer. Likewise, try to avoid working late into the evening, adding another hard stop for the end of the working day. Trailing your work into late nights only to then wake up once more to an alarm and emails, will soon give you a mindset of feeling <i>“always online”</i> and can put you at risk of becoming burned out.</p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image13.jpg", alt: "A girl writing on a post it note", class: "marginBottom30", itemprop: "image" %>
  <p>Try to establish your most productive hours of the day and adapt a schedule to reflect this. Deep work should be done when you feel at the peak of your concentration while shallow work may be done later in the day when you are more prone to fatigue. Consider physical boundaries too, designating one room for work and another just for recreational activities—this way you can instill the mindset of “leaving” work behind at the end of the day.</p>
  <p>Don’t be afraid to communicate boundaries to your colleagues—you can add the relevant status beside your name online to show when you’re available and unavailable. Keep in mind that we are all human—your manager is not going to expect you to be available on demand just because you work from home, even though it can feel this way in the beginning.</p>
  <%= lazy_image_tag "pages/articles/cultivate-positive-remote-work-experience/image14.jpg", alt: "People joining hands", class: "marginBottom30", itemprop: "image" %>
  <p>Instead, ask your team members how they are doing, extend your support and see if they need any help; do they need an extension on the upcoming deadline? In this way, you can more effectively and positively manage your team towards collectively achieving their goals.</p>
</div>


<hr class="hr hr-space">
<div id="references" class="article-list marginBottom50">
  <div class="well">
    <h4>Author</h4>
    <p>Katie-Pia Moran</p>
  </div>
</div>
