

<div id="what_is_nurse_burn_out" class="article-list marginBottom100">
  <h2 class="balance-text">What is Healthcare Burnout?</h2>
  <p>"Healthcare Employee Burnout" or “Nurse Burnout” might be a foreign term to a lot of people, but to those who work in the medical industry it’s all too familiar. Healthcare Burnout is a set of symptoms that are caused by frequent stress and depersonalization in the medical industry, such as: </p>
  </p>

  <ul class="bullet-list marginBottom50">
    <li>Irritability</li>
    <li>Frequently calling out sick
    <li>Exhaustion
    <li>Depersonalization
    <li>Apathy
  </ul>
</div>

<div id="what_causes_burn_out" class="article-list marginBottom100">
  <h2 class="balance-text">What Causes Nurse Burnout?</h2>
  <p>Nurses in particular are experiencing burnout at higher and higher rates due to issues stemming from a national nurse shortage such as long working hours and an ever increasing caseload. With an aging population and growing demand for healthcare workers, WHO estimates over 1 million nurses will need to be added to the workforce by 2020 to keep up with demand (Haddad & Toney-Butler, 2018). Unfortunately, nurses’ shifts are becoming longer and longer to keep up with the increased demand, forcing nurses and patients to suffer the consequences. In a 2012 study, longer working hours were positively correlated with higher levels of nurse burnout and patient dissatisfaction (Stimpfel, Sloane & Aiken, 2012). In fact, nurses working 12 hour shifts were more likely to experience higher levels of stress and more chronic fatigue, anxiety, and emotional exhaustion than nurses only working 8 hour shifts (Jennings, 2008). </p>
  </p>

  <%= lazy_image_tag "pages/articles/healthcare_recognition/burnout.jpg", alt: "Medical professional holding an iPad that says BURNOUT", class: 'marginBottom30', itemprop: "image" %>

  <h3>Compassion Fatigue is Another Serious Cause of Nurse Burnout</h3>
  <p>“Compassion fatigue is the physical, emotional, and spiritual result of chronic self-sacrifice and/or prolonged exposure to difficult situations that renders a person unable to love, nurture, care for, or empathize with another's suffering.” - (Harris & Griffin, 2015)</p>

  <p>Compassion fatigue may have more to do with the reason why nurses choose to get into the profession than nursing itself. Nurses who report getting into nursing because of their strong desire to help others experience burnout at a much higher rate than nurses who choose nursing for the enjoyment of working in the medical field or lifestyle choices (ASAnews, 2014). </p>

  <p>“[Compassion Fatigue is] a lot like post-traumatic stress disorder. Your response to these emotional things becomes normal, and it shouldn’t be.” - Shari Schwanzl, VP of Operations and Nursing at Helen DeVos Children’s Hospital (Sentinel, 2017)</p>

  <%= lazy_image_tag "pages/articles/healthcare_recognition/depressed-nurse.jpg", alt: "An illustration of a nurse that is feeling depressed", class: 'marginBottom30', itemprop: "image" %>
</div>

<div id="why_is_nurse_burnout_a_problem" class="article-list marginBottom100">
  <h2>Why is Nurse Burnout a Problem?</h2>
  <p>Nurse burnout not only leaves nurses feeling angry and exhausted, but it also affects how well nurses do their jobs. In a 2012 study on nurse burnout, it was found that nurses experiencing burnout had patients with a higher infection rate than nurses who were not experiencing burnout (Cimiotti, Aiken, Sloane & Wu, 2012). Nurse burnout was also found to be associated with a higher rate of errors and a lower patient safety grade (Hall, Johnson, Watt, Tsipa & O'Connor, 2016). These higher rates of infection, errors, and lower patient safety grade also have a tremendous effect on the medical industry’s bottom line. In a study done on nurse burnout and patient safety, it found that even a decrease in nurse burnout as small as 10% could prevent 750 surgical site infections and save anywhere between $8 and $20 million dollars in associated costs (Ross, 2016).</p>

  <p>Nurse burnout also contributes to the growing nurse shortage in the United States, because it causes nurses to leave the profession. In a survey conducted by RNnetwork, half of nurses surveyed considered leaving nursing, and the number one reason for wanting to leave nursing was due to “feeling overwhelmed” (Sutherland, 2017). It’s estimated that the current turnover rate in nursing varies between 8.8% and 37% across the nation (Haddad & Toney-Butler, 2018). Furthermore, nurses who experience burnout are more likely to leave the profession all together (Mazurenko, Gupte  & Shan, 2015). </p>

  <div class="well marginBottom20">
    <p>“We see more and more nurses changing occupations or moving into a less stressful setting such as home care due to being ‘burned out’,” - Michael T. Irvin RN, RN and Healthcare Consultant and President of MLTC Consulting states (White, n.d.)
    </p>
  </div>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/all-for-one.jpg", alt: "A number of healthcare professionals putting their hands together.", class: 'marginBottom30', itemprop: "image" %>
  <p>Combating nurse burnout will be key in helping to retain nurses and offset the effects of a national nurse shortage.</p>

</div>

<div id="reduce_nurse_burnout" class="article-list marginBottom100">
  <h2>What Can be Done to Fix Nurse Burnout? </h2>
  <p>Fortunately, access to empowerment structures, social and organizational support, and meaningful recognition can help lower the rate of nurse burnout.
  </p>

  <p>In a study on nurse empowerment, it was found that perceived access to empowerment structures (such as resources, information, and support) increased work effectiveness and decreased job tension (Laschinger, Wong, McMahon & Kaufmann, 1999). Furthermore, as levels of perceived empowerment increased, nurses experienced less emotional exhaustion and depersonalization along with an increase in personal accomplishment, which are three of the factors that contribute to burnout (Hatcher & Laschinger, 1996).
  </p>

  <h3>Social Network Helps in the Medical Profession</h3>
  <p>Social and organizational support also provide a huge role in decreasing some of the common factors that contribute to nurse burnout. Organizational support was associated with lower levels of work exhaustion (Blau, Tatum & Ward-Cook, 2003), and higher levels of social support were associated with less work stress and less burnout (Hillhouse & Adler, 1997).  In another study, perceived social support was not only negatively correlated to job stress, but also had a positive effect on job performance (AbuAlRub, 2004). While organizational and social support are important, lack of support from managers can increase burnout. Low levels of manager support are a significant predictor of burnout among nurses (Hunsaker, Chen, Maughan & Heaston, 2015). To underscore the importance of manager support, in a 2004 study on Australian nurses, they found that support from colleagues and supervisors was negatively associated with work stressors like role ambiguity, role conflict, and work overload (Joiner, 2004). </p>
  <p>Lastly, meaningful recognition can be paramount in helping to combat nurse burnout and compassion fatigue. In a study on 14 hospitals with established recognition programs and 10 hospitals without, meaningful recognitions were a significant predictor for decreased burnout levels and increased compassion satisfaction (Kelly & Lefton, 2017). </p>
</div>


<div id='recognize_healthcare_research' class="article-list marginBottom100">
  <h2>Recognize Healthcare Burnout and Employee Recognition Research</h2>
  <p>The <%= link_to 'Recognize', root_path %> Team surveyed the healthcare industry to see just how widespread the burnout problem is and does employee recognition help. We conducted a study on over 300 healthcare professionals and found that burnout is extremely prevalent in the healthcare industry. We found that the majority (over 91%) of those surveyed have experienced burnout or symptoms of burnout in their current profession. Furthermore, over half of those surveyed said they were currently experiencing burnout or symptoms of burnout right now. </p>

  <h3>Questions We Asked in the Survey</h3>

  <h4>Q: Have you ever experienced burnout or symptoms of burnout in your current medical profession?</h4>
  <p>91% said yes they do</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/1.jpg", width: '530', height: '200', alt: "Graph showing 91% of medical professionals have had burnout in their current job", class: 'marginBottom30', itemprop: "image" %>

  <h4>Q: Are you currently experiencing burnout or symptoms of burnout?</h4>
  <p>51% said yes they are</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/2.jpg", width: '530', height: '150', alt: "Graph showing 51% of medical professionals are experiencing burnout right now", class: 'marginBottom30', itemprop: "image" %>

  <h4>Quotes on burnout From medical professionals</h4>
  <p>We asked our participants to share with us some of their own personal experiences with burnout, and the answers we received show just how severe the effects of burnout can be. </p>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: "I have experienced burnout many times. There are days where just the thought of getting up to go to work makes me cringe. I have a sinking feeling in my stomach as soon as I walk into the hospital sometimes. And honestly, I have thought that I rather be no longer alive than to deal with issues at work."
  }} %>


  <%= render partial: "articles/quote", locals: {quote: {
      quote: "I am currently dreading each of my shifts. I work nights, and I can never catch up on sleep, my digestion is out of sorts, and I lack the enthusiasm I once had. I no longer desire to get to know my patients."
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: "I know I’m burned out when I’m getting ready for work in the morning and want to cry instead of going to work, because I just dread being there anymore or when I have to force myself to fake empathy, because I just have no real emotion to give anymore."
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: "Burnout happens frequently near the end of the week after I've worked most of the week already, and I'm feeling exhausted and unappreciated and just bored in general with my job and my duties. I'll either find myself slacking off more than I should be or at it's worst, I'll call in sick, even though I'm not sick."
  }} %>

  <hr class="hr hr-space">

  <h3>Medical Retention Questions</h3>
  <p>In addition to experiencing burnout, many of the participants we surveyed have also considered leaving their profession in the healthcare industry. Over 57% have considered leaving their profession, and over 48% have considered leaving in the past year. Even more alarming, over 17% are actively planning on leaving the healthcare industry this year.
  </p>


  <h4>Q: Have you ever considered leaving the healthcare industry?</h4>
  <p>57% said yes</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/3.jpg", width: '530', height: '150', alt: "Graph showing 57% of medical professionals have considered leaving the healthcare industry", class: 'marginBottom30', itemprop: "image" %>

  <h4>Q: Have you considered leaving the healthcare industry in the past year?</h4>
  <p>48% said yes</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/4.jpg", width: '530', height: '150', alt: "Graph showing 48% of medical professionals thought to quit in the past year", class: 'marginBottom30', itemprop: "image" %>

  <h4>Q: Do you plan to leave the healthcare industry in one year or less?</h4>
  <p>17% said yes</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/5.jpg",width: '530', height: '150',  alt: "Graph showing 17% of healthcare professionals plan to leave the industry one year or less", class: 'marginBottom30', itemprop: "image" %>

  <hr class="hr hr-space">

  <%= render partial: "articles/quote", locals: {quote: {
    quote: 'When I was experiencing burnout, I found it hard to function and to do everyday human tasks like bathe. I am currently on an unofficial break from the hospital.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I work in the ED. I have been feeling burnout quite significantly over the past year. I am always irritable and short with patients and that is not who I am. It makes me sad, because I know it has to do with workplace stress.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'Working 12 hour shifts is particularly hard. I can\'t leave the patients or other nurses short staffed so I do work overtime and extra shifts. I feel like I have no life and that when I get home I don\'t want to talk to anyone. Sometimes I cry from frustration.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I used to sit and talk with every patient that I would come into contact with. I would wait hand and foot to make sure that everything was as great as it could be for my patient. Now, I feel as though I don\'t have the energy for so much compassion. I still try my best, but now I am irritable at home and at work, and I cry the nights before I have to get up to go to work, because the thought of having to go in again fills me with absolute dread.'
  }} %>

  <p>Fortunately, there are viable solutions to help combat nurse burnout, so that the nurses at your organization can be happier, healthier, and stay in the nursing profession longer.</p>
</div>

<div id='employee_recognition_solution' class='article-list marginBottom100'>
  <h2>Employee Recognition Solution</h2>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/nurse-jumping.jpg", alt: 'Nurses and healthcare professionals jumping', class: 'marginBottom30', itemprop: "image" %>

  <p>In our survey, we asked our participants to tell us about some of the things that have helped them to combat their burnout. Many of them said time off, support from their family and friends, exercising regularly, doing relaxing activities like getting a massage, and receiving support from peers and management helped them with their symptoms of burnout. However, some of these solutions can be difficult for hospitals to help implement. It’s often not feasible to allow staff more time-off, when hospitals are already short staffed. And unfortunately, hospitals also can’t help nurses’ family and friends to be more supportive. However, hospitals can promote regular exercise, allow staff the opportunity to participate in relaxing activities, and promote peer and managerial support all through implementing an employee recognition program like Recognize. According to our survey participants, appreciation, recognition, and motivational words can be extremely helpful in combating nurse burnout: </p>

  <h3>Quotes from Healthcare Professions on What Can Help</h3>
  <ul class="bullet-list">
    <li>“I think that staff appreciation and staff morale are the biggest ways to combat burnout. That and being aware that it is a problem.”
    </li>
    <li>“Keeping morale and motivation high”</li>
    <li>“Motivational Words”</li>
    <li>“Getting cards and notes of appreciation from a doctor I worked with.”</li>
    <li>“Having someone to talk to or receiving recognition or even a small raise due to the extra work.”</li>
  </ul>

  <p>Implementing an employee recognition program can be any easy way to help to decrease burnout in your organization. However, only half of the participants we surveyed said their organization had a formal recognition program in place. </p>

  <h4>Q: Does your current organization have a formal employee recognition program?</h4>
  <p>53% said yes</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/6.jpg", width: '530', height: '150',  alt: "Graph showing 53% of healthcare professionals have an employee recognition program", class: 'marginBottom30', itemprop: "image" %>

  <p>We also asked our participants how often they were being recognized for their contributions at their organization. Sadly, 31.6% were only recognized on a yearly basis and 18.6% were never recognized at all. </p>

  <h4>Q: How often do you wish you were recognized for your contributions?</h4>
  <p>30% said monthly. Only 8% said daily</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/7.jpg", alt: "Graph showing 30% of healthcare professionals want employee appreciation on a monthly and 28% said quarterly.", class: 'marginBottom30', itemprop: "image" %>

</div>


<div id="seven_strategies" class="article-list marginBottom100">
  <h2>Seven Ways to Use Employee Recognition to Combat Nurse Burnout in Your Organization </h2>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/thank-you-medical.jpg", alt: 'A series of blocks saying Thank You next to a stethoscope.', class: 'marginBottom30', itemprop: "image" %>
  <p>With Recognize, we make it simple and easy for everyone in your organization to send and receive recognitions as often as they like and redeem rewards all within their current workflow. Here are nine ways you can use an employee recognition platform to combat nurse burnout in your organization. </p>

  <h3>1. Give <%= link_to "Peer-to-Peer Employee Recognition", tour_path, target: '_blank' %> to Promote Important Organizational Values</h3>
  <p>When we asked participants to rate how strongly they agreed or disagreed with the statement “I appreciate being recognized by my peers for my contributions in the workplace.” almost 84% of participants agreed or strongly agreed with the statement. Furthermore, when asked to rate the statement “I feel less "burned out" in my work when I am recognized by my peers.” over 55% agreed or strongly agreed with the statement. </p>

  <h4><b>Q:</b> I appreciate being recognized by my peers for my contributions in the workplace.</h4>
  <p>45% said strongly agree</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/8.jpg", alt: "Bar chart showing 45% strongly agree, 38% agree, meanwhile 0% for strongly disagree and 2% for disagree.", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> I feel less "burned out" in my work when I am recognized by my peers.</h4>
  <p>55% said either agree or strongly agree</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/9.jpg", alt: "Bar chart showing a majority of people say they feel less burned out when recognized for contributions. 5% strongly disagree, 14% disagree, 24% neutral, 28% agree, 27% strongly agree", class: 'marginBottom30', itemprop: "image" %>


  <h4>Healthcare employee recognition quotes</h4>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I was recognized for always displaying a kind attitude towards patients, and that I always had a smile on my face. It was submitted anonymously, but it made me feel really good.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I received an award from work after being nominated by a patient for such a good job. I was overly tired and didn’t want to come to work. But, knowing I made a difference changed my mind.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: "On my unit, there is an appreciation board that people can give little shout-outs to people. One time, somebody (I still don't know who wrote it) said that they appreciated the days that they worked with [me]. It made me feel valued and lifted my mood for a few shifts."
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I won an award for saving a life, and I do think it helped me remember that what I was doing was important, and in turn it helped me feel less burned out.'
  }} %>

  <h4>How to Use Recognize to drive employee recognition in healthcare</h4>
  <p>In Recognize, you can upload your own company values for peer-to-peer employee recognitions. On a daily basis, your staff will motivate each other around your organization’s values, such as Safety, Going the Extra Mile, or Compassion. Badges that come from your organization’s values can support the adoption of actions by your staff that support your organization’s unique mission. </p>

  <p>Here are some examples of health care values you can make in Recognize:</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/badges.jpg", width: 530, height: 207, alt: "Examples of company values that can be used in the Recognize employee recognition app. Examples include Empathy, Incredible, and Safety.", class: 'marginBottom30', itemprop: "image" %>

  <h3>2. Have Managers or Leadership Recognize Their Nurses for a Job Well Done</h3>
  <p>The results from our study also showed that most participants appreciated being recognized by managers or members of the leadership team. 88% of those surveyed appreciated being recognized by their managers and 81% appreciated being recognized by their organization. </p>

  <h4><b>Q:</b> I appreciate being recognized by my manager for my contributions.</h4>
  <p>55% said strongly agree and 33% said they agree</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/10.jpg", alt: "0% strongly disagree, 1% disagree, 9% neutral, 33% agree, 55% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> I appreciate being recognized by my organization for my contributions</h4>
  <p>51% said strongly agree and 30% said they agree</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/11.jpg", alt: "1% strongly disagree, 3% disagree, 14% neutral, 30% agree, 51% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4>Manager recognition reduces burnout</h4>
  <p>Furthermore, 79% or participants reported that receiving recognition from their managers could help reduce burnout, and 57% said that receiving recognition from their organization’s leadership team helped reduce their burnout as well. </p>

  <h4><b>Q:</b> I feel less "burned out" when I am recognized by my manager</h4>
  <p>27% said strongly agree and 32% said they agree</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/12.jpg", alt: "7% strongly disagree, 15% disagree, 17% neutral, 32% agree, 27% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> I feel less "burned out" when I am recognized by my organization's leadership team</h4>
  <p>28% said strongly agree and 29% said they agree</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/13.jpg", alt: "9% strongly disagree, 14% disagree, 19% neutral, 29% agree, 28% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4>Use Recognize to accomplish role-based employee recognition</h4>
  <p>In Recognize, you can create special role-based recognition badges that can only be given out by managers or leadership from your organization. Receiving recognition from managers or leadership can help make nurses feel that their hard work doesn’t go unnoticed. </p>

  <%= render partial: "articles/quote", locals: {quote: {
    quote: 'I had an amazing, supportive supervisor who was continually praising hard work. I felt much more appreciated and safe going to her with my concerns/difficulties.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I was meaningfully recognized at work when my three bosses had a meeting with me to tell me they were very happy with my performance, and they rewarded my good work with a raise. This helped to combat my burnout in that it made me feel like what I was doing mattered and that people were noticing my extra effort, so I felt more energy for a while, and I wanted to work harder.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'My boss recognized how much work I was putting into work events, while also carrying a patient load. It made me feel appreciated, which helped my stress level decrease.'
  }} %>

  <h3>3. Give <%= link_to 'Employee Recognition For Service Anniversaries and Birthdays', marketing_anniversaries_path, target: "_blank" %></h3>
  <p>Recognizing nurses on their birthdays and work anniversaries can be an easy way for an organization to recognize and show appreciation to their staff. Half of those surveyed said they like being recognized on their birthday, and 57% said they liked being recognized for their work anniversary. </p>

  <h4><b>Q:</b> I like when my organization recognizes my birthday</h4>
  <p>Half say yes</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/14.jpg", alt: "12% strongly disagree, 13% disagree, 2% neutral, 20% agree, 30% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> I like when my organization recognizes my work anniversary</h4>
  <p>55% say they agree or strongly agree</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/15.jpg", alt: "9% strongly disagree, 13% disagree, 21% neutral, 23% agree, 32% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4>Healthcare work anniversary quotes</h4>
  <p>In Recognize, work anniversaries and birthdays can be recognized automatically, so that your staff is always reminded about how much they mean to your organization. Recognize also allows users to choose if they want their birthdays and anniversaries to be recognized or not. For those who prefer privacy, they can set their birthday and/or work anniversary to private. </p>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'During my work anniversary last year, I was rewarded as the best employee of the year with a shield and cash. It motivated me a lot, and I felt very happy with my achievement.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'Being recognized on my work anniversary makes me feel more energized.'
  }} %>

  <h3>4. Rewards in a Healthcare Employee Recognition Program</h3>

  <p>Rewards are a great way to give more value to employee recognitions. 80% of survey participants said that they agreed or strongly agreed with the statement “I appreciate receiving rewards from my organization for my work.” </p>

  <h4><b>Q:</b> I appreciate receiving rewards from my organization for my work.</h4>
  <p><%= link_to 'Staff rewards', rewards_path %> turns employee recognition up a notch</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/16.jpg", alt: "3% strongly disagree, 4% disagree, 12% neutral, 27% agree, 53% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4>Paid time off vs. cash vs. alternatives in medical staff rewards</h4>

  <p>In Recognize, you can easily set up monetary (gift cards, bonuses, etc) or non-monetary (paid time off, a company parking spot, etc) <%= link_to 'Staff rewards', rewards_path %>, so that your employee can redeem points for the rewards they are most interested in.  </p>
  <p>We asked our participants what rewards they would like to receive in an <%= link_to "employee recognition report", demo_survey_path %> and in this study. The most overwhelming popular non-monetary reward was paid time off. </p>

  <h4><b>Q:</b> When receiving recognition at my organization, I prefer additional paid time off.</h4>
  <p>Medical companies benefit from giving paid time off</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/17.jpg", alt: "2% strongly disagree, 2% disagree, 13% neutral, 24% agree, 56% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> When receiving recognition at my organization, I prefer cash rewards or gift cards</h4>
  <p>Same as paid time off</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/18.jpg", alt: "2% strongly disagree, 3% disagree, 12% neutral, 25% agree, 56% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> When receiving recognition at my organization, I prefer experiences, such as massage or sky dive trip.</h4>
  <p>Not so much</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/19.jpg", alt: "31% strongly disagree, 16% disagree, 21% neutral, 17% agree, 13% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> When receiving recognition at my organization, I prefer donating to the charity of my choice.</h4>
  <p>It is still a good idea to offer this as a choice</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/20.jpg", alt: "23% strongly disagree, 25% disagree, 26% neutral, 13% agree, 10% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <h4><b>Q:</b> When receiving recognition from my organization, I prefer merchandise</h4>
  <p>Medical professionals do not want merchandise as an employee reward</p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/21.jpg", alt: "31% strongly disagree, 26% disagree, 21% neutral, 11% agree, 9% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <div class="marginVertical50">
    <hr class="hr hr-space">
    <h3>See More Ideas on Employee Rewards</h3>
    <%= link_to "Employee Reward Ideas", reward_ideas_path, class: "button" %>
    <hr class="hr hr-space">
  </div>

  <h4>Employee reward quotes from medical professionals</h4>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'My team as a whole was given special recognition with an extra holiday bonus. I felt more excitement for a few weeks afterwards when going to work, as well as a desire to try harder and be more attentive while working.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I was given a gift card to a favorite restaurant. It helped that others cared to recognize my work.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'This sounds simple and maybe silly, but one time I was so stressed, and I had a nurse bring me a milkshake and recognized how much I had been doing. This was her way of letting me know that the staff noticed. It meant a lot.'
  }} %>

  <h3>5. Utilize Employee Nomination Program with Medical Staff or Nurses</h3>
  <p>Nominating nurses for different awards on a monthly, quarterly, or yearly basis is another great way to recognize all the hard work your nurses do. In recognize, you can set up nominations for special awards like “Nurse of the Year” or “Safest Nurse” that your staff can privately vote on to choose the winner. You can even print out one of our custom award certificates to be presented to the winner. </p>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I received the employee of the quarter award. The administrators came in on night shift and had a cake and punch and put my picture in the local paper. It meant a lot to me.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I once received Employee of the Quarter, and this accomplishment really made me feel good about myself and my job.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I received an award for being employee of the year with a few others, and it was an excellent way to feel like I was positively contributing. Just knowing I was appreciated made a difference.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I was awarded employee of the month for being the most dedicated and dependable. It helped boost my confidence and my commitment to my work.'
  }} %>

  <%= lazy_image_tag "pages/articles/healthcare_recognition/employee-of-the-month.jpg", alt: "A graphic with wood letter saying employee of the month.", class: 'marginBottom30', itemprop: "image" %>

  <h3>6. Host a Town Hall Meeting or Staff Huddle For Employee Recognition</h3>
  <p>Hosting a town hall meeting or staff huddle can be a great way to get everyone in the same place and promote camaraderie amongst your team. It can also go a long way in reducing burnout. 45% of survey participants felt that being recognized in staff huddles made them feel less burned out. This works especially well for clinics or smaller healthcare companies.
  </p>


  <h4><b>Q:</b> I feel less "burned out" in my work when I am recognized in staff huddles.</h4>
  <p>Pretty equal across the board </p>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/graphs/22.jpg", alt: "13% strongly disagree, 17% disagree, 23% neutral, 25 agree, 20% strongly agree", class: 'marginBottom30', itemprop: "image" %>

  <p>Use the time together during a staff huddle or town hall meeting to make big announcements, raise and answer questions or concerns, and recognize some of the standout nurses at your organization! Make sure to provide a free lunch to make sure everyone joins. </p>

  <h4>Team Recognition in Healthcare Quotes</h4>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I was recognized in a staff meeting as being someone that should be an example for others. During the next day or two I felt more energized at work.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'My manager discussed my hard work and efforts during a department meeting and used me as an example of a great employee. It made me more willing to work the long hours.'
  }} %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: 'I was complimented during a staff meeting and given flowers. It helped me feel less burned out, because I saw that what I do is recognized and appreciated.'
  }} %>

  <h3>7. Institute a Wellness Program to Encourage Your Staff to Take Care of Their Own Health</h3>
  <%= lazy_image_tag "pages/articles/healthcare_recognition/wellness.jpg", alt: "Exercise, drink water, eat healthy. All symbols of wellness", class: 'marginBottom30', itemprop: "image" %>
  <p>When we asked our survey participants what they did to combat burnout, exercising and meditating came up over and over again. Instituting a wellness program to encourage staff to exercise and meditate can be an easy way to help medical staff combat burnout. </p>
  <p>In Recognize, you can create tasks for wellness activities you want your staff to complete such as taking more steps, meditating, or biking. Staff can easily report to their manager how many steps they took that week and how many minutes they spent biking or meditating through completing tasks. Managers can then give out points to their staff for completing tasks that they can then redeem for rewards. </p>
</div>


<div id="contact_us" class="article-list marginBottom100">
  <h2>Set Up Your Employee Recognition &amp; Rewards Program</h2>
  <%= lazy_image_tag "illustrations/awards_on_wall_color.jpg", alt: "An illustration of staff awards on a wall", class: 'marginBottom30', itemprop: "image" %>

  <p>Setting up an employee recognition and rewards program doesn’t have to be expensive or take months to set up. At Recognize, we have options at every price point and can get your employee recognition program up and running in only 4 weeks. Thousands of nurses and healthcare workers use our software every day to send and receive recognitions and redeem rewards. </p>
  <p><%= link_to 'Contact us', contact_sales_path %> to learn how you can be using employee recognition and rewards to combat nurse burnout at your organization. </p>
  <%= schedule_demo_link cssclasses: "margin20" %>

</div>

<!-- REFERENCES -->
<div id="references" class="article-list marginBottom100">
  <h2 class="balance-text">References &amp; Methodology</h2>

  <h3>Healthcare Burnout Employee Recognition Market Research Participant Demographics</h3>
  <ul class="bullet-list">
    <li>74% were Female, 25% Male</li>
    <li>40% were age 25-34, 31% 35-44, 10% 45-54, 9% 18-24, 7% 55-64</li>
    <li>43% have a Bachelor’s Degree, 19% Associate’s Degree, 13% Master’s Degree, 10% Attended College, 5% Professional Degree</li>
    <li>69% were White, 10% Black, 7% South Asian, 6% Hispanic, 3% American Indian</li>
    <li>34% make between $50,000-$75,000, 19% $30,000 - $40,000, 11% $40,000-$50,000, 10% $75,000 - $100,000, 8% Under $20,000</li>

  </ul>

  <hr class="hr hr-space">

  <h3>References</h3>

  <p>AbuAlRub, R. (2004). Job stress, job performance, and social support among hospital nurses. [Abstract]. J Nurs Scholarsh., 36(1). Retrieved March 4, 2019, from https://www.ncbi.nlm.nih.gov/pubmed/15098422.
  </p>
  <p>ASANews. (2014). Nurses driven mainly by a desire to help others are more likely to burn out. Retrieved from https://www.eurekalert.org/pub_releases/2014-08/asa-ndm081214.php
  </p>
  <p>Blau, G., Tatum, D., & Ward-Cook, K. (2003). Correlates of work exhaustion for medical technologists. J Allied Health,32(3). Retrieved from https://www.ncbi.nlm.nih.gov/pubmed/14526896.
  </p>
  <p>Cimiotti, J. P., Aiken, L. H., Sloane, D. M., & Wu, E. S. (2012). Nurse staffing, burnout, and health care–associated infection. American Journal of Infection Control,40(6), 486-490. Retrieved March 4, 2019, from https://www.ajicjournal.org/article/S0196-6553(12)00709-2/abstract.
  </p>
  <p>Haddad, L. M., & Toney-Butler, T. J. (2018). Nursing Shortage. Stat Pearls. Retrieved March 4, 2019, from https://www.ncbi.nlm.nih.gov/books/NBK493175/.
  </p>
  <p>Hall, L., Johnson, J., Watt, I., Tsipa, A., & O'Connor, D. (2016). Healthcare Staff Wellbeing, Burnout, and Patient Safety: A Systematic Review. PLoS One,11(7). Retrieved March 4, 2019, from https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4938539/.
  </p>
  <p>Harris, C., & Griffin, M. T. (2015). Nursing on Empty: Compassion Fatigue Signs, Symptoms, and System Interventions. Journal Of Christian Nursing,32(2), 80-87. Retrieved March 4, 2019, from https://www.nursingcenter.com/cearticle?an=00005217-201504000-00008&Journal_ID=642167&Issue_ID=2772472.
  </p>
  <p>Hatcher, S., & Laschinger, H. (1996). Staff nurses' perceptions of job empowerment and level of burnout: A test of Kanter's theory of structural power in organizations. Can J Nurs Adm.,9(2). Retrieved from https://www.ncbi.nlm.nih.gov/pubmed/8716472.
  </p>
  <p>Hillhouse, J., & Adler, C. (1997). Investigating stress effect patterns in hospital staff nurses: Results of a cluster analysis [Abstract]. Soc Sci Med,45(12). Retrieved from https://www.ncbi.nlm.nih.gov/pubmed/9447628.
  </p>
  <p>Hunsaker, S., Chen, H., Maughan, D., & Heaston, S. (2015). Factors That Influence the Development of Compassion Fatigue, Burnout, and Compassion Satisfaction in Emergency Department Nurses. Journal of Nursing Scholarship,47(2). Retrieved March 4, 2019, from https://sigmapubs.onlinelibrary.wiley.com/doi/abs/10.1111/jnu.12122.
  </p>
  <p>Jennings, BM.(2008). Work Stress and Burnout Among Nurses: Role of the Work Environment and Working Conditions. In: Hughes RG, editor. Patient Safety and Quality: An Evidence-Based Handbook for Nurses. Rockville (MD): Agency for Healthcare Research and Quality (US); Available from: https://www.ncbi.nlm.nih.gov/books/NBK2668/
  </p>
  <p>Joiner, T. (2004). How empowerment and social support affect Australian nurses' work stressors [Abstract]. Aust Health Rev,28(1). Retrieved March 4, 2019, from https://www.ncbi.nlm.nih.gov/pubmed/15525251.
  </p>
  <p>Kelly, L. A., & Lefton, C. (2017). Effect of Meaningful Recognition on Critical Care Nurses’ Compassion Fatigue. American Journal of Critical Care,26(6). Retrieved March 4, 2019, from http://ajcc.aacnjournals.org/content/26/6/438.abstract
  </p>
  <p>Laschinger, H. K., Wong, C., McMahon, L., & Kaufmann, C. (1999). Leader behavior impact on staff nurse empowerment, job tension, and work effectiveness. Retrieved from https://www.ncbi.nlm.nih.gov/pubmed/10333859
  </p>
  <p>Mazurenko, O., Gupte, G., & Shan, G. (2015). Analyzing U.S. nurse turnover: Are nurses leaving their jobs or the profession itself? Journal of Hospital Administration,4(4), 48-56. doi:10.5430/jha.v4n4p48
  </p>
  <p>Ross, J. (2016). The Connection Between Burnout and Patient Safety. Journal of PeriAnesthesia Nursing,31(6), 539-541. Retrieved March 4, 2019, from https://www.jopan.org/article/S1089-9472(16)30314-8/fulltext.
  </p>
  <p>Sentinel, H. (2017). Beating the burnout: Nurses struggle with physical, mental and emotional exhaustion at work. Retrieved from https://www.nationalnursesunited.org/news/beating-burnout-nurses-struggle-physical-mental-and-emotional-exhaustion-work
  </p>
  <p>Stimpfel, A., Sloane, D., & Aiken, L. (n.d.). The Longer The Shifts For Hospital Nurses, The Higher The Levels Of Burnout And Patient Dissatisfaction. Health Affairs (Project Hope), 31(11), 2501-9. Retrieved March 4, 2019, from https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3608421/.
  </p>
  <p>Sutherland, S. (2017). RNnetwork Nurse Survey Finds Half of Nurses Consider Quitting. Retrieved from https://rnnetwork.com/blog/rnnetwork-nurse-survey/
  </p>
  <p>White, S. (n.d.). The Nursing Shortage Isn't Due to Lack of Interest. Retrieved from https://www.monster.com/career-advice/article/nursing-shortage
  </p>
  <p>Writers, S. (n.d.). Avoiding Burnout as a Nurse. Retrieved from https://www.nursing.org/resources/nurse-burnout/
  </p>


  <%= render partial: "articles/contact_us" %>

</div>