<div id="introduction" class="article-list">

  <p>How to leverage your existing Office 365 subscription to engage and retain employees?</p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/employees.jpg", alt: "A bunch of people smiling.", class: "marginBottom30", itemprop: "image" %>

  <p>As a software suite, Office 365 is clean, reliable, easy to use and functional.
    Created in 2001, it’s a well respected, faithful veteran in a fast-changing desktop society and whatever you do for work, no matter what corner of the world you’re in, you’ve likely used or are using Outlook, Sharepoint, MS teams, Yammer, Azure or Skype for Business and are no stranger to the O365 experience.  </p>
</div>

<div id="communication" class="article-list">
  <h2>Communication 2.0</h2>

  <p>Office 365 encompasses a pretty convenient one size fits all solution of kinds for organizations when it comes to communication and project management, however, there are still some small steps you can take to fully realize and unlock it’s potential to foster ongoing and meaningful employee engagement across each of its tools.
    In a workforce where team dynamics are fast-changing and organizational change has become increasingly frequent, the need for continuous and impactful communication with employees has taken on a newfound importance.</p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/meeting.jpg", alt: "Two people shaking hands in a meeting.", class: "marginBottom30", itemprop: "image" %>

  <p>According to a recent survey from Gallup, as little as 27% of employees feel that the feedback they receive helps them to do a better job, while only 17% feel that their company culture has effective and open communication across each level (for more,  <a href="https://www.gallup.com/workplace/236459/amid-rapid-fire-workplace-change-pulse-surveys-emerge.aspx">check out the statistics here</a>).
    We took a closer look at Office 365 as a work tool to see exactly where and how managers and employers can step up their game to best use it for stronger, more comprehensive communication.</p>
</div>

<div id="overview" class="article-list">
  <h2>Office 365 at a Glance</h2>
  <p>Office 365 is comprised of a host of apps and tools designed to boost collaboration and productivity for businesses with each one offering a different style of interaction. Perhaps the most important ones to note in our case when it comes to feedback and communication would be Yammer, Microsoft Teams, and Outlook.</p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/office-365.jpg", alt: "Office 365 application with magnifying glass", class: "marginBottom30", itemprop: "image" %>

  <p><strong>Yammer</strong> acts as a social network of kinds for enterprises, with the idea being to encourage employees to communicate with one another, irrespective of the departments they might be based in.
    Filled with micro-posts, it can also be thought of as a company-wide messaging board. <strong>Microsoft Teams</strong>, as the name suggests, was created to help drive productivity and teamwork. Combining group chats and features similar to Skype, it uses collaborative elements such as document sharing to make project management flow more seamlessly between teams.
    In contrast, <strong>Outlook</strong>, the maestro of Office 365, focuses on personal information management and private, long-form communication often external to your organization.</p>
</div>

<div id="engagement" class="article-list">
  <h2>Why Engagement Matters for Your Tools </h2>
  <p>It might surprise most managers to discover the power that lies behind our everyday tools for employee interaction and how it can positively boost engagement.
    If we consider the increasing statistics that point to an outcry from employees for constructive and useful feedback, then we would do well to see how we can best communicate and share this via the arrays of tools we’re using
    and perhaps, to also understand how we may be under-using them. </p>
  <br>
  <p>Sometimes we can have the impression that in equipping our employees with some of the top tools, apps and software on the market, we are guaranteed stellar productivity and output in return. In this case, we should be wary of the false sense of security that arming ourselves with apps and tools can provide.</p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/meeting-2.jpg", alt: "People smiling and working", class: "marginBottom30", itemprop: "image" %>

  <p>For managers anxious to give feedback and communicate, making some adjustments to your tools of choice can also make it easier to give smoother, year round-feedback as opposed to dreaded annual performance reviews<sup>1</sup>. Stepping up how you treat your software will also matter more as time goes by.
    It is estimated that by 2020, 50% of the global workforce will be made up of Millenials<sup>2</sup>, a workforce segment known to demand more from their careers and put high aspirations behind their employers, they not only have high expectations for working style but also the technology and tools being used. </p>
  <br>
  <p>So, with this at the front of our minds, let’s take a look at some easy tips and tricks you can implement to improve Office 365 and your employee interactions. </p>
</div>

<div id="recognition" class="article-list">
  <h2>Implement Recognition</h2>
  <p>We’ve spoken before about the value of employee engagement (if you’re curious, you can check out <a href="https://recognizeapp.com/ways-foster-employee-engagement">our last piece here.</a>) and the impact that regular exchanges of recognition can have for cultivating a great company culture.  </p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/handshake.jpg", alt: "People shaking hands in another meeting", class: "marginBottom30", itemprop: "image" %>

  <p>By integrating apps such as <a href="https://recognizeapp.com">Recognize</a>, which is the only employee recognition program that can be integrated for Outlook, you can make your day to day interactions feel that little bit less two dimensional by offering your employees a channel for daily
    recognition including badges and awards that specifically showcase individual employee efforts, even designating points that can be accumulated over time to claim tangible rewards such as coupons, discounts and office-specific perks such as days off or access to premium parking spaces.
    This is a sure-fire way to unleash a more colorful dynamic for engagement rather than just emailing to and fro, as is usually the case in Outlook. You can also easily distribute recognitions in Yammer and MS teams using Recognize, as well as a host of other emerging employee recognition software.</p>
</div>

<div id="feedback" class="article-list">
  <h2>Encourage Feedback  </h2>
  <p>Another useful approach that has helped companies in gaining meaningful feedback and actionable insights has been the use of Pulse Surveys. Pulse surveys, when used at the right moment, can be a fundamental agent in dealing with periods of intense change and are a great means for helping organizations to remain agile. At a given moment a Pulse Survey can give you an accurate snapshot of the current state of your people and teams. </p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/charts.jpg", alt: "Worker on a laptop looking at graphs", class: "marginBottom30", itemprop: "image" %>

  <p>They can quickly capture a mood or state of company morale, overall reactions and feedback towards new policies or projects or offer a window of opportunity for discussion around a certain topic, helping to significantly boost employee engagement. Pulse surveys are also a great way of equipping your managers for smoother engagement with teams, luckily you now have a host of apps to help streamline surveys and feedback in Office 365 whether opting for built-in features such as Forms or Sharepoint Surveys, or choosing from a growing offering of HR software focused on employee feedback and engagement (looking for a Pulse Survey solutions? Check out the top 20 from <a href="https://www.capterra.com/survey-software/#top-20">CapTerra</a>).</p>

</div>


<div id="discussion" class="article-list">
  <h2>Let's Talk about it.</h2>
  <p>Part of forging out a stimulating and engaging environment for employees involves opening up the lines of communication between managers and leaders across all levels. By creating a sense of proximity across all departments, employees have the opportunity to ask questions and interact to better understand the missions and goals of the colleagues they work with and the founders they work for.  </p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/conversation.jpg", alt: "People chilling and talking about stuffs", class: "marginBottom30", itemprop: "image" %>
  <p>A great way of achieving this is through the use of Fireside Chats or forums with executives and senior management. Microsoft Stream, Teams and Yammer can each be used to create live events with high-definition videos that can be streamed in real-time. Employees can be notified of when to tune in and join through mobile, desktop or web and for those in various time zones, content can be stored and saved to watch at a later date. Employees can take part in interactive discussions and ask questions to help cultivate sustained and engaged dialogue across company communities.  </p>
</div>

<div id="wellness" class="article-list">
  <h2>Welcome Wellness </h2>
  <p>Company volunteer programs are becoming increasingly common and have been applauded not only for the positive impact they can create on local communities, but for the effect they can have in fostering employee wellness and company cultures. If you think organizing volunteer initiatives with your colleagues is complicated, you can also think again, these days, thanks to various software and increasing interest from millennials it’s become easier than ever (we even put together  <a href="https://recognizeapp.com/run-volunteer-program">a guide to help you kickstart yours</a>).  </p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/recycling.jpg", alt: "Person holding clear plastic bottle", class: "marginBottom30", itemprop: "image" %>
  <p>At Recognize, we offer features for Office 365 to help support both businesses and NGOs roadmap and kick-off volunteer programs, as well as running their day to day task management and operations and helping to make it easier to create incentives and extend much-needed recognition and appreciation to individual volunteers. Using Office 365 and Recognize, you can coordinate a beach clean up, support local food shelters, volunteer at retirement homes or even kick off company sustainability initiatives, not only boosting morale but driving engagement in parallel. </p>
</div>

<div id="fun" class="article-list">
  <h2>Have Fun!</h2>
  <p>In the end, the workplace is what we make of it. While Office 365 is an excellent solution for communication, information sharing and management, part of the beauty of its simplicity is its ability to be customized how you wish. Gamification for example can be integrated into your day to day tools. Organizing small contests is easily done across Yammer, Teams and Sharepoint and can not only help motivate employees but also engage them in a more novel way. These can also be organized for teams, or for individuals, whatever works best for your environment. Make brainstorming more compelling by sharing rich content, videos and images to trigger discussions and inspire creative problem solving and kickstart a steady flow of ideas. </p>
  <%= lazy_image_tag "pages/articles/engage-employees-office-365/sharing.jpg", alt: "People looking on a tablet", class: "marginBottom30", itemprop: "image" %>
  <p>Your Office 365 tools should work together to create a centralized hub of meaningful content and management, facilitating easy but also meaningful communication and engagement. Got any tips of your own? Share them with us today!  </p>
</div>

<hr class="hr hr-space">
<div id="references" class="article-list marginBottom50">

  <h3>References</h3>

  <p>Jenn Lofgren (2020). Why you should ditch Performance Reviews (And what to do instead) Retrieved  from https://www.forbes.com/sites/forbescoachescouncil/2020/01/13/why-you-should-ditch-performance-reviews-and-what-to-do-instead/#4bf820543c7c.
  </p>
  <p>PwC. Millennials at work. Retrieved from https://www.pwc.com/co/es/publicaciones/assets/millennials-at-work.pdf
  </p>

  <div class="well">
    <h4>Author</h4>
    <p>Katie-Pia Moran</p>
  </div>
</div>