<div id="year_end_bonuses" class="article-list">
  <h2 class="balance-text">Year-End Bonuses for Corporate Recognition</h2>
  <%= lazy_image_tag "pages/article-holiday-party/money.jpg", alt: "Money in company year-end holiday bonus", class: "marginBottom30", itemprop: "image" %>

  <p>Money is known to be a main motivator for employee performance and retention. Given the increasingly tight labor market, many companies resort to providing some type of additional year-end compensation to their employees <a href="https://www.sba.gov/blogs/5-things-know-about-year-end-bonuses" target="_blank">(Weltman, 2017)</a>. This type of gesture is typically viewed as a demonstration of employer generosity, rewarding employees for a successful past year and incentivizing them to stay through the next. And according to recently surveyed companies, these perceptions still hold true.
  </p>

  <h3>3/4<sup>th</sup> of Employees Say Bonuses Affect Retention</h3>
  <p>In November of 2018, Recognize ran a holiday bonus and party survey for managers and employees. It demonstrates the impact that variable compensation plays in employee retention - especially around the holidays. However, <strong>less than 60% of surveyed companies still provide this type of holiday perk</strong>. While large companies (5,000+ employees) traditionally provided their employees with year-end bonuses, this reward has become <strong>increasingly popular with smaller firms</strong> (less than 1,000 employees). And in terms of format, the top-ranked options for the year-end bonus are <strong>gift cards (46%), cash (41%), &amp; award certificates (25%)</strong>. So while bonus checks have become a thing of the past, there is still an employee expectation of some type of year-end reward.</p>


  <%= lazy_image_tag "pages/article-holiday-party/rewards-graph.jpg", alt: "46% gift cards, 41% cash, and 25% award certificates for corporate holiday rewards", class: "marginBottom10", itemprop: "image", width: "500", height: "142" %>

  <cite class="marginBottom30 block">The most popular rewards options (Source: Recognize survey data)</cite>


  <p>Based on these findings, a few interpretations can be made. First, <strong>bonuses are reaffirmed to be key motivators for employee performance</strong> - especially around the holidays. These rewards are viewed as effective methods of extrinsic motivation that encourage employee retention through monetary recognition <a href="http://www.utm.edu/staff/mikem/documents/Payasamotivator.pdf" target="_blank">(Rynes, Gerhart, and Minette, 2004)</a>. Regardless of the reward’s value, the thought behind it has a much greater impact on the employee experience. And secondly, <strong>failure to recognize employees for their year-end accomplishments can be detrimental to long-term staff retention</strong>. If hard-working employees are not rewarded for ‘going above and beyond’ over the past year - especially for projects that fall outside of their job description - an ‘image violation’ can occur and potentially enhance their intentions to leave the company <sup><a href="#holtom" class="animate-scroll">2</a></sup>. This dilemma can seriously threaten both employee morale and retention, which are key aspects of the employee experience. So it’s important for companies to consider their employees’ perceptions of year-end bonuses when crafting staff retention plans.
  </p>


  <div class="well marginBottom30 marginTop20">
    <h3 class="balance-text">Two Helpful Tips for Holiday Staff Rewards</h3>
    <ul>
      <li>
        <h4>Plan Ahead</h4>
        <p>Send out an employee survey to see which type of year-end rewards they’d prefer (if your budget permits).</p>
      </li>
      <li>
        <h4>Cover the Tax</h4>
        <p>Since all holiday rewards are reported as income, see if your company can at least cover the taxable portion.</p>
      </li>
    </ul>
  </div>


</div>

<div id="holiday_parties" class="article-list">

  <h2 class="balance-text">Holiday Parties for Companies</h2>


  <%= lazy_image_tag "pages/article-holiday-party/celebrate.jpg", alt: "Company holiday party celebrations", class: "marginBottom30 marginRight10", itemprop: "image" %>

  <p>The company holiday party has become regarded as an annual staple of its employee experience. These events allow employees of all functions to come together for a night of networking, engagement, and holiday cheer, allowing them to build-up and/or strengthen their workplace relationships <a href="https://www.aaoe.net/news/322278/Office-Holiday-Parties-An-Investment-in-Employees-and-Company-Culture.htm">(DelPrete, 2016)</a>; this is especially true for remote workers who already have limited office interactions. Additionally, more companies have been kicking-off these events with ‘town halls’ that give high-level overview of the past year. Usually led by a member of the executive team, these forums are a great opportunity to recognize top performers and other stellar employees from the past year. And based on Recognize’s survey results, these company-sponsored initiatives are still very popular.</p>

  <p>According to Recognize’s survey results, over <strong>75% of US-based employees and managers</strong> look forward to attending their company’s annual holiday party. This figure reaffirms the continued popularity of these initiatives within the employee experience - which is reflected in the fact that <strong>over 90% companies intend to host some type of holiday party</strong> this year. However, not all these employers appear to invest the same amount of resources into these company-wide activities. Despite larger firms having a longer history of hosting these seasonal events, smaller companies tend to <strong>allocate more funding per headcount for their holiday parties</strong>. And among the different company-sponsored elements of holiday parties, the <strong>most popular components include dinner (96%), open bar (63%), and prizes (33%)</strong>. So while company-sponsored holiday parties have been around for decades, they still remain popular activities that employees look forward to each year.</p>


  <%= lazy_image_tag "pages/article-holiday-party/parties-graph.jpg", alt: "46% gift cards, 41% cash, and 25% award certificates for corporate holiday rewards", itemprop: "image", width: "500", height: "134" %>
  <cite class="marginBottom30 block">The most popular activities of a company holiday party (Source: Recognize survey data)</cite>


  <p>Based on these findings, several conclusions can be drawn. First, holiday parties are known to effectively boost cross-functional networking and employee engagement. These events allow employees from different business units to ‘mix and mingle’ with each other, enabling them to foster social connections within the company <a href="http://adviesburofier.nl/wp-content/uploads/2017/07/2_Job-engagement-and-job-performance_AMJ-2010.pdf" target="_blank">(Rich, Lepine, and Crawford, 2010)</a>. Since December tends to feature fewer work trips and scheduling conflicts for most employees, the holiday season tends to be the best time of the year to host these activities. And secondly, the engaging experience created through holiday parties is effective at mitigating job burnout and voluntary turnover. This type of engagement has the potential to make a positive organizational impact - especially in fast-paced and/or high-stress work environment where employee burnout is most prevalent; employee engagement is considered to be the best ‘antidote’ to burnout <a href="https://www.wilmarschaufeli.nl/publications/Schaufeli/209.pdf" target="_blank">(Schaufeli and Bakker, 2004)</a>. So investing in engagement activities - like holiday parties - is a great method of helping to eradicate job burnout and improve staff retention.
  </p>


  <div class="well marginBottom30">
    <h3 class="balance-text">Five Great Company Holiday Party Tips</h3>
    <ul class="bullet-list">
      <li>Avoid cutting funding from the holiday party budget – people will notice!</li>
      <li>Send out a survey to see which type of food/activities your employees want.</li>
      <li>Give your staff plenty of advanced noticed (at least one month!).</li>
      <li>Allow your employees to bring a +1.</li>
      <li>Choose a less expensive venue so you can splurge on higher quality food and staff activities.</li>
    </ul>
  </div>
</div>

<div id="corporate_recognition" class="article-list">
  <h2 class="balance-text">How Corporate Recognition Can Help</h2>
  <%= lazy_image_tag "pages/article-holiday-party/handshake.jpg", alt: "Two office workers shaking hands", class: "marginBottom30", itemprop: "image" %>

  <p>There are a wide range of tools that can help companies enrich their employee experience through these holiday perks - including Recognize. In terms of year-end bonuses, the Recognize platform has a several features that can help your company prepare and distribute year-end rewards to your staff. Employees can leverage the ‘Tasks’ tool to record their project milestones and achievements throughout the year, which can be helpful for managers who calculate individual, year-end bonuses. And through the ‘Recognitions’ tool, managers can distribute recognition badges to their direct reports. Each badge can be configured to include a specified number of ‘rewards points’, which can then be redeemed for a wide range of reward options (e.g. gift cards, company merchandise, or paid time-off). Both these features are excellent ways in which Recognize can help companies demonstrate employer gratitude during the holiday season.</p>

  <div class="clearfix marginBottom30">
    <div class="well left marginRight10 marginBottom10" style="width: 200px;">
      <strong>"At our annual celebration, we rewarded our employees based on their Recognizeapp ranking."
      </strong>
      <p class="block">Leonardo Nogueira, CEO, Prosperi</p>
    </div>
    <p class="inline">Additionally, Recognize’s platform enables companies to take a more collaborative approach in publicly recognizing their employees. In terms of holiday parties, the Recognize platform includes features that facilitate employee acknowledgements through ‘crowdsourcing’. Through the ‘Nominations’ tool, employees can recommend colleagues for specific company awards (e.g. ‘Employee of the Year’) that can then be presented at the company-sponsored holiday party. And in addition to this public acknowledgement, managers can print and present auto-generated award/appreciation certificates to their direct reports. These visuals are excellent ways to publicly acknowledge the efforts and/or values of your workforce - especially at a company-wide, annual gathering. Not only are these recognition tools an effective way to commend employees for a ‘job well done’, but they also enhance an employee’s sense of perceived value at the company; this is a key aspect of employee retention. So Recognize can definitely help facilitate the public employee recognition process at companies’ annual holiday get-togethers.</p>
  </div>
</div>


<div id="concluding_thoughts" class="article-list">
  <h2 class="balance-text">Concluding Thoughts on Corporate Holiday Parties</h2>
  <%= lazy_image_tag "pages/article-holiday-party/gift.jpg", alt: "An employee reward on an office desk", class: "marginBottom30", itemprop: "image" %>

  <p>Given the mounting financial and personal pressures of the holiday season, many employees look to their companies for appreciation during this time of year. So it’s important for companies to continue investing in their employees through these popular perks. For employers that have the budgetary capacity, we recommend rewarding employees for a ‘job well done’. This can range from general gift cards for all employees to ‘high-performance’ awards to ‘prizes’ at year-end gatherings. And regardless of budget, all companies should consider investing in some type of year-end, holiday party. Not only are these events effective in boosting employee engagement and morale, but they can also be scaled according to budgetary constraints (e.g. office-based potlucks vs. full-scale venues). Both these perks appear to have a strong impact on employee performance and appreciation, which can directly impact turnover intentions and staff retention. Overall, companies are expected to demonstrate their gratitude for their employees during the holiday season - and this is definitely an area where the Recognize team would be more than happy to help.
  </p>

  <hr class="hr hr-space">

  <h3>References</h3>


  <p>1. DelPrete, S. (2016). ‘Office Holiday Parties: An Investment in Employees and Company Culture’. American Association of Orthopedic Executives. https://www.aaoe.net/news/322278/Office-Holiday-Parties-An-Investment-in-Employees-and-Company-Culture.htm
  </p>
  <p id="holtom">2. Holtom, B. C., & Inderrieden, E. J. (2006). ‘Integrating the unfolding model and job embeddedness model to better understand voluntary turnover.’ Journal of Managerial Issues, 18, 435-452.</p>
  <p>3. Rich, B. L., Lepine, J. A., & Crawford, E. R. (2010). Job engagement: Antecedents and effects on job performance. Academy of Management Journal, 53(3), 617-635. http://adviesburofier.nl/wp-content/uploads/2017/07/2_Job-engagement-and-job-performance_AMJ-2010.pdf</p>
  <p>4. Rynes, S. L., Gerhart, B. & Minette, K. A. (2004). The importance of pay in employee motivation: discrepancies between what people say and what they do. Human Resource Management, 43, 381-94. http://www.utm.edu/staff/mikem/documents/Payasamotivator.pdf </p>
  <p>5 Schaufeli, W. & Bakker, A. (2004). ‘Job demands, job resources, and their relationship with burnout and engagement: a multi-sample study’. Journal of Organizational Behavior, 25: 293-315. https://www.wilmarschaufeli.nl/publications/Schaufeli/209.pdf
  </p>
  <p>6. Weltman, B. (2017). ‘5 Things to Know about Year-End Bonuses’. US Small Business Association. https://www.sba.gov/blogs/5-things-know-about-year-end-bonuses</p>


  <%= render partial: "articles/contact_us" %>

</div>