<div id="intro" class="article-list">
  <p>Running a volunteer program may seem time consuming and laborious, but not anymore! Whether you’re a fully-fledged NGO looking to better manage and reward your hard-working volunteers, or simply looking to kick start a new initiative in the office, our simple, automated incentives will show how easily you can kick off a great volunteer program this year.</p>
  <%= lazy_image_tag "pages/articles/volunteer/2.jpg", alt: "People planting a walled garden", itemprop: "image" %>

</div>

<div id="why" class="article-list">

  <h2>Why a Volunteer Program?</h2>
  <p>If you’re looking to motivate employees to volunteer, you may have doubts that they will see it as an extra onus on them. Not the case.</p>

  <p>Crafting the image, ethos, and ideals of a company can take time and commitment, however, volunteer programs offer a great way to <%= link_to 'engage employees', ways_foster_employee_engagement_path %> in the values and behaviors that you and your employees wish to bring to your work community. Volunteer programs have long been recognized as a great way for employees to gain a source of pride as part of their work. Likewise, volunteer programs provide an excellent means for helping your teams to upskill in a dynamic environment, leaving room for growth and learning on a personal level that can prove effective for retention in fighting a culture of job-hopping. </p>

  <%= lazy_image_tag "pages/articles/volunteer/3.jpg", alt: "A caretaker of an older gentleman", itemprop: "image" %>

  <p>In the latest <%= link_to 'Gallup report on how Millenials wish to work and live', 'https://www.gallup.com/workplace/238073/millennials-work-live.aspx' %>, one of the major findings was a generation that is eager to work beyond the carrot of a paycheck, Millenials are eager to work with purpose and are more motivated by missions and meaning, so will prioritize companies that are actively giving back. </p>

  <p>The great news? With automated software, it’s now easier than ever before to kick off a successful and sustainable volunteer program driven by great incentives to reward and recognize your employees or volunteers. </p>

</div>

<div class="article-list" id="design">

  <h2>Design your program</h2>

  <p>If you’re setting up company volunteering, this can cover a whole range of activities, however, it‘s often best to select an initiative that resonates across your employees. It also helps to research the needs of your local community and consider the resources and vertical of your company that may best serve a specific group. Education, healthcare and technology companies, for example, will each have niche resources and expertise that may best fit a certain cause. </p>

  <%= lazy_image_tag "pages/articles/volunteer/4.jpg", alt: "People readaing together outside at a park bench", itemprop: "image" %>

  <p>By choosing a focus that complements your company's work, you may also have the opportunity to help your employees partake in more skills-based volunteering, empowering them to gain more expertise in their field along the way.
    Some of the most successful volunteer programs are those <%= link_to 'chosen by the staff themselves', 'https://medium.com/@1girlv3boys/how-helping-helps-your-business-4933a3df1327', target: '_blank' %>, so don’t be shy about opening up the forum to suggestions.
  </p>

</div>

<div class="article-list" id="roadmap">
  <h2>Make your Roadmap</h2>
  <p>Even the best intentions need strong management to take them to the top. Being able to efficiently and effectively delegate and track volunteer hours, scheduling and activities is a challenge for many nonprofits and companies large and small, again, software such as Recognize can dramatically change this. </p>
  <%= lazy_image_tag "pages/articles/volunteer/5.jpg", alt: "An employee submitting a task they completed in Recognize Incentives app.", itemprop: "image" %>
  <p>Establishing the volume of time that employees will spend volunteering is important for laying down a strong foundation for volunteer management. From here, it helps to have one individual spearhead the program and help designate tasks across each team member. If you’re an NGO looking to better organize volunteers, you can also put these measures into place and to start helping both volunteers and managers to better manage their time and goals. </p>
  <%= lazy_image_tag "pages/articles/volunteer/6.jpg", alt: "People creating a sidewalk together.", itemprop: "image" %>
  <p>With <a href="https://recognizeapp.com">Recognize</a>, tasks can be easily labeled, scheduled and distributed, providing both managers and volunteers with a crystal clear overview of volunteer duties week on week. Remember to set clear goals and to make tasks as specific as possible, bearing in mind which volunteers are motivated by certain activities, and how they like to work. Don’t forget to make it clear who they can reach out to provide feedback. </p>
</div>


<div class="article-list" id="recognition">
  <h2>Recognize and Reward</h2>
  <p>While goodwill is great, recognition and rewards are invaluable gestures for engaging and retaining your volunteers in their kind endeavors. Volunteering, whatever the scope, can be tough going and it can’t be forgotten that hours spent helping out are hours dedicated from other personal, recreational moments. Being able to reward and encourage volunteers will not only engage volunteers further with the project but can be an excellent means of sustaining ongoing initiatives in the long term for more ambitious projects down the line.</p>
  <%= lazy_image_tag "pages/articles/volunteer/6.jpg", alt: "Create tasks and redeem rewards, such as gift cards in Recognize", itemprop: "image" %>
  <p>One of the great features of Recognize is that for every task you designate, points can be attached to it and later redeemed across all kinds of rewards, from coupons to clothing, movie tickets, or even a cup of coffee - no token should be considered too small!</p>
</div>


<div class="article-list" id="reach_out">
  <h2>Reach Out</h2>
  <p>Even when volunteer life cycles finish, don’t forget to reach out for feedback and keep in the loop with volunteers, engagement should be nurtured and the momentum kept for future initiatives. </p>
  <%= lazy_image_tag "pages/articles/volunteer/7.png", alt: "Friends all hanging out together", itemprop: "image" %>
  <p>Most importantly - have fun! Volunteering is a great experience to give back whether for the environment, for others or even as part of wellness projects to promote better health. Share your experiences with one another, the high and low points or even just a funny GIF, there’s no reason volunteering shouldn’t be happy and memorable for everyone.</p>
</div>


<div class="article-list" id="inspiration">
  <h2>Looking for Inspiration? </h2>

  <p>You can volunteer across a whole range of topics, the lists are endless! Salesforce for example, boasts a range of employee volunteer programs, one such example has been the dedication of over 1,935 hours from their staff to participate in <%= link_to 'volunteer led coding communities', 'https://www.salesforce.org/stories/coderdojo/', target: '_blank'  %> for young people in Europe. </p>
  <p>You can volunteer across a whole range of topics, the lists are endless! Salesforce for example, boasts a range of employee volunteer programs, one such example has been the dedication of over 1,935 hours from their staff to participate in <%= link_to 'volunteer led coding communities', 'https://www.salesforce.org/stories/coderdojo/', target: '_blank'  %> for young people in Europe. </p>

  <p>Spending too much time on the screen and need to rekindle your love for the great outdoors? CSAA Insurance group let employees take <%= link_to '10 trips a year', 'https://www.shrm.org/hr-today/news/all-things-work/pages/doing-well-by-doing-good.aspx', target: '_blank' %> to National Parks such as the Grand Canyon to give the local rangers a helping hand, even welcoming staff to bring along their friends and family. </p>
  <p>Feeling really ambitious? State Farm not only have a Neighborhood of Good platform for people to engage in local neighborhood causes that they care about, but have also just launched their <%= link_to '100 acts of good initiative', 'https://neighborhoodofgood.statefarm.com/stories/100actsofgood.shtml', target: '_blank' %>, a challenge that they have taken on to complete 100 acts of good before their 100th anniversary. HR director Lori Manning even highlights how being able to track your good deeds can push you in your motivation to go further, “It’s made me be very intentional about looking for more fun little things and ways that I can have a positive impact on our community,” said Lori in an <%= link_to 'Inspiring Healthy Workplaces podcast', 'https://www.totalwellnesshealth.com/resources/podcast/', target: '_blank' %>.</p>

</div>

<div class="article-list" id="try_yourself">
  <h2>Try it Yourself!</h2>
  <p>A list is always a great place to start, why not start pulling together some ideas as a team and see where it takes you? Here are some of our internal suggestions below, Happy New Year!</p>

  <h3>Wellness Programme</h3>
  <ul>
    <li>●	Biked to work</li>
    <li>●	Walked for 15min-1hr</li>
    <li>●	Ate vegetarian for a day/week</li>
    <li>●	Meditated for 5min-1hr</li>
    <li>●	Used the stairs</li>
    <li>●	Lunchtime Yoga</li>
  </ul>

  <h3>Environmental and Social Responsibility Program</h3>
  <ul>
    <li>●	Carpooled</li>
    <li>●	Battery recycling</li>
    <li>●	Compost program</li>
    <li>●	Volunteered</li>
    <li>●	Donated</li>
    <li>●	Cleaned a park/beach</li>
  </ul>

  <h3>Community Outreach Programs</h3>
  <ul>
    <li>●	Animal rescue shelters</li>
    <li>●	National parks</li>
    <li>●	Local libraries</li>
    <li>●	Retirement homes</li>
    <li>●	Art museums</li>
    <li>●	Homeless shelters</li>
  </ul>
</div>


<%= render partial: "articles/contact_us" %>
