
<div id="introduction" class="article-list">
  <h2>5 Ways to Use Recognize during COVID-19</h2>
  <p>COVID-19 has forced many companies to move large portions of their workforce to work from home. With social-distancing measures still in place for a lot of cities, it might be months before people start heading back to the office and things return to normal. Furthermore, with large layoffs continuously being reported in the news, job security is another worry on employees’ minds. It’s important now more than ever to recognize employees for their dedication to making work from home successful and to recognize the essential employees who have to keep working when their job can’t be done remotely without difficulty. </p> 
  <p> Here are some ways you can use Recognize to make your employees’ lives a little brighter during these difficult times.  </p>


</div>

<div id="special_recognition_badges" class="article-list">
  <h2>Create Special Recognition Badges for Special Circumstances</h2>
  <p>Creating Recognition badges that acknowledge the special circumstances that are happening due to COVID-19 are an easy way to motivate your staff and show that you understand the difficulties they are facing.</p> 

  <p>Try creating a “Work From Home Warrior”  badge to acknowledge team members that made a special effort to help facilitate moving your workforce remote. Maybe your IT Team put in extra hours to make sure that everyone had access to the VPN. Or a member of the Communications team made sure everyone got access to Slack or Microsoft Teams to communicate. It can also be used to give recognition to team members who have been excelling at remote work by working more efficiently, keeping a positive attitude, or even organizing virtual team get-togethers.</p> 
  <p>A “Holding Down the Fort” badge can be created for those people who still have to show up to the office every day when most of the team is remote. It’s important to recognize the sacrifices they might be making to help make sure your organization can still function. </p>
  <p>Also consider creating a badge for your field workers. Many employees don’t have the luxury of being able to work remotely, because they have to be out in the field to do their job. A “True Grit” badge might be nice to recognize those employees that still have to travel for their work. </p>
  <%= lazy_image_tag "pages/articles/ways-to-use-recognize-during-covid-19/image1.jpg", alt: "Woman working from home", class: "marginBottom30", itemprop: "image" %>

</div>

<div id="social_distancing_friendly_rewards" class="article-list">
  <h2>Offer Social Distancing Friendly Rewards</h2>
  <p>While offering rewards like experiences, travel-based gift cards, or lunch with the boss might have been popular in the past, most people won’t be able to use those rewards for a long time. You should take this time to re-evaluate the rewards you are offering, and make sure you have at least a few social distancing friendly options.</p>
  <ul class="bullet-list">
    <li><p><strong>Food Delivery Credit</strong><br>
        With most restaurants closed to diners, people are having to find new ways to eat at their favorite establishments. Consider offering credit to a food delivery service like Uber Eats, DoorDash, Postmates, or GrubHub. This reward is perfect for your employees who don’t want to have to leave the house to get something delicious to eat. </p>
    </li>
    <li><p><strong>Practical Merchandise</strong><br>Instead of offering company swag, consider adding practical items that could be used to help facilitate working from home to your rewards catalog. A nice desk chair, a new monitor, a standing desk, or a headset are all nice, practical items that could be used to make home offices better. </p></li>
    <li><p><strong>Gift Cards to Social Distancing Friendly Establishments</strong><br>A lot of restaurants, grocery stores, and retail establishments have started offering curbside pick-up. A quick internet search should bring up some places in your locale that offer this contactless option. Let your employees know which gift cards they can redeem and use for curbside pickup!</p></li>
    <li><p><strong>Access to Online Conferences, Webinars, or Online Classes</strong><br>With in-person events being cancelled or postponed throughout most of the world, many events are being moved online to facilitate social distancing. Consider offering employees a voucher for attending an online conference or webinar in their area of interest. There are also tons of online courses that employees might be interested in taking to learn a new skill or get certified. You don’t only have to offer access to work-based education events, though. There are tons of online classes around hobbies and special interests as well, like wine tasting classes, soap making classes, and even cooking classes. The sky's the limit with what you can offer!<p></li>
    <li><p><strong>Online Subscriptions</strong><br>While concert or sporting event tickets might have been a lot of your employees’ reward of choice in the past, a lot of people are being forced to become homebodies for the time being. Consider offering online services subscriptions to your employees as an added perk.  There are tons of streaming services like Netflix, Hulu, Amazon Prime, and Disney + to name a few. Offering a subscription to Audible, so that your employees can listen to as many books as they want is another good idea. Also consider offering something a little outside the box, like a subscription to Ancestry.com, so that your employees can learn more about their family trees when they get tired of watching The Office for the 5th time.</p></li>
  </ul>
  <%= lazy_image_tag "pages/articles/ways-to-use-recognize-during-covid-19/image2.jpg", alt: "Woman cutting veggies infront of the computer", class: "marginBottom30", itemprop: "image" %>

</div>


<div id="tasks_to_encourage_wellness" class="article-list">
  <h2>Use Tasks to Encourage Wellness</h2>
  <p>In Recognize, it’s easy to incentivize employees to complete certain activities with our Tasks feature. Employees can report to their Company Admin or Manager in Recognize when they’ve completed a task, like “Attend Zoom Yoga Class”. Their Manager or Company Admin can then Approve or Deny the task. Once it’s approved, the employee can get points that they can redeem for Rewards. You can read more about how to use Tasks <a href="https://faq.recognizeapp.com/hc/en-us/articles/360020733992-Tasks-Step-by-Step-Instructions">here.</a> <p>
  <p>Here are some ideas for Tasks you can create to incentivize wellness at your organization.</p>
    <ul class="bullet-list marginLeft10">
    <li>Do 100,000 steps each week</li>
    <li>Do a 60 minute Yoga Session</li>
    <li>Do 15 minutes of Meditation per day</li>
    <li>Attend an Online Exercise Class</li>
    <li>Drinking 2 Liters of Water a Day</li>
    <li>Journal every day </li>
  </ul>
  <%= lazy_image_tag "pages/articles/ways-to-use-recognize-during-covid-19/image3.jpg", alt: "Woman meditating besides a dog", class: "marginBottom30", itemprop: "image" %>
</div>


<div id="recognize_in_remote_friendly_tools" class="article-list">
  <h2>Put Recognize in Remote Friendly Tools</h2>

  <p>Communication tools like MS Teams, Workplace, Yammer, and Outlook are integral to having a successful remote team. Team members need to be able to stay in touch and easily get a hold of each other when they need help or problems arise. However, it can be tough to get your team to use a new tool when they are already accustomed to doing their work a certain way. Adding Recognize to your remote-friendly tools is a win-win. Employees will want to use the communication tool more if they know that they are getting recognized and rewarded within the tool, and it makes recognizing and engaging with their teammates easier because Recognize is in the tools they already use every day.</p>
  <p>Check out some of our integrations here:</p>

  <ul class="bullet-list marginLeft10">
    <li><%= link_to "Microsoft Teams", microsoft_teams_employee_recognition_path %></li>
    <li><%= link_to "Workplace", facebook_workplace_path %></li>
    <li><%= link_to "Yammer", extension_path %></li>
    <li><%= link_to "Outlook", marketing_outlook_path %></li>
  </ul>
  <%= lazy_image_tag "pages/articles/ways-to-use-recognize-during-covid-19/image4.jpg", alt: "Microsoft integration for Recognize", class: "marginBottom30", itemprop: "image" %>

</div>

<div id="mobile_app" class="article-list">
  <h2>Use our Mobile App to Stay Connected with Staff</h2>
  <p>Putting Recognize on your staff’s mobile phones is a great way to increase engagement with your employee recognition program. Many people have their mobile phones with them almost 24/7, so it makes sense to have Recognize easily accessible from wherever they are. The mobile app is also great for your field staff or frontline workers who might spend most of their day away from their computer or desk. Our new mobile app makes it easy to get push notifications whenever you’ve been recognized, send and receive recognition, and redeem rewards all within the app. Check it out <%=link_to "here", mobile_path %>!</p>
  <%= lazy_image_tag "pages/articles/ways-to-use-recognize-during-covid-19/image5.jpg", alt: "Mobile app for recognize", class: "marginBottom30", itemprop: "image" %>

</div>

<hr class="hr hr-space">
<div id="references" class="article-list marginBottom50">
  <div class="well">
    <h4>Author</h4>
    <p>Allison White</p>
  </div>
</div>
