
<div id="introduction" class="article-list">
  <h2>Incentivize the right decisions</h2>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image1.jpg", alt: "Two people shaking hands in a meeting", class: "marginBottom30", itemprop: "image" %>

  <p>As citizens in the global fabric of the human species, we must now all assume we have the COVID-19. Caused by the novel Coronavirus, it seems to be the only thing that is making the news lately and for good reason. The worst case scenario is 80% of people in the United States contract COVID-19 at some point. However, if we take precautions and limit our time outside of our house and interacting with others, we can slow the spread. Without much guidance right now from the Federal Government, companies and local governments have to do what is right. If your staff are working remotely, a digital employee recognition & rewards program can help.
  </p>

  <hr class="hr hr-space"/>
  <h3><i>We all need to assume we already have it.</i></h3>
  <hr class="hr hr-space"/>

  <p class="marginBottom100"><strong>Here are some tips for your company even if your staff are working remotely.
  </strong></p>
</div>

<div id="social_collaboration_tool" class="article-list">
  <h2>Get a social collaboration tool</h2>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image2.jpg", alt: "Logos of Microsoft Teams, Workplace by facebook and Slack", class: "marginBottom30", itemprop: "image" %>

  <p>Download Microsoft Teams, Slack, or Workplace by Facebook. Get people talking remotely. Sign up for Zoom conferencing or use the built in conferencing in Teams, Slack, and Workplace if you're already paying for the upgraded plans.</p>
  <div id="youtube-video" class="youtube-video" data-id="T9k1C12S6nc" data-play="stop" data-width="650" data-height="340"></div>

  <p class="marginTop30">With these tools, staff can do a number of important tasks. They can chat 1-on-1, access integrations like <%link_to "Recognizeapp.com", root_path %> or Jira, and have focused discussions in groups. This doesn’t mean get rid of email, but if it can be a document linked in your MS Teams it is more beneficial than having it lie in email. Emailing is great for talking to people outside your company. It is your portal to anyone. If you need to talk in real-time, share images, chat on the phone, or share your screen, then you’ll need one of these tools.</p>

  <div class="well marginBottom50">
    <h3>Recognize Take</h3>
    <ul class="bullet-list">
      <li>If you are on Office 365, <%=link_to "Microsoft Teams", microsoft_teams_employee_recognition_path %> is a clear winner, because its free! </li>
      <li> If you are a Google company, or do not use Microsoft, then <%=link_to "Workplace by facebook", fb_workplace_path %> gives your company more value for less compared to Slack.</li>
      <li><%=link_to "Slack", slack_url %> is great if your company just can't stomach giving Facebook your employee data.</li>
      <li> Regardless, get integrated. Have Recognize, ADP, Jira, and all your tools work together. That's one plus for MS Teams if you are on O365.</li>
    </ul>
  </div>


  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image3.png", alt: "Pictures of phones with slack running on them", class: "marginBottom30", itemprop: "image" %>


</div>

<div id="recognize_good_hygiene" class="article-list">

  <h2>Recognize good hygiene</h2>
  <p>Reinforcing good behavior leads to more good behavior. It’s that simple. That’s why companies are winning by incorporating systemic, positive employee feedback into their global repertoire of human capital engagement tools. These companies still use 360 performance reviews, pulse surveys, and digital standup software. All of which are incorporating good hygiene topics.
  </p>

  <h3>Pulse surveys and stand up software</h3>
  <p>Using software in your social collaboration tools you can ask your employees questions on a weekly basis. In Slack, there’s the bot called Geekbot. Geekbot is an affordable tool to ask different groups of employees different questions.  Ask your employees publicly or privately, have you been practicing good hygiene techniques and how?
  </p>

  <h4><strong>Tips for questions with Geekbot</strong>
  </h4>
  <p>Ask if they have any suggestions on how to practice good hygiene in your Friday or Monday standup questions. Be proactive. Don’t be accusatory.
  </p>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image4.jpg", alt: "Questions in Geekbot", class: "marginBottom30", itemprop: "image" %>
  <p>Use the Out Message to leave your staff with safe advice for the week.
  </p>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image5.jpg", alt: "A message from geekbot to wash your hands", class: "marginBottom30", itemprop: "image" %>

  <%= render partial: "articles/quote", locals: {quote: {
      quote: "<h2>58%</h2> employees agreed 'giving recognition' as the way to improve employee engagement in an SHRM survey."
  }} %>

  <h3>Employee recognition</h3>
  <p>When someone shares tips on good hygiene on your social collaboration tool, teleconference call, or in person meeting, give them recognition. Recognition can be as simple as informing your managers to look for reasons to recognize their staff. In a Friday standup, have everyone share a moment they thought was awesome about either the individual, team or organization. Or even an event.
  </p>

  <h3>Value-driven, off-the-shelf recognition solution</h3>
  <p>A tool such as <%=link_to "Recognize",root_path %> can help promote any type of behavior. Companies upload various “badges”, or graphic files, into Recognize. These can be sent by specific people with a monetary point value, descriptions, titles, and limits. Companies often use them to promote speed, quality, leadership, ownership, resourcefulness, and also safety and hygiene.
  </p>
  <h4><strong>Positive Reinforcement of good habits with employee recognition inside Sharepoint</strong></h4>
  <div id="youtube-video" class="youtube-video" data-id="xDS8zIiNDIY" data-play="stop" data-width="650" data-height="340"></div>
  <h3 class="marginTop30">Pros and cons of an off-the-shelf recognition solution</h3>
  <p>Like most things, it comes down to cost. Sales solve everything, as the saying goes, because you can use money to solve most problems. If you have the budget, you can have a recognition program up and running in a few days at the earliest.
  </p>
  <h4><strong>Pros</strong></h4>
  <ul class="bullet-list">
    <li>In two to thirty days your company has an employee recognition solution everyone has access to.</li>
    <li>If anything goes wrong, someone else takes care of it.</li>
    <li>Less work for your team</li>
    <li>An experienced partner.</li>
    <li>An immediate program with sky is the limit configuration.
    </li>
  </ul>

  <h4><strong>Cons</strong></h4>
  <ul class="bullet-list">
    <li>Cost. Depending on the size of your company and the vendor you choose, it typically costs between $5,000/yr to $20,000/yr USD for a recognition program of a company with 200 employees.</li>
    <li>A third party will need access to some amount of employee data, such as work email and name.</li>
    <li>Is it a separate app and website? How will people remember to use it?</li>
  </ul>
</div>


<div id="practice_social_distancing" class="article-list">

  <h2>Practice social distancing</h2>
  <p>We all need to be aware now that we have to be at least six feet away from everyone. I know, tough right? It is almost unrealistic, but that’s why we have to stay strong and make sure to simply not breathe on people, cough around them and be careful what we do. Again, we all need to assume we already have it.</p>
  <p>Make sure staff are reporting in Recognize Tasks on a weekly basis that they are following social distancing practices.</p>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image6.jpg", alt: "Four people bumping fists", class: "marginBottom30", itemprop: "image" %>
  <h3>Recognize Incentives</h3>
  <ul class="bullet-list">
    <li>Create role-based tasks or activities staff can complete.</li>
    <li>They are sent to their direct report manager who approves or denies them.</li>
    <li>Admins can apply points to these items for redemption in reward catalog.</li>
    <li>These rewards can include gift card, charities or company items.</li>
  </ul>
</div>


<div id="staying_home" class="article-list">
  <h2>Staying home for 48hr</h2>
  <p>Another Recognize Incentive for fighting pandemics is staying home for at least 48hr. We all can get a bit cabin fever, so it’s important to reward employees for staying in. They can self-report they accomplished this goal and can send it to their manager for points.
  </p>
  <p>Make it clear why your company is setting these guidelines. If people do not ultimately internalize these decisions, it will be harder to adopt new habits.</p>
  <p>Practice the magical word “because”. Research has shown that when using the word “because” when making a request, you are likely to succeed in getting what you want.</p>

  <div class="well marginBottom50">
    <h3>Here are some useful links on how to avoid cabin fever</h3>
    <ul>
      <li><a href="https://www.today.com/health/coronavirus-outbreak-how-avoid-going-stir-crazy-during-self-isolation-t176155">Today.com</a>
      </li>
      <li><a href="https://www.thecut.com/2020/03/how-to-not-go-stir-crazy.html">The Cut</a>
      </li>
      <li><a href="https://www.heyalma.com/7-tips-to-avoid-going-stir-crazy-while-working-from-home/">Heyalma</a>
      </li>
    </ul>
    <p><i>Tip:</i> Make sure to give rewards they can use from home, such as Amazon or Visa.
    </p>
  </div>


</div>

<div id="sleep_drink_and_eat" class="article-list">
  <h2>Sleeping, drinking water, and eating well</h2>
  <p>Another easy self-report item of the week is to ask staff to report if they are sleeping 8-9hr every night, not drinking coffee after 11am, drinking water all day, and eating well. When people switch to working from home, they often forget to shower, brush their teeth, or eat. No joke! This can be a serious problem for many people who make the transition without a transitional period.</p>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image7.jpg", alt: "A bowl of fruits on the table", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="exercising_at_home" class="article-list">
  <h2>Exercising at home</h2>
  <p>With gyms closed, it isn’t easy for people to continue their wellness habits of classes, weights, yoga, and climbing gyms. Encourage people to order a jump rope, stretch against the wall, do push-ups, or join in Zoom Yoga. Allow them to do whatever they want to do but encourage people to stay active and be inventive.</p>
  <h4>Zoom Yoga with <a href="https://www.jeremyfalk.com/">Jeremy Falk</a></h4>
  <p>In March of 2020, during the beginning of San Francisco stay-in-place, Jeremy Falk — a yoga instructor in San Francisco — held yoga classes twice a day on Zoom. With large HDTVs in most people’s living rooms, yoga comes to life in your home.
  </p>

  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image8.jpg", alt: "A yoga instructor teaching yoga online", class: "marginBottom30", itemprop: "image" %>

  <p><strong>When people participate in these classes, as a manager, it is a great idea to recognize them or have them submit a task for points.</strong></p>

  <p><i>Note:</i> Make sure people stay safe when exercising. Do not encourage any challenges that are beyond people’s reach. Everyone needs to do whatever they can to not increase demand on our healthcare services.</p>
</div>

<div id="meditation" class="article-list">
  <h2>Meditating for 15 minutes</h2>
  <p>Times of uncertainty and breaking-news cycles can cause a lot of panic and thus loss of focus and productivity. Keep staff on-point and positive with the right wellness goals</p>

  <h3>Meditation & wellness tips
  </h3>
  <ul class="bullet-list">
    <li>Host Zoom Guided Meditations.</li>
    <li>Send out SoundCloud links to self-guided meditation audio clips all for free.</li>
    <li>Ask everyone to start their day with 5-15min of quiet time.
    </li>
    <li>Suggest garden or walking meditation as an alternative to seated meditation.</li>
    <li>Share everyone with the knowledge of Tai Chi, Visualization and Online Therapy to improve well being of your employees.
    </li>
  </ul>
  <p>At the end of each week, remind staff to submit how many times they meditated or completed a guided meditation for points in Recognize. Ask people how it has changed their life if any in the stand up.</p>
  <p>You can check out <a href="https://soundcloud.com/yaleuniversity/sets/the-science-of-well-being-guided-meditations">Yale's guided meditation on SoundCloud</a></p>
</div>

<div id="teleconferencing" class="article-list">
  <h2>Teleconferencing? Open Recognize</h2>
  <p>If you are hosting a meeting, especially as a manager, have the <%=link_to "Recognizeapp.com", root_path %> tab open. Give a recognition after the meeting. Someone surely came up with a good idea, came super prepared, or took great notes. We have to remind ourselves we are a team and great teams have great comradery.</p>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image9.jpg", alt: "Screenshot of recognize page", class: "marginBottom30", itemprop: "image" %>
  <%= lazy_image_tag "pages/articles/ways-to-combat-coronavirus/image10.jpg", alt: "A group of people in a video conference", class: "marginBottom30", itemprop: "image" %>
</div>

<div id="bad_apples" class="article-list">
  <h2>Bad Apples</h2>
  <p>At the same time, if people are being disruptive in meetings, not taking the situation seriously, and aren’t completing tasks, it is time for a talk. Research has found teams are only as effective as their weakest link. Don’t let your weakest link be too weak. If there is someone who is overall negative and unhelpful, they will have to be amazing at their job to be kept around.</p>
  <p>Read our <a href="https://recognizeapp.com/company-engagement-strategy.pdf">company engagement strategy</a> for more information on bad apples and the research behind it.</p>
</div>


<hr class="hr hr-space">
<div id="references" class="article-list marginBottom50">
  <div class="well">
    <h4>Author</h4>
    <p>Alex Grande</p>
  </div>
</div>

<%= render partial: "layouts/youtube_load" %>
