<div id="introduction" class="article-list">

<p>In the face of the rising presence of technology across company offices and the desks of freelancers, the struggle for sustainable employee engagement remains a goal to be achieved. </p>

<p>Often we associate employee engagement with stellar productivity, images of those who are first to arrive and last to leave, chipping in hours over weekends and going above and beyond for results. However, simply because an employee may be willing to put in the extra mile for their employer, without the basic building blocks for employee engagement in place, even with the best intentions, they often won’t be able to. </p>
<p>Fostering thoughtful employee engagement over time can not only boost innovation and productivity, but is fundamental for avoiding high turnover and the all too familiar symptoms of burnout. With the input of our very own distributed team, we decided to reflect on lessons learned and to get to the roots of what we consider our strengths when carving out a culture of employee engagement. Check them out!</p>
</div>

<div id="recognition" class="article-list">
  <h2>1. Recognition can be part of the everyday conversation</h2>

  <p>It can cut deep when hard work and motivation go unnoticed. Particularly if you work in an environment where the only feedback you receive is when assignments go wrong or have been less than perfect. From a major milestone to an individual win, congratulations can be made a part of everyday working culture without losing their value. </p>

  <%= lazy_image_tag "pages/articles/ways-foster-engagement/2.jpg", alt: "A man on a laptop very happy.", class: "marginBottom30", itemprop: "image" %>

  <p>While bonuses and office rewards can be a luxury, there is now an increasing host of tools available for making recognition of hard work and success intrinsic to everyday communication.
    You can leverage your everyday workflow tools, such as Office 365 and <a href='https://recognizeapp.com'>Recognize</a>, to administer badges of recognition and give that virtual “high 5” some real meaning with small gestures of appreciation.
  </p>

  <p>Consider rewarding staff with a half-day off or that prime parking space in front of the office. Not only do these micro rewards tend to be more feasible for employers to extend, but they can also result in a more sustained pace of motivation for employees. Rather than rewarding someone for climbing Everest, you can motivate them to get there as they summit each peak along the way!</p>

</div>

<div id="environment" class="article-list">
  <h2>2. The right social environment</h2>
  <p>Maintaining trust and cultivating tight-knit relationships can be a major game-changer for employee engagement. We’re less likely to brainstorm and communicate any setbacks as a team if we carry out assignments as strangers. While it can be easy to know the colleague you share a cubicle with and grab a coffee in the morning, this familiarity can be harder to exchange for colleagues who may work remotely in other parts of the country who have never met face to face. </p>

  <%= lazy_image_tag "pages/articles/ways-foster-engagement/3.jpg", alt: "People chatting at work.", class: "marginBottom30", itemprop: "image" %>

  <p>Encouraging employees to dedicate time to getting to know one another, beyond the updates of projects in the pipeline and deadlines, can have a major impact in breaking the ice and fostering an environment of recognizing the people that make up the employees and skillset of your team. Ask someone how their weekend was or what the plans for that vacation they have coming up might be, little by little these can help open up daily interactions for cross-functional teams.</p>
</div>

<div id="team" class="article-list">
  <h2>3. Team meetings that really are for the team</h2>
  <p>There’s nothing worse than sitting in a team meeting only to realize halfway through that it was something that could have been achieved with a simple email. Rather than loading agendas with several meetings a week and risking conference fatigue, try instead to cultivate a habit of regular goal-setting meetings with purpose that can make each feel involved and valued. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/4.jpg", alt: "Aerial view of a desk of laptops", class: "marginBottom30", itemprop: "image" %>

  <p>This can include setting meetings at a time that works comfortably for everyone with consideration for time zones and family schedules. Likewise, investing in a high-quality video conferencing tool can avoid any frustration of cut-outs or poor audio that can quickly impact on time. </p>
  <p>We make an effort to keep our cameras turned on during catch ups and to have one person assigned to note-taking, this way we can assure that each speaker has the undivided attention of their colleagues rather than addressing a team who are scribbling notes and cross-checking their emails and pipelines mid-conversation. </p>
</div>

<div id="stress" class="article-list">
  <h2>4. Practical steps can minimize stress</h2>
  <p>While it’s natural to feel challenged in your job, there is a fine line before feeling entirely overwhelmed. It’s all too easy to feel the onset of panic when juggling multiple projects in work environments, and as individuals, we naturally handle and manifest our stress in various ways. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/5.jpg", alt: "Man unhappy working on a laptop.", class: "marginBottom30", itemprop: "image" %>
  <p>To mitigate the burnout and frustrations caused by stress, office managers can take some pragmatic steps to help employees pick up healthy habits daily and to foster a positive overall company culture. This can mean agreeing on a policy of not expecting immediate responses to emails outside of working hours, or encouraging teams to avoid screens during the weekends - even one hour away from a smartphone over time can help bolster creativity and encourage mindfulness. For those that need easing into the concept of being offline, apps such as Streak can help to at least organise and schedule out emails to help you leave the office on time.</p>
</div>

<div id="feedback" class="article-list">
  <h2>5. Encourage a culture of feedback</h2>
  <p>Fostering a culture of feedback and constructive criticism can help to shed light on the common pain points around employee engagement. We as employees often need to take a step back to ask ourselves what we expect from our current position and what we may need from our employers to achieve this before throwing in the towel. Luckily, companies now no longer have to rely on static annual or bi-annual surveys across the office to gather these kinds of insights. Pulse surveys can be carried out on a more frequent basis, monthly or even weekly, and can capture real-time measurements of employee satisfaction and engagement. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/6.jpg", alt: "Worker on an iPad looking at graphs", class: "marginBottom30", itemprop: "image" %>
  <p>Not only can these be useful for structuring company policy and driving positive steps for employee engagement, but by carrying out Pulse surveys, companies can visibly show that they are actively involved in cultivating a positive company environment and proactively taking steps to gauge employee wellness and motivation. Pulse surveys can also open a line of communication by being anonymous, extending a tool of empowerment to those who feel more guarded about sharing feedback. </p>

  <p>Further, great engagement starts with an aligned staff. Use tools, such as Wizehire, to hire the right staff for your company culture.</p>
</div>


<div id="inspiration" class="article-list">
  <h2>6. Inspiration brings motivation</h2>
  <p>As employees, it’s always easier and more exciting to know the end goals that your tasks are driving to achieve. Shaping out an environment of collaboration and involvement from the very beginning can help your staff to feel like they are more than just a cog in the company wheel. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/7.jpg", alt: "People in a meeting looking at a whiteboard with sticky notes.", class: "marginBottom30", itemprop: "image" %>
  <p>In fact, according to recent research from Gallup, Millenials in particular entering into the workforce are motivated far beyond the means of their paychecks and place an increasing value on the purpose of their work’s contribution to a collective effort. Rather than being competitive, they are collaborative in nature and want to be a part of collective goal setting. Scheduling in time for weekly one-on-ones and personal development reviews can not only motivate employees, but help them to feel inspired in their individual efforts.  </p>

</div>

<div id="flextime" class="article-list">
  <h2>7. Introduce flextime</h2>
  <p>Introducing flexible working hours can bring a whole new realm to employee engagement. Not only does it demonstrate major trust from the side of the employer, but it can empower employees who may otherwise feel held back in their work for an array of reasons. Having flexible work hours can help staff to avoid peak rush hours and the steeper fares associated with having to be in and out of the office around the same windows of time. Beyond practical advantages, it can also play a major role in fostering a healthy work-life balance. Employees with families can bring their children to school, make time to attend evening courses or even get more exercise from avoiding peak hours at the gym. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/8.jpg", alt: "People in a meeting looking at a whiteboard with sticky notes.", class: "marginBottom30", itemprop: "image" %>
  <p>Each of us works to our own personal rhythm with highs and lows throughout the day, often attributed to our internal body clocks or “circadian rhythm”. Flextime can invite employees to reflect on the hours that they work best to optimize their workload and assignments, and help them avoid the mid-afternoon slumps or fatigue that can trigger low levels of engagement.</p>
</div>

<div id="projects" class="article-list">
  <h2>8. Personal projects matter</h2>
  <p>Each of us has our own creative outlets, maybe it’s playing in a band, working on that novel or writing a blog on conspiracy theories. Whatever it may be, personal projects can be a great outlet for flaunting creativity and bringing together ideas. As such, they can be integrated as part of employee daily routines. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/9.jpg", alt: "People writing on a whiteboard", class: "marginBottom30", itemprop: "image" %>
  <p>Google is known for having a 20% policy, where employees are invited to spend 20% of their time (1 working day) on a company-related project of their choosing. It may sound vague, but it has been known to drive innovation and has resulted in products such as Gmail, Google News and Google Maps. Introducing initiatives that hand over creative liberty to employees can help spark collaboration and idea sharing, driving interactions and engagement that may otherwise be lost within rigid project delivery. </p>
</div>

<div id="healthy_food" class="article-list">
  <h2>9. Healthy food</h2>
  <p>It may seem like a no brainer that what we eat is bound to impact our performance; however, more often than not high-stress environments can drive emotional stress-eating. While the saying goes, you are what you eat, nobody wants to resemble a human Snickers bar. </p>
  <p>With late-night take-outs and vending machines, not to mention the sin that is vending machine coffee, offices haven’t always had a reputation for boasting the greenest of snacks. Luckily there are more than a few ways that companies can help to curb this and make options for “Brain food” more readily available. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/10.jpg", alt: "Laptop and juice", class: "marginBottom30", itemprop: "image" %>
  <p>By virtue of helping to provide healthy snacks in the workplace, employers are signaling  that they care about the wellbeing of their team. Rather than having a fridge stocked with sugary sodas, try swapping over for healthier juices or having more water filters available. Likewise cutting out candy bars in place of trail mix, dark chocolate or dried fruits and nuts can help fight the afternoon slump that hits in a post candy sugar rush. </p>
</div>

<div id="work_life" class="article-list marginBottom50">
  <h2>10.	Work life balance matters</h2>
  <p>Don’t let employees think that work-life balance is a myth. Often this begins with recognizing that striking a healthy work-life balance means something different to each person. Making time for your personal life shouldn’t just be exclusive for the weekend. Even the most engaged employees should be aiming to have a healthy combination of work time and downtime. </p>
  <%= lazy_image_tag "pages/articles/ways-foster-engagement/11.jpg", alt: "People reading outside", class: "marginBottom30", itemprop: "image" %>
  <p>While flexible working hours can be one way of accommodating this, it can also be the case that employees prefer clean-cut boundaries between their office and home life with a fixed schedule. Allocating time to sit with your team and discover what works best for them can be a simple but effective way in helping your staff to find the right balance.</p>

  <hr class="hr hr-space">

  <div class="well">
    <h4>Author</h4>
    <p>Katie-Pia Moran</p>
  </div>


</div>
