<div id='company-admin-settings-menu' class="well">
  <h2 class="offscreen">Settings Navigation</h2>
  <ul class="list">
    <li>
      <a href="#theming" class="animate-scroll"><%= _('Theming') %></a>
    </li>
    <li>
      <a href="#security" class="animate-scroll"><%= _('Security') %></a>
    </li>
    <li><hr class="margin0 padding0"></li>
    <li>
      <a href="#recognition" class="animate-scroll"><%= _('Recognition') %></a>
    </li>
    <li>
      <a href="#nominations" class="animate-scroll"><%= _('Nomination') %></a>
    </li>
    <li>
      <a href="#tasks" class="animate-scroll"><%= _('Tasks') %></a>
    </li>
    <li>
      <a href="#leaderboards" class="animate-scroll"><%= _('Leaderboards') %></a>
    </li>
    <li>
      <a href="#hall_of_fame" class="animate-scroll"><%= _('Hall of Fame') %></a>
    </li>
    <li>
      <a href="#rewards" class="animate-scroll"><%= _('Rewards') %></a>
    </li>
    <li><hr class="margin0 padding0"></li>
    <li>
      <a href="#yammer" class="animate-scroll"><%= _('Yammer') %></a>
    </li>
    <li>
      <a href="#microsoft" class="animate-scroll"><%= _('Microsoft') %></a>
    </li>
    <li>
      <a href="#google" class="animate-scroll"><%= _('Google') %></a>
    </li>
    <li>
      <a href="#workplace" class="animate-scroll"><%= _('Workplace by Facebook') %></a>
    </li>
    <li>
      <a href="#webhooks" class="animate-scroll"><%= _('Webhooks') %></a>
    </li>
    <li><hr class="margin0 padding0"></li>
    <li>
      <a href="#profile" class="animate-scroll"><%= _('User settings') %></a>
    </li>
    <li>
      <a href="#points" class="animate-scroll"><%= _('Points') %></a>
    </li>
    <li>
      <a href="#user-manager" class="animate-scroll"><%= _('User Management') %></a>
    </li>
    <li>
      <a href="#kiosk" class="animate-scroll"><%= _('Kiosk Mode') %></a>
    </li>

  </ul>
</div>
