<h2 style="<%= mail_styles(:h2, :text, :title) %> padding: 0;"><%= t('user_notifier.please_sign_in') %></h2>

<table style="<%= mail_styles(:table) %>">
  <tr>
    <td>
      <a href="<%= @edit_password_reset_url%>" style="<%= mail_styles(:button) %>"><%= t('user_notifier.choose_password_sign_in') %></a>
    </td>
  </tr>
  <tr>
    <td>
      <p style="<%= mail_styles(:p) %> margin-top: 20px;"><%= t('user_notifier.email_us_for_assistance_html') %></p>
    </td>
  </tr>
</table>
