<% content_for :meta_properties do %>
  <meta property="og:title" content="Creative Agency Recognize Case Study" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="Creative agency promotes company values through Recognize." />
  <meta property="og:image" content="https://recognizeapp.com/assets/pages/case-study/ideascollide/index-card.jpg" />
<% end%>

<% content_for :title, "Company Value Employee Recognition Case Study" %>
<% content_for :description, "Focus your staff by promoting company values. Learn how a creative agency promotes company values and focuses their stuff through employee recognition." %>

<section class="case-study-article">
  <section class="cs-banner lazy gradient-cover-white">
    <p class="balance-text subtle-text">Ideascollide Case Study</p>
    <h1 class="balance-text">Focus Staff Behind Company Values With Recognize</h1>
    <div>
      <a href="/docs/case-study/IdeasCollideCaseStudy.pdf" class="button button-primary button-small">Download <sup>PDF</sup></a>
    </div>
  </section>

  <section class="case-study-section">

  </section>


  <section class="case-study-section">
    <div class="flex flex-sidepanel">
      <div>
        <h2 class="balance-text">Changing How We Recognize and Reward Our Employees</h2>
        <p>Interview with Matthew Clyde, President and Cofounder of Ideas Collide</p>

        <%= render partial: "articles/quote", locals: {quote: {
            quote: "Recognize has completely changed the way we showcase the hard work of our employees and reward them. Before we implemented the tool, we would use email to share great comments from clients or acknowledge when someone went above and beyond. Now, we have a strategic plan in place to track all the recognitions, showcase our company culture, and reward our employees. We’ve sent out
surveys to get feedback on Recognize and have received wonderful comments from remote and satellite office employees feeling more connected and overall the entire team feels more inspired. It’s a great way to show appreciation to your colleague for day to day accomplishments and it definitely boosts office moral.",
            author: "Matthew Clyde",
            background_path: image_path("pages/case-study/ideascollide/m.jpg")
        }} %>
      </div>

      <div style="width: 200px; max-width: 100%;">
        <dl class="stylized-dl marginBOttom20">
          <dt>Company Size</dt>
          <dd>60+</dd>
          <dt>Launched Recognize</dt>
          <dd>October 2016</dd>
          <dt>Industry</dt>
          <dd>Interactive Design</dd>
          <dt>Country</dt>
          <dd>USA</dd>
        </dl>

        <dl class="stylized-dl">
          <dt>Programs deployed</dt>
          <dd>Manager-to-peer<br>Anniversaries<br>Nominations</dd>
        </dl>
      </div>

    </div>
  </section>



  <section class="case-study-section clearfix">
    <h2>Q&amp;A with Matthew</h2>

    <h3>What are challenges you face with employee recognition?</h3>
    <p>Because IC has such a large and diverse set of clients that vary in size and scope, it can be hard for everyone to get the opportunity to work on large projects with great exposure. Also, sometimes teams are so large it’s sometimes challenging to recognize everyone more equally.</p>
    <%= lazy_image_tag "pages/case-study/ideascollide/awards.jpg", class: "image-side-right", tag: "People receiving awards" %>

    <h3>What behaviors, actions, or values are you promoting as badges?</h3>
    <p>At Ideas Collide, we are digitally smart, highly creative and relentless in pursuing every opportunity. Using our core values, we have developed badges to reflect collaboration, acting like an owner, being curious, being relentless, working smart, loving the team, showing customer love, giving back, and making an impact. We have original badges like our Trailblazer, Duck, Firefighter, and Unicorn badges.</p>
    <p>For example, we love when our colleagues recognize someone for being a trailblazer within our company. We had the idea for the badge come from our Portland office based on the idea of the Oregon Trail and the Portland Blazers, but also the innovation a trailblazer brings to a team. We have a team full of trailblazers and it's really nice to use this badge to recognize the innovative things our team does everyday.</p>


  </section>

  <section class="case-study-section">
    <h3>Employee Recognition Program Stats</h3>

    <div class="row-fluid marginBottom30">
      <div class="span6">
        <dl class="dt-stats centered">
          <dd>60+</dd>
          <dt>Custom badges made</dt>
        </dl>
      </div>
      <div class="span6">
        <dl class="dt-stats centered">
          <dd>3-4</dd>
          <dt>Recognitions sent a day</dt>
        </dl>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <dl class="dt-stats centered">
          <dd>65%</dd>
          <dt>Agree Recognize improved employee recognition</dt>
        </dl>
      </div>
      <div class="span4">
        <dl class="dt-stats centered">
          <dd>84%</dd>
          <dt>Feels their manager recognizes them</dt>
        </dl>
      </div>
      <div class="span4">
        <dl class="dt-stats centered">
          <dd>92%</dd>
          <dt>Feel recognized by their peers sometimes or all the time</dt>
        </dl>
      </div>
    </div>
  </section>



  <section class="case-study-section">
    <h3>How do you keep recognition engagement up month over month?</h3>
    <p>We are always adding new options that are driven by requests from our team. We like to update the rewards to keep them fresh and recognize the top user of the quarter. We’ve had a lot of fun with special event badges for Valentine’s Day, Halloween, and March Madness to name a few.</p>
  </section>

  <section class="case-study-section">
    <h3>Top rewards</h3>
    <%= lazy_image_tag "pages/case-study/ideascollide/rewards.jpg", class: "maxWidth100 marginBottom20", tag: "Top rewards include restaurant card, Beats headphones, or Southwest gift card" %>
    <h3>Top badges</h3>
    <%= lazy_image_tag "pages/case-study/ideascollide/badges.jpg", class: "maxWidth100", tag: "Top badges include instant crush, made my day, unicorn, you rock!" %>
  </section>


  <section class="case-study-section">
    <h3>How are you keeping social recognition top of mind?</h3>
    <p>Our leadership team is embracing the culture of recognizing our employees and sharing this from the top while also making the recognitions fun and specific to our company culture. We are consistently talking about great work and appreciation in weekly and quarterly team meeting.</p>
    <h3>Do you use the reporting to discover and promote top employees or values?</h3>
    <p>We use the reporting of Recognize to reward our top badge earner and most engaged employee on a quarterly basis.</p>
    <h3>What experience have you had with nominations, if at all?</h3>
    <p>Our nomination process is much easier on the submission and tracking sides now.</p>
    <h3>How do you reward your employees and what is the effect?</h3>
    <p>We give praise, certificates, and rewards in weekly and quarterly team meetings. Using Recognize helps us to praise our employees daily, which add up to a reward of their choosing and certificates each quarter. This has helped boost company culture and morale.</p>
  </section>

</section>

<%= render "home/footer" %>
