<% company = current_user.present? ? current_user.company : user.company %>
<aside class="nametag" itemscope itemtype="http://schema.org/Person">
  <div class="inner">
      <div class="name-tag-wrapper widget-box">

          <div class="attachment"></div>

          <div class="avatar-wrapper">
            <%= link_to user_path(user, network: user.network) do %>
              <%= image_tag(user.avatar.thumb.url, itemprop: "image", class: "avatar") if user.avatar %>
              <h3 itemprop="name"><%= user.full_name %></h3>
              <p itemprop="jobTitle"><%= user.job_title %></p>
              <p class="company-name" itemprop="worksFor"><%= user.company.name %></p>

              <% show_points(company) do %>
                <h5 title="score"><strong><%= interval_points(user) %></strong></h5>
                <p class="subtle-text"><%= t("dict.total_points") %>: <%= user.total_points %></p>
              <% end %>
            <% end %>

          </div>
        <% if feature_permitted?(:recognition) %>
          <div class="hr"></div>

          <div class="scores clearfix">
            <div class="inner">
              <div class="received-recognitions" title="<%= t('stats.total_received') %>">
                <p><%= t("dict.received") %></p>
                <div class="inner">

                  <div class="icon"></div>
                  <%= user.received_recognitions.approved.size %>
                </div>
              </div>

              <div class="recognitions" title="<%= t('stats.total_sent') %>">
                <p><%= t("dict.sent") %></p>
                <div class="inner">
                  <div class="icon"></div>
                  <%= user.sent_recognitions.approved.size %>
                </div>
              </div>
            </div>
          </div>
          <% if current_user %>
            <%= link_to "★ #{t("dict.recognize")}", user_recognition_path(user), class: "recognition-link" if page_id != "users-show" && user != current_user%>
          <% end %>
        <% end %>

      </div>


  </div>
</aside>
