<%= content_for :title, "Download browser extensions for recognition program" %>
<%= content_for :description, "Integrate your employee recognition and rewards programs using the Recognize mobile app and Chrome extensions." %>

<section id="intro" class="marginBottom40">
  <div class="inner">
    <h1 class="balance-text">Recognize Downloads</h1>
    <p class="tagline marginBottom10 balance-text">Download our browser extension for ease of use and integration into Yammer.</p>
    <%= link_to "Contact Us", contact_path, class: "button button-primary button-large" %>
  </div>
  <%= render partial: "home/patterns/ice.svg" %>
</section>

<div id="points">
  <%= render partial: "extension_download" %>
</div>


