<% content_for :meta_properties do %>
  <meta property="og:title" content="Employee Recognition for Workplace by Facebook" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="Share employee recognitions with a company value and message to Workplace by Facebook automatically" />
  <meta property="og:image" content="/assets/illustrations/recognize.jpg" />
<% end%>

<% content_for :title, "Employee Recognition for Workplace by Facebook" %>
<% content_for :description, "Drive engagement in Workplace by Facebook by integrating Recognize, an enterprise grade employee recognition and staff." %>
<% content_for :meta_keywords, "Workplace by Facebook recognition, Workplace by Facebook apps, Workplace by Facebook Employee Recognition, Workplace by Facebook Employee Rewards" %>

<div class="fb-header">
  <div class="row-fluid row-fluid-reverse">
    <div id="celebrate-content" class="span6">
      <div class="header-container">
        <div class="header-flex">
          <h1 class="balance-text">Employee Recognition &amp; Staff Rewards App for <strong>Workplace by Facebook</strong></h1>
          <ul>
            <li><strong>Best employee recognition platform inside Workplace</strong>.</li>

            <li class="balance-text">Plug-n-play an employee appreciation and Workplace engagement strategy</li>
            <li class="balance-text">Easily send, receive, and like recognitions in your news feed.</li>
            <li class="balance-text">Managers are notified of direct report recognitions and work anniversaries.</li>
            <li class="balance-text">Redeem employee rewards with points for gift cards and company items.</li>
            <li class="balance-text">Cross share employee recognitions between Outlook Add-On, Sharepoint, mobile, and more.</li>
            <li class="balance-text">Sync users from Office 365 or sFTP.</li>
          </ul>
          <%= schedule_demo_link utm_content: "Top of fb workplace" %>
        </div>
      </div>
    </div>
    <div class="span6 centered marginTop10">
      <div id="youtube-video" class="youtube-video" data-id="aCe-3W1haII" data-width="605" data-height="340"></div>
    </div>
  </div>
</div>

<div id="points">

  <section>
    <div class="inner">

      <div class="row-fluid">
        <div class="span6">
          <h2 class="balance-text">Send employee recognition based on your company values</h2>
          <p class="tagline balance-text">While inside Workplace by Facebook mobile, desktop, or web app, send social employee recognition to anyone in your company. Use a badge (shown in the image) that symbolizes that value. Give badges worth monetary points or non-monetary, as well as manager-approval badges. The employee recognitions will be visible in a group in Workplace, TVs, mobile, text message, Outlook, and more.</p>

        </div>
        <div class="span6">
          <%= lazy_image_tag "pages/home-fbworkplace/employee-recognition.jpg", alt: "Staff give a company value badge along with the employee recognition inside Workplace by Facebook" %>
        </div>

      </div>


    </div>
  </section>


  <section>
    <div class="inner">

      <div class="row-fluid">
        <div class="span6">
          <h2 class="balance-text">An employee rewards app inside Workplace by Facebook</h2>
          <p class="tagline balance-text">Staff redeem gift cards or non-monetary staff rewards inside the Workplace website, desktop app, and mobile app thanks to the Recognize bot.<br><br>Staff can check their employee recognition profile, redeem rewards, nominate an employee, or get the redemption code.</p>

        </div>
        <div class="span6">
          <%= lazy_image_tag "pages/home-fbworkplace/redeem.jpg", alt: "Staff can redeem employee rewards inside a popup in Workplace" %>
        </div>

      </div>


    </div>
  </section>

  <section>
    <div class="inner centered">

        <h2 class="balance-text">Celebrate staff birthdays and work anniversaries inside Workplace by Facebook</h2>

        <%= lazy_image_tag "pages/home-fbworkplace/recognize-on-facebook-workplace.png", alt: "Easily post recognitions to your company's Workplace groups.", class: 'fb-top-hero' %>
      </div>
  </section>
  <section class='point-1'>
    <div class="inner">
      <div class="row-fluid flex-centered">
        <div id="celebrate-content" class="span6 ">
          <h2 class="balance-text">All employee recognition notifications lead to Workplace</h2>
          <p class="tagline balance-text"><%= link_to "Recognize", root_path %> notifies users in Workplace when they are recognized or when their direct reports are recognized. This manager and recipient notification keeps staff focused on Workplace as a hub of information. The <%= link_to "employee recognition program", employee_recognition_programs_path %> by Recognize allows staff to share or get rewards right from Workplace without leaving their workflow.</p>
        </div>
        <div class="span6 animate-3 animate-hidden animate">
          <%= lazy_image_tag "pages/fbworkplace/install/notification.jpg", alt: "Recognize notifies workplace by facebook users with employee recognition messages", width: "80%" %>
        </div>
      </div>
    </div>
  </section>

  <section class="point-2">
    <div class="inner">
      <div class="outlook-center"  data-turbolinks="false">
        <h2 class="balance-text">From Outlook to Workplace</h2>
        <p class="tagline balance-text">Automatically share recognitions from Microsoft Outlook to Workplace by Facebook with one simple integration. The Recognize Outlook Add-On makes the tool you use every day social through employee recognition. Staff can redeem rewards from Outlook much like they can in Workplace. When an employee recognition is made in Outlook it can post it to Workplace. Vice versa, create an employee recognition inside the Workplace by Facebook Recognize Bot and it is visible for your whole company to see inside Microsoft Outlook.</p>
        <%= schedule_demo_link utm_content: 'from-outlook-to-workplace'%>

      </div>
      <%= lazy_image_tag("pages/home-fbworkplace/outlook-to-facebook-workplace-left.png", alt: "From Microsoft Outlook, you can easily send employee recognitions to Workplace by Facebook.", class: 'outlook-left') %>
      <%= lazy_image_tag("pages/home-fbworkplace/outlook-to-facebook-workplace-right.png", alt: "Easily share employee recognitions from Outlook to Workplace by Facebook.", class: 'outlook-right') %>
    </div>


  </section>


  <section class='point-1'>
    <div class="inner">
      <div class="row-fluid flex-centered">
        <div class="span6 animate-3 animate-hidden animate">
          <%= lazy_image_tag "pages/fbworkplace/install/badges.png", alt: "Choose a badge by chatting with a bot.", style: "width: 65%;" %>
        </div>
        <div id="celebrate-content" class="span6">
          <h2 class="balance-text">Chat with Recognize in Workplace by Facebook</h2>
          <p class="tagline balance-text">Choose an employee recognition value by chatting with the Recognize bot for Workplace.</p><p class="tagline balance-text">That's right, Recognize is <strong>a robot inside Workplace</strong> that can talk to you. Recognize is a baby in robot years right now and is still learning. But with time, Recognize will become very smart. Recognize becomes smarter every time a company signs up to use it. Contact us to try Recognize in Workplace.</p>
          <%= schedule_demo_link utm_content: 'from-outlook-to-workplace'%>

        </div>
      </div>
    </div>
  </section>

  <section class='point-1'>
    <div class="inner">
      <div class="row-fluid flex-centered">
        <div id="celebrate-content" class="span6">
          <h2 class="balance-text">Celebrate Employee Birthdays, Service Anniversaries, and Employee Recognition, All Within Workplace by Facebook</h2>
          <p class="tagline balance-text">Showcase your employees' special moments and successes by highlighting recognitions in your Workforce news feed. Promote employee engagement and satisfaction by highlighting peer-to-peer recognitions and company values.</p>
        </div>
        <div class="span6">
          <%= lazy_image_tag "pages/home-fbworkplace/recognize-post-on-facebook-workplace.png", alt: "Showcase top performers by posting recognitions to Workplace by Facebook.", style: "width: 80%;" %>
        </div>
      </div>
    </div>
  </section>

  <section class="point-3">
    <div class="inner">
      <div class="row-fluid">
        <div class="span6">
          <div id="youtube-video" class="youtube-video" data-id="UtrE1rXWdXM" data-play="stop"></div><br>
          <caption class="block">See how staff can submit tasks &amp; activities in Workplace by Facebook. See more <%= link_to 'videos', recognize_videos_path %>.</caption>
        </div>
        <div id="celebrate-content" class="span6">
          <h2 class="balance-text">Easily Add Employee Recognition into Workplace by Facebook</h2>
          <p class="tagline balance-text">Connect recognitions sent in Outlook, Yammer, and other business communications tools with Workplace by Facebook to automatically post and view recognitions.</p>
          <h2 class="balance-text">Increase Employee Engagement With Just One Step</h2>
          <p class="tagline balance-text">Populate your company's Workplace by Facebook news feed with positive reinforcement of your company's core values. Reward top performers and good deeds while allowing staff to like, share, and comment on recognitions.</p>
          <%= schedule_demo_link utm_content: 'increase-employee-engagement-with-one-step'%>
        </div>
      </div>
    </div>
  </section>

</div>
<%= render partial: "footer" %>
<%= render partial: "layouts/youtube_load" %>
