<% content_for :title, "Automatic Employee Rewards Program" %>
<% content_for :description, "Rewards are an integral part of your employee recognition program. In Recognize, staff redeem gift cards from points earned your program." %>

<% content_for :meta_properties do %>
  <meta property="og:title" content="Employee Recognition Rewards App | Recognize" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognize" />
  <meta property="og:description" content="The best designed peer-to-peer recognition platform focused in positive psychology and workflow integration." />
  <meta property="og:image" content="/assets/pages/home-rewards/manager.jpg" />
<% end%>

<section id="intro" class="">
  <div class="inner">
    <h1 class="balance-text">Employee Recognition Rewards Program</h1>
    <p class="tagline balance-text">Create your own employee rewards catalog of automatic gift cards, experiences, and non-monetary rewards employees redeem with points.</p>
    <%= schedule_demo_link %>
  </div>
  <%= render partial: "home/patterns/dark_pink.svg" %>
</section>


<div id="points" class="">
  <section id="gift-cards">
    <div class="inner">
      <div class="centered">
        <h2 class="balance-text">Over 550 gift cards in our employee recognition rewards app</h2>
        <p class="tagline balance-text">Provide your staff with gift cards they love. We support rewards all over the world. See the complete list below.</p>
      </div>
      <div class="img"></div>


    </div>
    <div class="centered">
    </div>
  </section>
  <section id="rewards-cards">
    <div class="inner">
      <div class="centered">
        <h2 class="balance-text">Customize your company's reward catalog</h2>
        <p class="tagline balance-text">Give the gift of paid time off or a cash bonus through payroll. The Recognize Team has listened to customer's needs for non-monetary rewards. Now companies can create rewards that are unique to them with Recognize Rewards package.</p>
      </div>

    </div>
    <div class="centered">
      <div class="img"></div>
    </div>
  </section>



  <section>
    <div class="inner">
      <div class="row-fluid flex-centered">
        <div class="span6">
          <%= lazy_image_tag "pages/home-mobile/redemptions.png", alt: "Redemptions on mobile app" %>
        </div>
        <div class="span5 offset1">
          <h2 class="balance-text">Reward redemptions from anywhere</h2>
          <p class="tagline balance-text">Once staff redeem a reward from Outlook, the website, Mobile Web, Chrome extension, etc, they can then access their redemption from the mobile app or mobile web.</p>
          <p class="tagline balance-text">If the company admins of the recognition program enable automatic rewards, then once the employee redeems a gift card, the claim code will be available from their phone immediately. Be in line at Starbucks and get a free coffee within seconds.</p>
        </div>
      </div>
    </div>


  </section>


  <section>
    <div class="inner">
      <div class="row-fluid flex-centered">

        <div class="span5 offset1">
          <h2 class="balance-text">Employee data reporting</h2>
          <p class="tagline balance-text">Get fine grained and look at each employee's point history. Use the date range and free search to find specific types of activities. See the recognitions each employee likes or each task an employee completes.</p>
          <p class="tagline balance-text">Other reporting shows for entire organization, top redeemers, budgeting, and recognition history. All the data is exportable into XLS. Recognize stores data for you from the beginning of your program.</p>
        </div>

        <div class="span6">
          <%= lazy_image_tag "pages/home-rewards/employee-points-history.jpg", alt: "Shows an employees point history. How they received points. They can receive points for receiving recognition, send recognition, liking a recognition, or completing a task." %>
        </div>

      </div>
    </div>
  </section>


  <section>
    <div class="inner">
      <div class="row-fluid flex-centered">
        <div class="span6">
          <%= lazy_image_tag "pages/home-rewards/currencies.png", alt: "Icons showing different currencies, such as GBP, Euro, Dollar, and Rupee." %>
        </div>
        <div class="span5 offset1">
          <h2 class="balance-text">International currency support</h2>
          <p class="tagline balance-text">Send recognition to anyone in the world and at redemption time, they pick a reward in their currency and at their point exchange rate. That means it is fair for everyone, while it gives the company admins the control of an international rewards program.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="inner">
      <div class="row-fluid flex-centered">
        <div class="span5 offset1">
          <h2 class="balance-text">Staff reward analytics</h2>
          <p class="tagline balance-text">As a company admin of your Recognize employee recognition program, you will see reporting on staff and rewards. Learn which company-fulfilled rewards are the most popular. See which gift cards or charities staff are redeeming. Know which employees are the top redeemers.</p>
        </div>
        <div class="span6">
          <%= lazy_image_tag "pages/home-rewards/employee-rewards-piechart.jpg", alt: "Shows a pie chart of all the rewards staff have redeemed. Rewards like Amazon card or donating to Clean Water Fund." %>
        </div>
      </div>
    </div>
  </section>

  <section id="rewards-ideas">
    <div class="inner centered">
        <h2 class="balance-text">Employee reward ideas</h2>
        <p class="tagline balance-text">
          A list of possible employee reward ideas you can use in Recognize.
        </p>

        <ul class="clearfix marginBottom40">
          <li class="tagline">A special parking spot</li>
          <li class="tagline">Access to a conference</li>
          <li class="tagline">Power to make a certain type of decision</li>
          <li class="tagline">Be the team lead for a time period</li>
          <li class="tagline">Get a half day off</li>
          <li class="tagline">Get a day off</li>
          <li class="tagline">Lunch delivery</li>
          <li class="tagline">Dinner for two</li>
          <li class="tagline">Lunch with the CEO</li>
          <li class="tagline">Concert or movie tickets</li>
          <li class="tagline">Massage or spa pass</li>
          <li class="tagline">Pizza party for the team</li>
          <li class="tagline">Get a sports car for the day</li>
          <li class="tagline">A cooking class for two</li>
          <li class="tagline">Sky diving</li>
          <li class="tagline">Gift card</li>
          <li class="tagline">Window desk for the quarter</li>
          <li class="tagline">Corner office for a month</li>
          <li class="tagline">Be the CEO for the day</li>
        </ul>

      <a href="/company-engagement-strategy.pdf" class="button">Read Our Employee Recognition Rewards Strategy</a>


    </div>
  </section>

  <section id="rewards-manager">
    <div class="inner">
      <div class="centered">
        <h2 class="balance-text">What it means to be a Staff Rewards Manager in an employee recognition rewards app</h2>
      </div>

      <div class="row-fluid flex-centered">
        <div class="span5 offset1">
          <p class="tagline balance-text">A rewards manager is someone who is responsible to make a reward happen. When an employee redeems an employee reward in Recognize, the person indicated by the admin to be the rewards manager for that reward will receive an email. They will then be responsible to make sure that reward happens. It could be as simple as making sure they get their parking spot or lunch delivered.</p>
        </div>
        <div class="span6">
          <%= lazy_image_tag "pages/home-rewards/manager.jpg", alt: "Rewards manager", width: 415, class: "border-radius-8" %>
          <p class="smallPrint subtle-text">Photo credit <a href="https://www.flickr.com/photos/99781513@N04/16830777741" target="_blank">Scott Lewis</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="rewards-ideas">
    <div class="inner centered">
      <h2 class="balance-text">The full list of countries your employees can redeem</h2>
      <p class="tagline balance-text">
        You can pick which gift cards to provide in your unique catalog, right along with the on-site massages or time off.<br>The counrtries available continue to grow. Contact us to get the latest list.
      </p>

      <%= render partial: "home/giftcard_table" %>
    </div>
  </section>

</div>

<%= render partial: "marketing_cta_banner" %>



<%= render :partial => 'footer' %>
