<div class="value-props clearfix">
  <ul>
    <li>
      <%= image_tag "icons/blue-thin/happy.png", alt: "Happy person" %>
      <div class="content">
        <h3><%= t('value_props.reason_title_1') %></h3>
        <p class="balance-text"><%= t('value_props.reason_1') %></p>
      </div>
    </li>
    <li>
      <%= image_tag "icons/blue-thin/speedometer.png", alt: "Speedometer" %>
      <div class="content">
        <h3><%= t('value_props.reason_title_2') %></h3>
        <p class="balance-text"><%= t('value_props.reason_2') %></p>
      </div>
    </li>
    <li>
      <%= image_tag "icons/blue-thin/flag.png", alt: "Flag" %>
      <div class="content">
        <h3><%= t('value_props.reason_title_3') %></h3>
        <p class="balance-text"><%= t('value_props.reason_3') %></p>
      </div>
    </li>
    <li>
      <%= image_tag "icons/blue-thin/ios7-pulse.png", alt: "Pulse" %>
      <div class="content">
        <h3><%= t('value_props.reason_title_4') %></h3>
        <p class="balance-text"><%= t('value_props.reason_4') %></p>
      </div>
    </li>

  </ul>
</div>
