<% content_for :title do
  t('ms_teams.signup.title')
 end %>

<div class="centered">
  <%= image_tag '3p/msteams-recognize.png', alt: 'Recognize and MS Teams logos', width: 70 %>
  <h1 class="balance-text"><%= t("ms_teams.signup.install") %></h1>
  <p class="balance-text"><%= t("ms_teams.signup.detail") %></p>

  <div class="hr hr-thick hr-space"></div>
</div>


<div class="flex justify-content-center">
  <div class="width-500 margin-auto">
    <div class="well width100">
      <div data-turbolinks="false">
        <h5>New users</h5>
        <%= link_to_o365 "Sign up with Microsoft" %>
      </div>
      <hr class="hr">
      <h5>Existing users</h5>
      <%= render partial: "user_sessions/login", locals: {skip_oauth_logins: true, skip_password: true, send_remote: true} %>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  setTimeout(function() {
    $body.addClass("loaded");
  }, 1000);
</script>
