<% content_for :title, @post.title %>

<div class="centered">
  <h1><%= @post.title %></h1>
  <p><%= @post.date %></p>

  <% if @post.image.present? %>
    <div style="margin-bottom: 20px;">
      <%= lazy_image_tag @post.image.url, alt: @post.image.alt %>
    </div>
  <% end %>
</div>

<%= @post.description&.html_safe %>

<% @post&.sections.each do |section| %>

  <div id='<%= section.section_name.gsub(' ', '_').downcase %>' class='article-list' style="margin-bottom: 50px;">
    <h2><%= section.title %></h2>
    <%= section.body.html_safe %>
  </div>

<% end %>

<%= render partial: 'layouts/microdata_json', formats: :html, locals: {
    type: "Article",
    description: "#{@post.description}",
    image: "#{@post.image.url}",
    name: "#{@post.title}",
    headline: "#{@post.title}",
    author: "Recognize",
    datePublished: "#{@post.date}",
    publisher: "Recognize"
} %>
