<% content_for :page_header do %>
  <%= page_nav({title: t("dict.recognitions"), cssclass: 'recognitions-admin-nav'}) do %>
    <div class="aside-nav">
      <nav class="tab-nav">
        <ul class="clearfix marginTop10">
          <%= pending_recognitions_nav_link %>
          <%= approved_recognitions_nav_link %>
          <%= denied_recognitions_nav_link %>
        </ul>
      </nav>
    </div>
  <% end %>
<% end %>

<% content_for :admin_content do %>
  <%= page_layout do %>
    <%= render_flash %>    
    <%= yield %>
  <% end %>

<% end %>
<% if manager_admin_controller? %>
  <%= render template: "layouts/manager_admin" %>
<% else %>
  <%= render template: "layouts/company_admin" %>
<% end %>
