<% content_for :page_header do %>
  <% content_for :left_nav do %>
    <% unless show_currency?(@company) %>
      <%= link_to "Contact us", contact_path, class: "button" %>
    <% else %>
      <nav class="clearfix animate-1 animate-hidden animate">
        <%= yield(:rewards_filter) %>
      </nav>
    <% end %>
  <% end %>

  <%= page_nav({title: t("rewards.rewards"), cssclass: 'rewards-admin-nav'}) do %>
    <div class="aside-nav">
      <nav class="tab-nav">
        <ul class="clearfix marginTop10">
          <%= rewards_nav_catalogs_link %>
          <%= rewards_nav_redemptions_link %>
          <%= rewards_nav_transactions_link %>
        </ul>
      </nav>
    </div>
  <% end %>
<% end %>

<% content_for :admin_content do %>
  <%= page_layout do %>
    <%= render_flash %>

    <div class="rewards-admin-wrapper">
      <% if @company.allow_admin_dashboard? %>
        <%= yield %>
      <% else %>
        <div id="rewards-header-area" class="clearfix" data-turbolinks="false">
          <div class="page-main marginBottom10">
            <h2>500 gift cards or make up your own rewards</h2>
            <p>Provide gift cards and company-fulfilled reward management to your staff, such as an Amazon card or paid time off.</p>
            <p><%= link_to("Upgrade now", welcome_path(upgrade: true), class: "unlocked button button-highlight") %> <%= link_to("Learn more about rewards", rewards_path, class: "unlocked button button-highlight") %></p>
            <p>Have questions? <%= link_to("Contact us", contact_sales_path, class: "unlocked") %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>
<%= render template: "layouts/company_admin" %>
