<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <%= csrf_meta_tag %>

  <title><%= page_title %></title>

  <%= javascript_include_tag "ms_teams" %>
  <link href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" rel="stylesheet">
  <link href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "pages/marketing-pages", media: "all" %>
  <%= stylesheet_link_tag "ms_teams", media: "all" %>
  
  <script>
    <%= render "ms_teams/js_auth_init" %>
    <%= content_for :pagejs %>
  </script>

  <style>
    html, body, #wrapper {
      min-height: 100%;
      height: 100%;
      width: 100%;
      min-width: 100%;
      font-family: lato, san francisco, ariel, sans serif;
    }

    p {
      font-size: 11px;
      color: #888;
    }

    .errorMessage {
      padding: 10px;
    }

    #wrapper {
      opacity: 0;
      -webkit-transition: .5s opacity linear;
      transition: .5s opacity linear;
    }

    #wrapper.loaded {
      opacity: 1;
    }

    #wrapper .inner {
      text-align: center;
    }

    .recognize {
      color: #1568A6;
      font-weight: 600;
    }
  </style> 
</head>
<body id=<%= page_id %>>
  <div class="font-semibold font-title">
    <%= yield %>
  </div>
</body>
</html>
